extends base

block content
  include _rcmMain
  section.main-section 
    .animal-results-window
      .ai-form-container#change-rest-container
        .ai-block-sub-title ИЗМЕНИТЬ
        .ai-block-title Допуск сотрудника

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-big.ai-input-block-pick-many#modules
          .ai-input-label Модули
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="help")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Пользователь будет иметь доступ к информации выбранных модулями

          .ai-pick#herd(class=`${user.accessBlocks.includes('herd') ? 'ai-to-pick' : ''}`) Животные
          .ai-pick#vet(class=`${user.accessBlocks.includes('vet') ? 'ai-to-pick' : ''}`) Ветеренария
          .ai-pick#warehouse(class=`${user.accessBlocks.includes('warehouse') ? 'ai-to-pick' : ''}`) Склад
          .ai-pick#distribution(class=`${user.accessBlocks.includes('distribution') ? 'ai-to-pick' : ''}`) Продукция
          .ai-pick#feed(class=`${user.accessBlocks.includes('feed') ? 'ai-to-pick' : ''}`) Кормление

        .ai-input-block.ai-radio-block
          .ai-radio#edit-data(class=`${user.editData === true ? 'ai-radio-active' : ''}`) 
            .ai-radio-inner
              ion-icon(name="checkmark")
          .ai-radio-text Добавление данных

          .ai-input-marker.ai-input-marker-r
            ion-icon(name="help")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text  Пользователь сможет добавлять и изменять данные связанные с выбранными модулями

        .ai-input-block.ai-radio-block
          .ai-radio#edit-other(class=`${user.editOther === true ? 'ai-radio-active' : ''}`) 
            .ai-radio-inner
              ion-icon(name="checkmark")
          .ai-radio-text Изменение чужих данных

          .ai-input-marker.ai-input-marker-r
            ion-icon(name="help")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Пользователь сможет редактировать информацию добавленную другими пользователями

        .ai-input-submit-btn(data-user-id=`${user._id}`) Сохранить




