extends base

block content
  include _rcmDist
  section.main-section 

    .animal-results-window

      -if(!forEdit)
        .ai-form-container.ai-form-dist#dist-raw-product-container
          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Сырье

          .ai-switch-btn-box
            .ai-switch-btn-slider
            .ai-switch-btn.ai-switch-btn-left.ai-switch-btn-active#milk Молоко
            .ai-switch-btn.ai-switch-btn-right#meat Мясо

          .ai-input-block.ai-input-block-text
            .ai-input-label Объем
            input.ai-input.ai-input-text#size(type="number" data-unit="l")
            .ai-inside-text л.
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date#date(type="datetime-local" )
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Описание
            textarea.ai-textarea.ai-input-text#note

          .ai-input-submit-btn(data-product-id=``) Сохранить


      -if(forEdit)
        .ai-form-container.ai-form-dist#edit-dist-raw-product-container
          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Сырье

          .ai-switch-btn-box
            .ai-switch-btn-slider
            .ai-switch-btn.ai-switch-btn-left#milk(class=`${product.product === 'milk' ? 'ai-switch-btn-to-pick' : ''}`) Молоко
            .ai-switch-btn.ai-switch-btn-right#meat(class=`${product.product === 'meat' ? 'ai-switch-btn-to-pick' : ''}`) Мясо

          .ai-input-block.ai-input-block-text
            .ai-input-label Объем
            input.ai-input.ai-input-text#size(type="number" data-unit="l" value=`${product.size}`)
            .ai-inside-text л.
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date#date(type="datetime-local" value=`${product.date.toLocaleString('ru-RU', {year: 'numeric'})}-${product.date.toLocaleString('ru-RU', {month: '2-digit'})}-${product.date.toLocaleString('ru-RU', {day: '2-digit'})}T${product.date.toLocaleString('ru-RU', {hour: '2-digit'})}:${product.date.toLocaleString('ru-RU', {minute: '2-digit'}).length < 2 ? `0${product.date.toLocaleString('ru-RU', {minute: '2-digit'})}` : product.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Описание
            textarea.ai-textarea.ai-input-text#note= product.note

          .ai-input-submit-btn(data-product-id=`${product._id}`) Сохранить



