extends base

block content
  include _rcmDist
  section.main-section.dist-module 

    .animal-results-window

      -if(!forEdit)

        .ai-form-container.ai-form-dist#dist-sale-container
          .arc-inventory-data(data-product=`milk` data-quantity=`${milkTotal}`)
          .arc-inventory-data(data-product=`cottage-cheese` data-quantity=`${cottageCheeseTotal}`)
          .arc-inventory-data(data-product=`butter` data-quantity=`${butterTotal}`)
          .arc-inventory-data(data-product=`cream` data-quantity=`${creamTotal}`)
          .arc-inventory-data(data-product=`cheese` data-quantity=`${cheeseTotal}`)
          .arc-inventory-data(data-product=`whey` data-quantity=`${wheyTotal}`)
          .arc-inventory-data(data-product=`sour-cream` data-quantity=`${sourCreamTotal}`)
          .arc-inventory-data(data-product=`meat` data-quantity=`${meatTotal}`)

          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Продажу

          -if(clients.length > 0)
            .ai-input-block.ai-input-block-select
              .ai-select-line
              .ai-input-label Клиент
              input.ai-input.ai-input-select(type="text" placeholder="Имя или наименование клиента")
              .ai-select-block.shadow#client
                each client in clients
                  .ai-select-item(data-id=`${client._id}`)
                    p.ai-select-name= client.name
                    each product in client.products
                      .asi-hidden(data-product=`${product.productName}` data-price=`${product.pricePer}`)

          .ai-combined-block.ai-combined-block-1(data-product="1")
            .ai-combined-block-title ПРОДУКТ #1
            //-.ai-combined-block-remove
              ion-icon(name="close")
            .ai-input-block.ai-input-block-text
              .ai-input-label Наименование продукта
              input.ai-input.ai-input-select.ai-input-validation.product-input(type="text" placeholder="Выберите продукт")
              .ai-select-block.shadow.ai-input-validation.product
                .ai-select-item(data-value="milk")
                  p.ai-select-name Молоко
                .ai-select-item(data-value="meat")
                  p.ai-select-name Мясо
                .ai-select-item(data-value="cottage-cheese")
                  p.ai-select-name Творог
                .ai-select-item(data-value="cheese")
                  p.ai-select-name Сыр
                .ai-select-item(data-value="butter")
                  p.ai-select-name Масло
                .ai-select-item(data-value="whey")
                  p.ai-select-name Сыворотка
                .ai-select-item(data-value="cream")
                  p.ai-select-name Сливки
                .ai-select-item(data-value="sour-cream")
                  p.ai-select-name Сметана

            .ai-input-block.ai-input-block-small-select
              .ai-input-label Вес | Объем
              .ai-input-text-wraper
                input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.size(type="number")
                .ai-inside-text.range-text
              .ai-small-select.unit
                p л.
                .ai-select-line
                .ai-small-select-block.shadow
                  .ai-small-select-item(data-val="kg") кг.
                  .ai-small-select-item.ai-small-select-item-selected(data-val="l") л.

            .ai-input-block.ai-input-block-small-select
              .ai-input-label Цена
              .ai-input-text-wraper
                input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.price(type="number")
                .ai-inside-text.per-text ₽ / л.
              .ai-inside-text.price-text = 0₽

          .ai-add-input-container
            .ai-add-input#add-product-input
              p
                | Продукт
                span +

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата
            input.ai-input.ai-input-date#date(type="datetime-local")
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              //-.ai-input-eb-title Титуль
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Заметка
            textarea.ai-textarea.ai-input-text#note

          .ai-sale-total#total(data-total="0") 0₽


          .ai-input-submit-btn Сохранить

      -if(forEdit)
        
        .ai-form-container.ai-form-dist#edit-dist-sale-container
          .arc-inventory-data(data-product=`milk` data-quantity=`${milkTotal}`)
          .arc-inventory-data(data-product=`cottage-cheese` data-quantity=`${cottageCheeseTotal}`)
          .arc-inventory-data(data-product=`butter` data-quantity=`${butterTotal}`)
          .arc-inventory-data(data-product=`cream` data-quantity=`${creamTotal}`)
          .arc-inventory-data(data-product=`cheese` data-quantity=`${cheeseTotal}`)
          .arc-inventory-data(data-product=`whey` data-quantity=`${wheyTotal}`)
          .arc-inventory-data(data-product=`sour-cream` data-quantity=`${sourCreamTotal}`)
          .arc-inventory-data(data-product=`meat` data-quantity=`${meatTotal}`)

          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Продажу

          -if(clients.length > 0)
            .ai-input-block.ai-input-block-select
              .ai-select-line
              .ai-input-label Клиент
              input.ai-input.ai-input-select(type="text" placeholder="Имя или наименование клиента")
              .ai-select-block.shadow#client
                each client in clients
                  .ai-select-item(data-id=`${client._id}` class=`${client._id.toString() === products[0].client._id.toString() ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name= client.name
                    each product in client.products
                      .asi-hidden(data-product=`${product.productName}` data-price=`${product.pricePer}`)

          each product in products
            .ai-combined-block(data-product=`${products.indexOf(product) + 1}` )
              .ai-combined-block-title= `ПРОДУКТ #${products.indexOf(product) + 1}`
              .ai-combined-block-remove
                ion-icon(name="close")
              .ai-input-block.ai-input-block-text
                .ai-input-label Наименование продукта
                input.ai-input.ai-input-select.ai-input-validation(type="text" placeholder="Выберите продукт")
                .ai-select-block.shadow.ai-input-validation.product
                  .ai-select-item(data-value="milk" class=`${product.product === 'milk' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Молоко
                  .ai-select-item(data-value="meat" class=`${product.product === 'meat' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Мясо
                  .ai-select-item(data-value="cottage-cheese" class=`${product.product === 'cottage-cheese' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Творог
                  .ai-select-item(data-value="cheese" class=`${product.product === 'cheese' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сыр
                  .ai-select-item(data-value="butter" class=`${product.product === 'butter' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Масло
                  .ai-select-item(data-value="whey" class=`${product.product === 'whey' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сыворотка
                  .ai-select-item(data-value="cream" class=`${product.product === 'cream' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сливки
                  .ai-select-item(data-value="sour-cream" class=`${product.product === 'sour-cream' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сметана

              .ai-input-block.ai-input-block-small-select
                .ai-input-label Вес | Объем
                .ai-input-text-wraper
                  input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.size(type="number" value=`${product.size}`)
                  .ai-inside-text.range-text
                .ai-small-select.unit
                  p л.
                  .ai-select-line
                  .ai-small-select-block.shadow
                    .ai-small-select-item(data-val="kg" class=`${product.unit === 'kg' ? 'ai-small-select-item-selected' : ''}`) кг.
                    .ai-small-select-item(data-val="l" class=`${product.unit === 'l' ? 'ai-small-select-item-selected' : ''}`) л.

              .ai-input-block.ai-input-block-small-select
                .ai-input-label Цена
                .ai-input-text-wraper
                  input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.price(type="number" value=`${product.pricePer}`)
                  .ai-inside-text.per-text ₽ / л.
                .ai-inside-text.price-text = 0₽

          .ai-add-input-container
            .ai-add-input#add-product-input
              p
                | Продукт
                span +

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата
            input.ai-input.ai-input-date#date(type="datetime-local" value=`${products[0].date.toLocaleString('ru-RU', {year: 'numeric'})}-${products[0].date.toLocaleString('ru-RU', {month: '2-digit'})}-${products[0].date.toLocaleString('ru-RU', {day: '2-digit'})}T${products[0].date.toLocaleString('ru-RU', {hour: '2-digit'})}:${products[0].date.toLocaleString('ru-RU', {minute: '2-digit'}).length < 2 ? `0${products[0].date.toLocaleString('ru-RU', {minute: '2-digit'})}` : products[0].date.toLocaleString('ru-RU', {minute: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              //-.ai-input-eb-title Титуль
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Заметка
            textarea.ai-textarea.ai-input-text#note= products[0].note

          .ai-sale-total#total(data-total="0") 0₽


          .ai-input-submit-btn(data-sale-id=`${products[0].subId}`) Сохранить



