extends base

block content
  include _rcmDist
  section.main-section.dist-module 

    .animal-results-window

      -if(!forEdit)
        .ai-form-container.ai-form-dist#dist-client-container
          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Клиента

          .ai-input-block.ai-input-block-text
            .ai-input-label Имя | Наименование
            input.ai-input.ai-input-text#name(type="text" )
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text
            .ai-input-label Адрес
            input.ai-input.ai-input-text#adress(type="text" )
          

          .ai-input-block.ai-input-block-small-select
            .ai-input-label Номер телефона
            .ai-small-select#phone-number-code
              p +7
              .ai-select-line
              .ai-small-select-block.shadow
                .ai-small-select-item.ai-small-select-item-selected(data-val="7") +7
            input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation#phone-number(type="number" maxlength="10")
          
          .ai-input-block.ai-input-block-text
            .ai-input-label Электронная почта
            input.ai-input.ai-input-text.ai-input-validation#email(type="text" ) 
          
          //-.ai-combined-block#ai-combined-block-1(data-product="1")
            .ai-combined-block-title ПРОДУКТ #1
            //-.ai-combined-block-remove
              ion-icon(name="close")
            .ai-input-block.ai-input-block-text
              .ai-input-label Наименование продукта
              input.ai-input.ai-input-select.ai-input-validation(type="text" placeholder="Выберите продукт")
              .ai-select-block.shadow.ai-input-validation.product
                .ai-select-item(data-value="milk")
                  p.ai-select-name Молоко
                .ai-select-item(data-value="meat")
                  p.ai-select-name Мясо
                .ai-select-item(data-value="cottage-cheese")
                  p.ai-select-name Творог
                .ai-select-item(data-value="cheese")
                  p.ai-select-name Сыр
                .ai-select-item(data-value="butter")
                  p.ai-select-name Масло
                .ai-select-item(data-value="whey")
                  p.ai-select-name Сыворотка
                .ai-select-item(data-value="cream")
                  p.ai-select-name Сливки
                .ai-select-item(data-value="sour-cream")
                  p.ai-select-name Сметана

            .ai-input-block.ai-input-block-small-select
              .ai-input-label Цена
              .ai-input-text-wraper
                input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.price(type="number")
                .ai-inside-text ₽
              .ai-small-select.unit
                p л.
                .ai-select-line
                .ai-small-select-block.shadow
                  .ai-small-select-item(data-val="kg") кг.
                  .ai-small-select-item.ai-small-select-item-selected(data-val="l") л.
          
          
          .ai-add-input-container
            .ai-add-input#add-product-input
              p
                | Продукт
                span +
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="help")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Добавьте продукты которые покупает данный клиент

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Заметка
            textarea.ai-textarea.ai-input-text#note
          
          .ai-input-submit-btn(data-animal-id=``) Сохранить

      -if(forEdit)
        .ai-form-container.ai-form-dist#edit-dist-client-container
          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Клиента

          .ai-input-block.ai-input-block-text
            .ai-input-label Имя | Наименование
            input.ai-input.ai-input-text#name(type="text" value=`${client.name}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text
            .ai-input-label Адрес
            input.ai-input.ai-input-text#adress(type="text" value=`${client.adress}`)
          

          .ai-input-block.ai-input-block-small-select
            .ai-input-label Номер телефона
            .ai-small-select#phone-number-code
              p +7
              .ai-select-line
              .ai-small-select-block.shadow
                .ai-small-select-item.ai-small-select-item-selected(data-val="7") +7
            input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation#phone-number(type="number" maxlength="10" value=`${client.phoneNumber}`)
          
          .ai-input-block.ai-input-block-text
            .ai-input-label Электронная почта
            input.ai-input.ai-input-text.ai-input-validation#email(type="text" value=`${client.email}`) 

          each product in client.products
            .ai-combined-block(data-product=`${client.products.indexOf(product) + 1}`)
              .ai-combined-block-title= `ПРОДУКТ #${client.products.indexOf(product) + 1}`
              .ai-combined-block-remove
                ion-icon(name="close")
              .ai-input-block.ai-input-block-text
                .ai-input-label Наименование продукта
                input.ai-input.ai-input-select.ai-input-validation(type="text" placeholder="Выберите продукт")
                .ai-select-block.shadow.ai-input-validation.product
                  .ai-select-item(data-value="milk" class=`${product.productName === 'milk' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Молоко
                  .ai-select-item(data-value="meat" class=`${product.productName === 'meat' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Мясо
                  .ai-select-item(data-value="cottage-cheese" class=`${product.productName === 'cottage-cheese' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Творог
                  .ai-select-item(data-value="cheese" class=`${product.productName === 'cheese' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сыр
                  .ai-select-item(data-value="butter" class=`${product.productName === 'butter' ? 'ai-select-item-selected' : ''}` )
                    p.ai-select-name Масло
                  .ai-select-item(data-value="whey" class=`${product.productName === 'whey' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сыворотка
                  .ai-select-item(data-value="cream" class=`${product.productName === 'cream' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сливки
                  .ai-select-item(data-value="sour-cream" class=`${product.productName === 'sour-cream' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сметана

              .ai-input-block.ai-input-block-small-select
                .ai-input-label Цена
                .ai-input-text-wraper
                  input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.price(type="number" value=`${product.pricePer}`)
                  .ai-inside-text ₽
                .ai-small-select.unit
                  p л.
                  .ai-select-line
                  .ai-small-select-block.shadow
                    .ai-small-select-item(data-val="kg" class=`${product.unit === 'kg' ? 'ai-small-select-item-selected' : ''}`) кг.
                    .ai-small-select-item(data-val="l" class=`${product.unit === 'l' ? 'ai-small-select-item-selected' : ''}`) л.
          
          
          .ai-add-input-container
            .ai-add-input#add-product-input
              p
                | Продукт
                span +
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="help")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Добавьте продукты которые покупает данный клиент

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Заметка
            textarea.ai-textarea.ai-input-text#note= client.note
          
          .ai-input-submit-btn(data-client-id=`${client._id}`) Сохранить


 
