extends base

block content
  include _rcmDist
  section.main-section.dist-module

    .animal-results-window

      -if(!forEdit)

        .ai-form-container.ai-form-dist#dist-write-off-container(data-product=`${engProduct}` data-unit=`${unitProduct}`)
          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title= `Списание: ${rusProduct}`

          .ai-input-block.ai-input-block-text.purchase-input
            .ai-input-label Количество
            input.ai-input.ai-input-text#size(type="number" data-unit=`${unitRaw}`)
            .ai-inside-text= `${unitProduct === 'l' ? 'л.' : 'кг.'}`
          
          .ai-total-product-box
            .ai-total-product-line
              .ai-total-product-line-inner(data-total=`${totalProduct}`)
            .ai-total-product-text= `${totalProduct} ${unitProduct === 'l' ? 'л.' : 'кг.'}`

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date#date(type="datetime-local" )
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Заметка
            textarea.ai-textarea.ai-input-text#note

          .ai-input-submit-btn(data-product-id=``) Сохранить

      -if(forEdit)
        .ai-form-container.ai-form-dist#edit-dist-write-off-container(data-product=`${engProduct}` data-unit=`${product.unit}`)
          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title= `Переработка ${rusProduct}`

          .ai-input-block.ai-input-block-text.purchase-input
            .ai-input-label Количество
            input.ai-input.ai-input-text#size(type="number" data-unit=`${product.unit}`  value=`${product.size}`)
            .ai-inside-text= `${product.unit === 'l' ? 'л.' : 'кг.'}`

          .ai-total-product-box
            .ai-total-product-line
              .ai-total-product-line-inner(data-total=`${totalProduct}`)
            .ai-total-product-text= `${totalProduct} ${product.unit === 'l' ? 'л.' : 'кг.'}`

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date#date(type="datetime-local" value=`${product.date.toLocaleString('ru-RU', {year: 'numeric'})}-${product.date.toLocaleString('ru-RU', {month: '2-digit'})}-${product.date.toLocaleString('ru-RU', {day: '2-digit'})}T${product.date.toLocaleString('ru-RU', {hour: '2-digit'})}:${product.date.toLocaleString('ru-RU', {minute: '2-digit'}).length < 2 ? `0${product.date.toLocaleString('ru-RU', {minute: '2-digit'})}` : product.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Заметка
            textarea.ai-textarea.ai-input-text#note= product.note

          .ai-input-submit-btn(data-product-id=`${product._id}`) Сохранить



