extends base

block content

  section.main-section 

    .animal-results-window

      -if(!forEdit)

        .animal-results-container.animal-results-big#add-consumption-container
          .arc-inventory-data(data-product=`milk` data-quantity=`${milkTotal}`)
          .arc-inventory-data(data-product=`cottage-cheese` data-quantity=`${cottageCheeseTotal}`)
          .arc-inventory-data(data-product=`butter` data-quantity=`${butterTotal}`)
          .arc-inventory-data(data-product=`cream` data-quantity=`${creamTotal}`)
          .arc-inventory-data(data-product=`cheese` data-quantity=`${cheeseTotal}`)
          .arc-inventory-data(data-product=`whey` data-quantity=`${wheyTotal}`)
          .arc-inventory-data(data-product=`sour-cream` data-quantity=`${sourCreamTotal}`)
          .arc-inventory-data(data-product=`meat` data-quantity=`${meatTotal}`)
          //-img.ar-image-back(src="/img/images/milk-icon.png")

          .ar-block-sub-title ДОБАВИТЬ
          .ar-block-title Употребление
          .ar-switch-btn-box
            .ar-switch-btn.ar-switch-btn-active#personal-use Личное
            .ar-switch-btn#calf-feeding Телятам

          .aa-input-united-block 
            .aa-input-block 
              label.aa-label(for="type")
                p Продукт
              .aa-select-box.aa-select-box-one
                .aa-select-text Выберите продукт
                ion-icon(name="chevron-down")
                .aa-select-options-box
                  .aa-select-option(data-val="milk") Молоко
                  .aa-select-option(data-val="cottage-cheese") Творог
                  .aa-select-option(data-val="butter") Масло 
                  .aa-select-option(data-val="cream") Сливки 
                  .aa-select-option(data-val="cheese") Сыр
                  .aa-select-option(data-val="whey") Сыворотка 
                  .aa-select-option(data-val="sour-cream") Сметана  
                  .aa-select-option(data-val="meat") Мясо
            .aa-input-block
              lable.aa-label(for="price") 
                p Вес | Объем
              .aa-double-input-block
                input.aa-double-input.size-input(type="number")
                p.aa-double-price-text.range-text / &nbsp;
                select.aa-double-input.unit-input
                  option(value="l" selected) Л.
                  option(value="kg") Кг.  
          .aa-add-more-container
            .aa-add-more#add-product-input
              p Добавить продукт
              ion-icon.aa-add-more-icon(name="add")
          .aa-input-block
            label.aa-label(for="date")
              p Дата
            input.aa-text-input.aa-date-input#date(type="date")

          .aa-input-block
            lable.aa-label(for="note") 
              p Заметка
            textarea.aa-textarea-input#note(type="text")


          .ar-btn-box          
            a.ar-add-button Сохранить

      -if(forEdit)
        .animal-results-container.animal-results-big#edit-consumption-container
          .arc-inventory-data(data-product=`milk` data-quantity=`${milkTotal}`)
          .arc-inventory-data(data-product=`cottage-cheese` data-quantity=`${cottageCheeseTotal}`)
          .arc-inventory-data(data-product=`butter` data-quantity=`${butterTotal}`)
          .arc-inventory-data(data-product=`cream` data-quantity=`${creamTotal}`)
          .arc-inventory-data(data-product=`cheese` data-quantity=`${cheeseTotal}`)
          .arc-inventory-data(data-product=`whey` data-quantity=`${wheyTotal}`)
          .arc-inventory-data(data-product=`sour-cream` data-quantity=`${sourCreamTotal}`)
          .arc-inventory-data(data-product=`meat` data-quantity=`${meatTotal}`)

          //-img.ar-image-back(src="/img/images/milk-icon.png")
          .ar-block-sub-title РЕДАКТИРОВАТЬ
          .ar-block-title Употребление

          .ar-switch-btn-box
            .ar-switch-btn#personal-use(class=`${products[0].distributionResult === 'personal-use' ? 'ar-switch-btn-active' : ''}`) Личное
            .ar-switch-btn#calf-feeding(class=`${products[0].distributionResult === 'calf-feeding' ? 'ar-switch-btn-active' : ''}`) Телятам

          each product in products
            .aa-input-united-block.aa-input-united-block-valid(data-id=`${product._id}` data-new="false")
              .aa-input-block 
                label.aa-label(for="type")
                  p Продукт
                .aa-select-box.aa-select-box-one
                  .aa-select-text Выберите продукт
                  ion-icon(name="chevron-down")
                  .aa-select-options-box
                    .aa-select-option(class=`${product.product === 'milk' ? 'aa-select-option-selected' : ''}`  data-val="milk") Молоко
                    .aa-select-option(class=`${product.product === 'cottage-cheese' ? 'aa-select-option-selected' : ''}`  data-val="cottage-cheese") Творог
                    .aa-select-option(class=`${product.product === 'butter' ? 'aa-select-option-selected' : ''}`  data-val="butter") Масло 
                    .aa-select-option(class=`${product.product === 'cream' ? 'aa-select-option-selected' : ''}`  data-val="cream") Сливки 
                    .aa-select-option(class=`${product.product === 'cheese' ? 'aa-select-option-selected' : ''}`  data-val="cheese") Сыр 
                    .aa-select-option(class=`${product.product === 'whey' ? 'aa-select-option-selected' : ''}`  data-val="whey") Сыворотка 
                    .aa-select-option(class=`${product.product === 'sour-cream' ? 'aa-select-option-selected' : ''}`  data-val="sour-cream") Сметана 
                    .aa-select-option(class=`${product.product === 'meat' ? 'aa-select-option-selected' : ''}`  data-val="meat") Мясо 
              .aa-input-block
                lable.aa-label(for="price") 
                  p Вес | Объем
                .aa-double-input-block
                  input.aa-double-input.size-input(type="number"  value=`${product.size}`)
                  p.aa-double-price-text.range-text / &nbsp;
                  select.aa-double-input.unit-input
                    -if(product.unit === 'l')
                      option(value="l" selected hidden) Л.
                    -if(product.unit === 'kg')
                      option(value="kg" selected hidden) Кг.  
                    option(value="l" selected) Л.
                    option(value="kg") Кг.  
              .aa-iu-remove   
                ion-icon(name="close")
          .aa-add-more-container
            .aa-add-more#add-product-input
              p Добавить продукт
              ion-icon.aa-add-more-icon(name="add")
          .aa-input-block
            label.aa-label(for="date")
              p Дата
            input.aa-text-input.aa-date-input#date(type="date" value=`${products[0].date.toLocaleString('ru-RU', {year: 'numeric'})}-${products[0].date.toLocaleString('ru-RU', {month: '2-digit'})}-${products[0].date.toLocaleString('ru-RU', {day: '2-digit'})}`)

          .aa-input-block
            lable.aa-label(for="note") 
              p Заметка
            textarea.aa-textarea-input#note(type="text")= `${products[0].note !== undefined ? products[0].note : ''}`

          .ar-btn-box          
            a.ar-add-button(data-consumption-id=`${products[0].subId}`) Сохранить



