extends base

block content

  section.main-section 

    .animal-results-window

      -if(!forEdit)
        //-.animal-distribution-decide-container
          .addc-title ДОБАВИТЬ...
          .addc-item
            img(src="/img/images/milk-bottle-icon.png")
            .addc-item-text Сырье
          .addc-item
            img(src="/img/images/cheese-icon.png")
            .addc-item-text Переработка

        .animal-results-container.animal-results-big#add-raw-product-container
          //-img.ar-image-back(src="/img/images/milk-icon.png")

          .ar-block-sub-title ДОБАВИТЬ
          .ar-block-title Сырье
          .ar-switch-btn-box
            .ar-switch-btn.ar-switch-btn-active#milk Молоко
            .ar-switch-btn#meat Мясо
          //-.aa-input-block
            lable.aa-label(for="price") 
              p Вес | Объем
            .aa-double-input-block
              input.aa-double-input(type="number")
              select.aa-double-input
                option(value="l" selected) Л.
                option(value="kg") Кг.  
          .aa-input-block
            lable.aa-label(for="size") 
              p Объем
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input#size(type="number" data-unit="l" )
              p.aa-double-price-text л.
          .aa-input-block
            label.aa-label(for="date")
              p Дата
            input.aa-text-input.aa-date-input#date(type="date")

          .aa-input-block
            .detailed-info-block
              .detailed-info-icon 
                ion-icon(name="help")
              .detailed-info-text После окончания срока годности этот продукт будет записан как просроченный.
                .detailed-info-text-triangle
            lable.aa-label(for="price") 
              p Срок годности
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input#exp-date(type="number" )
              p.aa-double-price-text дней 

          .aa-input-block
            lable.aa-label(for="note") 
              p Заметка
            textarea.aa-textarea-input#note(type="text")

          //-.aa-input-block
            lable.aa-label(for="price") 
              p Цена
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input(type="number")
              p.aa-double-price-text / 1 Кг. 
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input(type="number")
              p.aa-double-price-text / 256 Кг. 


          .ar-btn-box          
            a.ar-add-button(data-product-id=``) Сохранить

        //-.animal-results-container.animal-results-big#add-processed-product-container
          //-img.ar-image-back(src="/img/images/milk-icon.png")

          .ar-block-sub-title ДОБАВИТЬ
          .ar-block-title Переработка

          .aa-input-block
            lable.aa-label(for="size") 
              p Молока переработано
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input#size(type="number" data-unit="l" )
              p.aa-double-price-text л.
          .aa-total-milk-box
            .aa-total-milk-line
              .aa-total-milk-line-inner
            .aa-total-milk-text 480 л.
          .aa-input-united-block 
            .aa-input-block 
              label.aa-label(for="type")
                p Продукт
              .aa-select-box.aa-select-box-one
                .aa-select-text Выберите продукт
                ion-icon(name="chevron-down")
                .aa-select-options-box
                  .aa-select-option(data-val="cottage-cheese") Творог
                  .aa-select-option(data-val="butter") Масло 
                  .aa-select-option(data-val="whey") Сыворотка 
                  .aa-select-option(data-val="cream") Сливки 
                  .aa-select-option(data-val="sour-cream") Сметана  
            .aa-input-block
              lable.aa-label(for="price") 
                p Вес | Объем
              .aa-double-input-block
                input.aa-double-input(type="number" )
                select.aa-double-input
                  option(value="l" selected) Л.
                  option(value="kg") Кг.  
            .aa-input-block
              .detailed-info-block
                .detailed-info-icon 
                  ion-icon(name="help")
                .detailed-info-text После окончания срока годности этот продукт будет записан как просроченный.
                  .detailed-info-text-triangle
              lable.aa-label(for="price") 
                p Срок годности
              .aa-double-input-block.aa-double-price-block
                input.aa-double-price-input#exp-date(type="number" )
                p.aa-double-price-text дней 
          .aa-add-more-container
            .aa-add-more#add-product-input
              p Добавить продукт
              ion-icon.aa-add-more-icon(name="add")
          .aa-input-block
            label.aa-label(for="date")
              p Дата
            input.aa-text-input.aa-date-input#date(type="date")

          .aa-input-block
            lable.aa-label(for="note") 
              p Заметка
            textarea.aa-textarea-input#note(type="text")

          //-.aa-input-block
            lable.aa-label(for="price") 
              p Цена
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input(type="number")
              p.aa-double-price-text / 1 Кг. 
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input(type="number")
              p.aa-double-price-text / 256 Кг. 


          .ar-btn-box          
            a.ar-add-button(data-product-id=``) Сохранить

      -if(forEdit)
        .animal-results-container.animal-results-big#edit-raw-product-container
          //-img.ar-image-back(src="/img/images/milk-icon.png")
          .ar-block-sub-title РЕДАКТИРОВАТЬ
          .ar-block-title Продукт

          .ar-switch-btn-box
            .ar-switch-btn#milk(class=`${product.rawProduct === 'milk' ? 'ar-switch-btn-active' : ''}`) Молоко
            .ar-switch-btn#meat(class=`${product.rawProduct === 'meat' ? 'ar-switch-btn-active' : ''}`) Мясо
          .aa-input-block
            lable.aa-label(for="size") 
              p= `${product.rawProduct === 'milk' ? 'Объем' : 'Вес'}`
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input#size(type="number" data-unit="l"  value=`${product.size}`)
              p.aa-double-price-text= `${product.rawProduct === 'milk' ? 'л.' : 'кг.'}`
          .aa-input-block
            label.aa-label(for="date")
              p Дата
            input.aa-text-input.aa-date-input#date(type="date"  value=`${product.date.toLocaleString('ru-RU', {year: 'numeric'})}-${product.date.toLocaleString('ru-RU', {month: '2-digit'})}-${product.date.toLocaleString('ru-RU', {day: '2-digit'})}`)

          .aa-input-block
            .detailed-info-block
              .detailed-info-icon 
                ion-icon(name="help")
              .detailed-info-text После окончания срока годности этот продукт будет записан как просроченный.
                .detailed-info-text-triangle
            lable.aa-label(for="price") 
              p Срок годности
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input#exp-date(type="number"  value=`${Math.round((product.expDate.getTime() - product.date.getTime()) / 24 / 60 / 60 / 1000)}`)
              p.aa-double-price-text дней 

          .aa-input-block
            lable.aa-label(for="note") 
              p Заметка
            textarea.aa-textarea-input#note(type="text")= `${product.note !== undefined ? product.note : ''}`


          .ar-btn-box          
            a.ar-add-button(data-product-id=`${product._id}`) Сохранить



