extends base

block content

  section.main-section 

    .animal-results-window

      -if(!forEdit)

        .animal-results-container.animal-results-big#add-process-container
          //-img.ar-image-back(src="/img/images/milk-icon.png")

          .ar-block-sub-title ДОБАВИТЬ
          .ar-block-title Переработка

          .aa-input-block
            lable.aa-label(for="size") 
              p Молока переработано
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input#size(type="number" data-unit="l" oninput="this.value = Math.abs(this.value)")
              p.aa-double-price-text л.
          .aa-total-milk-box
            .aa-total-milk-line
              .aa-total-milk-line-inner(data-total=`${totalMilk}`)
            .aa-total-milk-text= `${totalMilk} л.`
          .aa-input-united-block 
            .aa-input-block 
              label.aa-label(for="type")
                p Продукт
              .aa-select-box.aa-select-box-one
                .aa-select-text Выберите продукт
                ion-icon(name="chevron-down")
                .aa-select-options-box
                  .aa-select-option(data-val="cottage-cheese") Творог
                  .aa-select-option(data-val="butter") Масло 
                  .aa-select-option(data-val="cream") Сливки 
                  .aa-select-option(data-val="cheese") Сыр
                  .aa-select-option(data-val="whey") Сыворотка 
                  .aa-select-option(data-val="sour-cream") Сметана  
            .aa-input-block
              lable.aa-label(for="price") 
                p Вес | Объем
              .aa-double-input-block
                input.aa-double-input.size-input(type="number" oninput="this.value = Math.abs(this.value)")
                select.aa-double-input.unit-input
                  option(value="l" selected) Л.
                  option(value="kg") Кг.  
            .aa-input-block
              //-.detailed-info-block
                .detailed-info-icon 
                  ion-icon(name="help")
                .detailed-info-text После окончания срока годности этот продукт будет записан как просроченный.
                  .detailed-info-text-triangle
              lable.aa-label(for="price") 
                p Срок годности
              .aa-double-input-block.aa-double-price-block
                input.aa-double-price-input.exp-date-input(type="number" oninput="this.value = Math.abs(this.value)")
                p.aa-double-price-text дней 
          .aa-add-more-container
            .aa-add-more#add-product-input
              p Добавить продукт
              ion-icon.aa-add-more-icon(name="add")
          .aa-input-block
            label.aa-label(for="date")
              p Дата
            input.aa-text-input.aa-date-input#date(type="date")

          .aa-input-block
            lable.aa-label(for="note") 
              p Заметка
            textarea.aa-textarea-input#note(type="text")

          //-.aa-input-block
            lable.aa-label(for="price") 
              p Цена
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input(type="number")
              p.aa-double-price-text / 1 Кг. 
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input(type="number")
              p.aa-double-price-text / 256 Кг. 


          .ar-btn-box          
            a.ar-add-button(data-product-id=``) Сохранить

      -if(forEdit)
        .animal-results-container.animal-results-big#edit-process-container
          //-img.ar-image-back(src="/img/images/milk-icon.png")
          .ar-block-sub-title РЕДАКТИРОВАТЬ
          .ar-block-title Продукт

          .aa-input-block
            lable.aa-label(for="size") 
              p Молока переработано
            .aa-double-input-block.aa-double-price-block
              input.aa-double-price-input#size(type="number" data-unit="l" oninput="this.value = Math.abs(this.value)" value=`${rawProduct.size}`)
              p.aa-double-price-text л.
          .aa-total-milk-box
            .aa-total-milk-line
              .aa-total-milk-line-inner(data-total=`${totalMilk + rawProduct.size}`)
            .aa-total-milk-text= `${totalMilk + rawProduct.size} л.`

          each product in products
            .aa-input-united-block.aa-input-united-block-valid(data-id=`${product._id}` data-new="false")
              .aa-input-block 
                label.aa-label(for="type")
                  p Продукт
                .aa-select-box.aa-select-box-one
                  .aa-select-text Выберите продукт
                  ion-icon(name="chevron-down")
                  .aa-select-options-box
                    .aa-select-option(class=`${product.product === 'cottage-cheese' ? 'aa-select-option-selected' : ''}`  data-val="cottage-cheese") Творог
                    .aa-select-option(class=`${product.product === 'butter' ? 'aa-select-option-selected' : ''}`  data-val="butter") Масло 
                    .aa-select-option(class=`${product.product === 'cream' ? 'aa-select-option-selected' : ''}`  data-val="cream") Сливки 
                    .aa-select-option(class=`${product.product === 'cheese' ? 'aa-select-option-selected' : ''}`  data-val="cheese") Сыр 
                    .aa-select-option(class=`${product.product === 'whey' ? 'aa-select-option-selected' : ''}`  data-val="whey") Сыворотка 
                    .aa-select-option(class=`${product.product === 'sour-cream' ? 'aa-select-option-selected' : ''}`  data-val="sour-cream") Сметана 
              .aa-input-block
                lable.aa-label(for="price") 
                  p Вес | Объем
                .aa-double-input-block
                  input.aa-double-input.size-input(type="number" oninput="this.value = Math.abs(this.value)" value=`${product.size}`)
                  select.aa-double-input.unit-input
                    -if(product.unit === 'l')
                      option(value="l" selected hidden) Л.
                    -if(product.unit === 'kg')
                      option(value="kg" selected hidden) Кг.  
                    option(value="l" selected) Л.
                    option(value="kg") Кг.  
              .aa-input-block
                lable.aa-label(for="price") 
                  p Срок годности
                .aa-double-input-block.aa-double-price-block
                  input.aa-double-price-input.exp-date-input(type="number" oninput="this.value = Math.abs(this.value)" value=`${Math.round((product.expDate.getTime() - rawProduct.date.getTime()) / 24 / 60 / 60 / 1000)}`)
                  p.aa-double-price-text дней 
              .aa-iu-remove   
                ion-icon(name="close")
          
          
          .aa-add-more-container
            .aa-add-more#add-product-input
              p Добавить продукт
              ion-icon.aa-add-more-icon(name="add")
          .aa-input-block
            label.aa-label(for="date")
              p Дата
            input.aa-text-input.aa-date-input#date(type="date" value=`${rawProduct.date.toLocaleString('ru-RU', {year: 'numeric'})}-${rawProduct.date.toLocaleString('ru-RU', {month: '2-digit'})}-${rawProduct.date.toLocaleString('ru-RU', {day: '2-digit'})}`)

          .aa-input-block
            lable.aa-label(for="note") 
              p Заметка
            textarea.aa-textarea-input#note(type="text")= `${rawProduct.note !== undefined ? rawProduct.note : ''}`

          .ar-btn-box          
            a.ar-add-button(data-product-id=`${rawProduct._id}`) Сохранить



