extends base

block content
  include _rcmDist
  section.main-section.dist-module 

    .animal-results-window

      -if(!forEdit)

        .ai-form-container.ai-form-dist#dist-order-container
          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Заказ

          .ai-switch-btn-box
            .ai-switch-btn-slider
            .ai-switch-btn.ai-switch-btn-left.ai-switch-btn-active#once(data-el="once-date") Разовый
            .ai-switch-btn.ai-switch-btn-right#recuring(data-el="recuring-date") Повторяющийся

          -if(clients.length > 0)
            .ai-input-block.ai-input-block-select
              .ai-select-line
              .ai-input-label Клиент
              input.ai-input.ai-input-select(type="text" placeholder="Имя или наименование клиента")
              .ai-select-block.shadow#client
                each client in clients
                  .ai-select-item(data-id=`${client._id}`)
                    p.ai-select-name= client.name
                    each product in client.products
                      .asi-hidden(data-product=`${product.productName}` data-price=`${product.pricePer}`)  

          .ai-combined-block.ai-combined-block-1(data-product="1")
            .ai-combined-block-title ПРОДУКТ #1
            //-.ai-combined-block-remove
              ion-icon(name="close")
            .ai-input-block.ai-input-block-text
              .ai-input-label Наименование продукта
              input.ai-input.ai-input-select.ai-input-validation.product-input(type="text" placeholder="Выберите продукт")
              .ai-select-block.shadow.ai-input-validation.product
                .ai-select-item(data-value="milk")
                  p.ai-select-name Молоко
                .ai-select-item(data-value="meat")
                  p.ai-select-name Мясо
                .ai-select-item(data-value="cottage-cheese")
                  p.ai-select-name Творог
                .ai-select-item(data-value="cheese")
                  p.ai-select-name Сыр
                .ai-select-item(data-value="butter")
                  p.ai-select-name Масло
                .ai-select-item(data-value="whey")
                  p.ai-select-name Сыворотка
                .ai-select-item(data-value="cream")
                  p.ai-select-name Сливки
                .ai-select-item(data-value="sour-cream")
                  p.ai-select-name Сметана

            .ai-input-block.ai-input-block-small-select
              .ai-input-label Вес | Объем
              .ai-input-text-wraper
                input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.size(type="number")
                .ai-inside-text.range-text
              .ai-small-select.unit
                p л.
                .ai-select-line
                .ai-small-select-block.shadow
                  .ai-small-select-item(data-val="kg") кг.
                  .ai-small-select-item.ai-small-select-item-selected(data-val="l") л.        


          .ai-add-input-container
            .ai-add-input#add-product-input
              p
                | Продукт
                span +

          .ai-input-block.ai-input-block-text#once-date
            .ai-input-label Дата
            input.ai-input.ai-input-date#date(type="datetime-local")
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-small-select#recuring-date
            .ai-input-label День и время
            .ai-small-select.step-unit.ai-weekday-select
              p Понедельник
              .ai-select-line
              .ai-small-select-block.shadow#weekday
                .ai-small-select-item.ai-small-select-item-selected(data-value="1") Понедельник
                .ai-small-select-item(data-value="2") Вторник
                .ai-small-select-item(data-value="3") Среда
                .ai-small-select-item(data-value="4") Четверг
                .ai-small-select-item(data-value="5") Пятница
                .ai-small-select-item(data-value="6") Суббота
                .ai-small-select-item(data-value="0") Воскресенье

            input.ai-input.ai-input-text.ai-input-small-select.ai-input-center.ai-time-input#time(type="time")

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Заметка
            textarea.ai-textarea.ai-input-text#note


          .ai-input-submit-btn Сохранить

      -if(forEdit)
        .ai-form-container.ai-form-dist#edit-dist-order-container
          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Заказ

          .ai-switch-btn-box
            .ai-switch-btn-slider
            .ai-switch-btn.ai-switch-btn-left#once(data-el="once-date" class=`${!orders[0].recuring ? 'ai-switch-btn-to-active' : ''}`) Разовый
            .ai-switch-btn.ai-switch-btn-right#recuring(data-el="recuring-date" class=`${orders[0].recuring ? 'ai-switch-btn-to-active' : ''}`) Повторяющийся


          -if(clients.length > 0)
            .ai-input-block.ai-input-block-select
              .ai-select-line
              .ai-input-label Клиент
              input.ai-input.ai-input-select(type="text" placeholder="Имя или наименование клиента")
              .ai-select-block.shadow#client
                each client in clients
                  .ai-select-item(data-id=`${client._id}` class=`${orders[0].client.toString() === client._id.toString() ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name= client.name
                    each product in client.products
                      .asi-hidden(data-product=`${product.productName}` data-price=`${product.pricePer}`)  
          
          each order in orders 
            .ai-combined-block.ai-combined-block-1(data-product=`${orders.indexOf(order) + 1}`)
              .ai-combined-block-title ПРОДУКТ ##{orders.indexOf(order) + 1}
              //-.ai-combined-block-remove
                ion-icon(name="close")
              .ai-input-block.ai-input-block-text
                .ai-input-label Наименование продукта
                input.ai-input.ai-input-select.ai-input-validation.product-input(type="text" placeholder="Выберите продукт")
                .ai-select-block.shadow.ai-input-validation.product
                  .ai-select-item(data-value="milk" class=`${order.product === 'milk' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Молоко
                  .ai-select-item(data-value="meat" class=`${order.product === 'meat' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Мясо
                  .ai-select-item(data-value="cottage-cheese" class=`${order.product === 'cottage-cheese' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Творог
                  .ai-select-item(data-value="cheese" class=`${order.product === 'cheese' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сыр
                  .ai-select-item(data-value="butter" class=`${order.product === 'butter' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Масло
                  .ai-select-item(data-value="whey" class=`${order.product === 'whey' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сыворотка
                  .ai-select-item(data-value="cream" class=`${order.product === 'cream' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сливки
                  .ai-select-item(data-value="sour-cream" class=`${order.product === 'sour-cream' ? 'ai-select-item-selected' : ''}`)
                    p.ai-select-name Сметана

              .ai-input-block.ai-input-block-small-select
                .ai-input-label Вес | Объем
                .ai-input-text-wraper
                  input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.size(type="number" value=`${order.size}`)
                  .ai-inside-text.range-text
                .ai-small-select.unit
                  p л.
                  .ai-select-line
                  .ai-small-select-block.shadow
                    .ai-small-select-item(data-val="kg" class=`${order.unit === 'kg' ? 'ai-small-select-item-selected' : ''}`) кг.
                    .ai-small-select-item(data-val="l" class=`${order.unit === 'l' ? 'ai-small-select-item-selected' : ''}`) л. 


          -if(orders[0].recuring)
            .ai-input-block.ai-input-block-text#once-date
              .ai-input-label Дата
              input.ai-input.ai-input-date#date(type="datetime-local")
              .ai-input-marker.ai-input-marker-r
                ion-icon(name="alert")
              .ai-input-explain-block.ai-input-explain-block-required
                .ai-input-eb-tri
                .ai-input-eb-text Обязательно      

            .ai-input-block.ai-input-block-small-select#recuring-date
              .ai-input-label День и время
              .ai-small-select.step-unit.ai-weekday-select
                p Понедельник
                .ai-select-line
                .ai-small-select-block.shadow#weekday
                  .ai-small-select-item(data-value="1" class=`${orders[0].recuringDay === 1 ? 'ai-small-select-item-selected' : ''}`) Понедельник
                  .ai-small-select-item(data-value="2" class=`${orders[0].recuringDay === 2 ? 'ai-small-select-item-selected' : ''}`) Вторник
                  .ai-small-select-item(data-value="3" class=`${orders[0].recuringDay === 3 ? 'ai-small-select-item-selected' : ''}`) Среда
                  .ai-small-select-item(data-value="4" class=`${orders[0].recuringDay === 4 ? 'ai-small-select-item-selected' : ''}`) Четверг
                  .ai-small-select-item(data-value="5" class=`${orders[0].recuringDay === 5 ? 'ai-small-select-item-selected' : ''}`) Пятница
                  .ai-small-select-item(data-value="6" class=`${orders[0].recuringDay === 6 ? 'ai-small-select-item-selected' : ''}`) Суббота
                  .ai-small-select-item(data-value="0" class=`${orders[0].recuringDay === 0 ? 'ai-small-select-item-selected' : ''}`) Воскресенье

              input.ai-input.ai-input-text.ai-input-small-select.ai-input-center.ai-time-input#time(type="time" value=`${orders[0].recuringTime}`)

          -else
            .ai-input-block.ai-input-block-text#once-date
              .ai-input-label Дата
              input.ai-input.ai-input-date#date(type="datetime-local" value=`${orders[0].date.toLocaleString('ru-RU', {year: 'numeric'})}-${orders[0].date.toLocaleString('ru-RU', {month: '2-digit'})}-${orders[0].date.toLocaleString('ru-RU', {day: '2-digit'})}T${orders[0].date.toLocaleString('ru-RU', {hour: '2-digit'})}:${orders[0].date.toLocaleString('ru-RU', {minute: '2-digit'}).length < 2 ? `0${orders[0].date.toLocaleString('ru-RU', {minute: '2-digit'})}` : orders[0].date.toLocaleString('ru-RU', {minute: '2-digit'})}`)
              .ai-input-marker.ai-input-marker-r
                ion-icon(name="alert")
              .ai-input-explain-block.ai-input-explain-block-required
                .ai-input-eb-tri
                .ai-input-eb-text Обязательно 

            .ai-input-block.ai-input-block-small-select#recuring-date
              .ai-input-label День и время
              .ai-small-select.step-unit.ai-weekday-select
                p Понедельник
                .ai-select-line
                .ai-small-select-block.shadow#weekday
                  .ai-small-select-item.ai-small-select-item-selected(data-value="1") Понедельник
                  .ai-small-select-item(data-value="2") Вторник
                  .ai-small-select-item(data-value="3") Среда
                  .ai-small-select-item(data-value="4") Четверг
                  .ai-small-select-item(data-value="5") Пятница
                  .ai-small-select-item(data-value="6") Суббота
                  .ai-small-select-item(data-value="0") Воскресенье

              input.ai-input.ai-input-text.ai-input-small-select.ai-input-center.ai-time-input#time(type="time")

          .ai-input-submit-btn(data-sub-id=`${orders[0].subId}`) Сохранить
  

          


