extends base

block content
  include _rcmMain
  section.main-section 

    .animal-results-window
      .ai-form-container#edit-user-container
        .ai-block-sub-title РЕДАКТИРОВАТЬ
        .ai-block-title Пользователь

        .ai-input-block.ai-input-block-text
          .ai-input-label Имя
          input.ai-input.ai-input-text#first-name(type="text" value=`${user.firstName ? user.firstName : ''}`)
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-text
          .ai-input-label Фамилия
          input.ai-input.ai-input-text#last-name(type="text" value=`${user.lastName ? user.lastName : ''}`)
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-text
          .ai-input-label Электронная почта
          input.ai-input.ai-input-text.ai-input-validation#email(type="text" value=`${user.email ? user.email : ''}`)
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-text
          .ai-input-label Дата рождения
          -if(user.birthDate)
            input.ai-input.ai-input-date#birth-date(type="date" value=`${user.birthDate.toLocaleString('ru-RU', {year: 'numeric'})}-${user.birthDate.toLocaleString('ru-RU', {month: '2-digit'})}-${user.birthDate.toLocaleString('ru-RU', {day: '2-digit'})}`)
          -else
            input.ai-input.ai-input-date#birth-date(type="date")

        .ai-input-submit-btn(data-user-id=`${user._id}`) Сохранить




