extends base

block content
  include _rcmMain
  section.main-section 
    .animal-results-window
      .ai-form-container#edit-farm-container
        .ai-block-sub-title РЕДАКТИРОВАТЬ
        .ai-block-title Ферма

        .ai-input-block.ai-input-block-text
          .ai-input-label Название
          input.ai-input.ai-input-text#name(type="text" value=`${farm.name ? farm.name : ''}`)

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#liquid-unit
          .ai-input-label Единица измерения жидкости
          .ai-pick#l(class=`${farm.liquidUnit === 'l' ? 'ai-to-pick' : ''}`) Литр
          .ai-pick#gl(class=`${farm.liquidUnit === 'gl' ? 'ai-to-pick' : ''}`) Галон
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            //-.ai-input-eb-title Титуль
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#weight-unit
          .ai-input-label Единица измерения веса
          .ai-pick#kg(class=`${farm.weightUnit === 'kg' ? 'ai-to-pick' : ''}`) Килограмм
          .ai-pick#lb(class=`${farm.weightUnit === 'lb' ? 'ai-to-pick' : ''}`) Фунт
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            //-.ai-input-eb-title Титуль
            .ai-input-eb-text Обязательно

        .ai-input-submit-btn(data-farm-id=`${farm._id}`) Сохранить




