extends base

block content
  include _rcmMain
  section.main-section

    -if(!forEdit)


      .animal-results-container.animal-results-full#add-general-reminder-container

        .ar-block-sub-title ДОБАВИТЬ
        .ar-block-title Напоминание

        .ar-selected-animals-block
          lable.aa-label.aa-label-shrinked
            p Выбранные животные
          .ar-selected-animals#multiple-animals-container
            //-.ar-selected-animals-item #120231
              .ar-selected-animals-remove 
                ion-icon(name="close")
        .aa-input-block.info-birth-items
          lable.aa-label(for="multiple-animals") 
            p Животные
          input.aa-search-input.aa-animal-search#multiple-animals(data-id="")
          .animal-search-block#multiple-animals-search-block
            each anim in animals
              .animal-search-item(data-id=`${anim._id}` data-number=`${anim.number}`)
                -if(anim.mainPhoto)
                  img(src=`/img/images/${anim.mainPhoto}`)
                -if(anim.name)
                  .animal-search-name= anim.name
                .animal-search-number= `#${anim.number}`
          .aa-input-ps 
            | Напоминание будет создано для 
            span каждого 
            | из выбранных животных!
        .aa-input-block
          lable.aa-label(for="name") 
            p Напоминание
          input.aa-text-input#name(type="text" placeholder="")
        .aa-input-block
          lable.aa-label(for="note") 
            p Описание
          textarea.aa-textarea-input#note(type="text")
        .aa-input-block 
          label.aa-label(for="type")
            p Тип напоминания
          .aa-select-box.aa-select-box-one#type
            .aa-select-text Выберите тип напоминания
            ion-icon(name="chevron-down")
            .aa-select-options-box
              .aa-select-option#general Общее
              .aa-select-option#herd Животные
              .aa-select-option#vet Ветеринария
              .aa-select-option#warehouse Склад
        .aa-input-block.aa-triple-date-block
          label.aa-label(for="date")
            p Дата и время
          input.aa-triple-date-input-big#date(type="date")
          select.aa-triple-date-input#hour
            option(value="0") 00
            option(value="1") 01
            option(value="2") 02
            option(value="3") 03
            option(value="4") 04
            option(value="5") 05
            option(value="6") 06
            option(value="7") 07
            option(value="8") 08
            option(value="9") 09
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
            option(value="13") 13
            option(value="14") 14
            option(value="15") 15
            option(value="16") 16
            option(value="17") 17
            option(value="18") 18
            option(value="19") 19
            option(value="20") 20
            option(value="21") 21
            option(value="22") 22
            option(value="23") 23     
          .aa-triple-date-divider :
          select.aa-triple-date-input#minute
            option(value="0") 00
            option(value="1") 01
            option(value="2") 02
            option(value="3") 03
            option(value="4") 04
            option(value="5") 05
            option(value="6") 06
            option(value="7") 07
            option(value="8") 08
            option(value="9") 09
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
            option(value="13") 13
            option(value="14") 14
            option(value="15") 15
            option(value="16") 16
            option(value="17") 17
            option(value="18") 18
            option(value="19") 19
            option(value="20") 20
            option(value="21") 21
            option(value="22") 22
            option(value="23") 23
            option(value="24") 24
            option(value="25") 25
            option(value="26") 26
            option(value="27") 27
            option(value="28") 28
            option(value="29") 29
            option(value="30") 30
            option(value="31") 31
            option(value="32") 32
            option(value="33") 33
            option(value="34") 34
            option(value="35") 35
            option(value="36") 36
            option(value="37") 37
            option(value="38") 38
            option(value="39") 39
            option(value="40") 40
            option(value="41") 41
            option(value="42") 42
            option(value="43") 43
            option(value="44") 44
            option(value="45") 45
            option(value="46") 46
            option(value="47") 47
            option(value="48") 48
            option(value="49") 49
            option(value="50") 50
            option(value="51") 51
            option(value="52") 52
            option(value="53") 53
            option(value="54") 54
            option(value="55") 55
            option(value="56") 56
            option(value="57") 57
            option(value="58") 58
            option(value="59") 59

        a.ar-add-button(data-animal-id=``) Сохранить

    -if(forEdit)


      .animal-results-container.animal-results-full#edit-general-reminder-container

        .ar-block-sub-title РЕДАКТИРОВАТЬ
        .ar-block-title Напоминание

        -if(reminder.animal)
          .ar-selected-animals-block
            lable.aa-label.aa-label-shrinked
              p Выбранные животные
            .ar-selected-animals#multiple-animals-container
              .ar-selected-animals-item= `#${animal.number}`
                //-.ar-selected-animals-remove 
                  ion-icon(name="close")
        .aa-input-block
          lable.aa-label(for="name") 
            p Напоминание
          input.aa-text-input#name(type="text" placeholder="" value=`${reminder.name}`)
        .aa-input-block
          lable.aa-label(for="note") 
            p Описание
          -if(reminder.note)
            textarea.aa-textarea-input#note(type="text")= reminder.note
          -else
            textarea.aa-textarea-input#note(type="text")
        .aa-input-block 
          label.aa-label(for="type")
            p Тип напоминания
          .aa-select-box.aa-select-box-one#type
            -if(reminder.module === 'general')
              .aa-select-text Общее
            -if(reminder.module === 'herd')
              .aa-select-text Животные
            -if(reminder.module === 'vet')
              .aa-select-text Ветеринария
            -if(reminder.module === 'warehouse')
              .aa-select-text Склад
            ion-icon(name="chevron-down")
            .aa-select-options-box
              .aa-select-option#general(class=`${reminder.module === 'general' ? 'aa-select-option-selected' : ''}`) Общее
              .aa-select-option#herd(class=`${reminder.module === 'herd' ? 'aa-select-option-selected' : ''}`) Животные
              .aa-select-option#vet(class=`${reminder.module === 'vet' ? 'aa-select-option-selected' : ''}`) Ветеринария
              .aa-select-option#warehouse(class=`${reminder.module === 'warehouse' ? 'aa-select-option-selected' : ''}`) Склад
        .aa-input-block.aa-triple-date-block
          label.aa-label(for="date")
            p Дата и время
          input.aa-triple-date-input-big#date(type="date" value=`${reminder.date.toLocaleString('ru-RU', {year: 'numeric'})}-${reminder.date.toLocaleString('ru-RU', {month: '2-digit'})}-${reminder.date.toLocaleString('ru-RU', {day: '2-digit'})}`)
          select.aa-triple-date-input#hour
            option(selected hidden value=`${reminder.date.toLocaleString('ru-RU', {hour: 'numeric'})}`)= `${reminder.date.toLocaleString('ru-RU', {hour: 'numeric'})}`
            option(value="0") 00
            option(value="1") 01
            option(value="2") 02
            option(value="3") 03
            option(value="4") 04
            option(value="5") 05
            option(value="6") 06
            option(value="7") 07
            option(value="8") 08
            option(value="9") 09
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
            option(value="13") 13
            option(value="14") 14
            option(value="15") 15
            option(value="16") 16
            option(value="17") 17
            option(value="18") 18
            option(value="19") 19
            option(value="20") 20
            option(value="21") 21
            option(value="22") 22
            option(value="23") 23     
          .aa-triple-date-divider :
          select.aa-triple-date-input#minute
            -if(reminder.date.toLocaleString('ru-RU', {minute: '2-digit'}) < 10)
              option(selected hidden value=`${reminder.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)= `0${reminder.date.toLocaleString('ru-RU', {minute: '2-digit'})}`
            -else
              option(selected hidden value=`${reminder.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)= `${reminder.date.toLocaleString('ru-RU', {minute: '2-digit'})}`
            option(value="0") 00
            option(value="1") 01
            option(value="2") 02
            option(value="3") 03
            option(value="4") 04
            option(value="5") 05
            option(value="6") 06
            option(value="7") 07
            option(value="8") 08
            option(value="9") 09
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
            option(value="13") 13
            option(value="14") 14
            option(value="15") 15
            option(value="16") 16
            option(value="17") 17
            option(value="18") 18
            option(value="19") 19
            option(value="20") 20
            option(value="21") 21
            option(value="22") 22
            option(value="23") 23
            option(value="24") 24
            option(value="25") 25
            option(value="26") 26
            option(value="27") 27
            option(value="28") 28
            option(value="29") 29
            option(value="30") 30
            option(value="31") 31
            option(value="32") 32
            option(value="33") 33
            option(value="34") 34
            option(value="35") 35
            option(value="36") 36
            option(value="37") 37
            option(value="38") 38
            option(value="39") 39
            option(value="40") 40
            option(value="41") 41
            option(value="42") 42
            option(value="43") 43
            option(value="44") 44
            option(value="45") 45
            option(value="46") 46
            option(value="47") 47
            option(value="48") 48
            option(value="49") 49
            option(value="50") 50
            option(value="51") 51
            option(value="52") 52
            option(value="53") 53
            option(value="54") 54
            option(value="55") 55
            option(value="56") 56
            option(value="57") 57
            option(value="58") 58
            option(value="59") 59

        each rem in reminder.reminders
          .aa-input-block.aa-triple-date-block.reminder
            .additional-delete-btn
              ion-icon(name='close-circle')
            label.aa-label(for='date')
              p= `Уведомление` 
            input.aa-triple-date-input-big.date(type='date' value=`${rem.date.toLocaleString('ru-RU', {year: 'numeric'})}-${rem.date.toLocaleString('ru-RU', {month: '2-digit'})}-${rem.date.toLocaleString('ru-RU', {day: '2-digit'})}`)
            select.aa-triple-date-input.hour
              option(selected hidden value=`${rem.date.toLocaleString('ru-RU', {hour: 'numeric'})}`)= `${rem.date.toLocaleString('ru-RU', {hour: 'numeric'})}`
              option(value='0') 00
              option(value='1') 01
              option(value='2') 02
              option(value='3') 03
              option(value='4') 04
              option(value='5') 05
              option(value='6') 06
              option(value='7') 07
              option(value='8') 08
              option(value='9') 09
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
            .aa-triple-date-divider :
            select.aa-triple-date-input.minute
              -if(rem.date.toLocaleString('ru-RU', {minute: '2-digit'}) < 10)
                option(selected hidden value=`${rem.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)= `0${rem.date.toLocaleString('ru-RU', {minute: '2-digit'})}`
              -else
                option(selected hidden value=`${rem.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)= `${rem.date.toLocaleString('ru-RU', {minute: '2-digit'})}`
              option(value='0') 00
              option(value='1') 01
              option(value='2') 02
              option(value='3') 03
              option(value='4') 04
              option(value='5') 05
              option(value='6') 06
              option(value='7') 07
              option(value='8') 08
              option(value='9') 09
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
              option(value='24') 24
              option(value='25') 25
              option(value='26') 26
              option(value='27') 27
              option(value='28') 28
              option(value='29') 29
              option(value='30') 30
              option(value='31') 31
              option(value='32') 32
              option(value='33') 33
              option(value='34') 34
              option(value='35') 35
              option(value='36') 36
              option(value='37') 37
              option(value='38') 38
              option(value='39') 39
              option(value='40') 40
              option(value='41') 41
              option(value='42') 42
              option(value='43') 43
              option(value='44') 44
              option(value='45') 45
              option(value='46') 46
              option(value='47') 47
              option(value='48') 48
              option(value='49') 49
              option(value='50') 50
              option(value='51') 51
              option(value='52') 52
              option(value='53') 53
              option(value='54') 54
              option(value='55') 55
              option(value='56') 56
              option(value='57') 57
              option(value='58') 58
              option(value='59') 59

        a.ar-add-button(data-reminder-id=`${reminder._id}`) Сохранить





