extends base

block content
  include _rcmHerd
  section.main-section 
    .ai-list-container#list-inseminations-container
      .ai-block-sub-title ДОБАВИТЬ
      .ai-block-title Осеменение
      .ai-list-header 
        input.ai-list-header-search#search(type="text" placeholder="Номер или кличка животного")
        .ai-input-submit-btn.ai-list-header-btn Сохранить

      .ai-box-list-header
        .ail-header-text.ail-item-number Номер  
        .ail-header-text.ail-item-name Кличка
        .ail-header-text.ail-item-date Дата
        .ail-header-text.ail-item-success Результат
        .ail-header-text.ail-item-type Тип
        .ail-header-text.ail-item-bull Бык
      .ai-box-list
        each animal in animals
          .ai-list-item(data-id=`${animal._id}`)
            .ail-part.ail-item-number= `#${animal.number}`  
            .ail-part.ail-item-name= `${animal.name ? animal.name: '-'}`
            .ail-part.ail-item-result.ail-item-date
              input.ail-input.date(type="date")
            .ail-part.ail-item-result.ail-item-result-select.ail-item-success
              .ai-select-line
              input.ail-input.ail-input-select(type="text")
              .ail-select-box.success.shadow
                .ail-select-item(data-val="true") Успешно
                .ail-select-item(data-val="false") Не успешно
                .ail-select-item(data-val="undefined") Нет результата
            .ail-part.ail-item-result.ail-item-result-select.ail-item-type
              .ai-select-line
              input.ail-input.ail-input-select(type="text")
              .ail-select-box.type.shadow
                .ail-select-item(data-val="artifical") Искусственное
                .ail-select-item(data-val="natural") Естественное
            .ail-item-result.ail-item-result-select.ail-item-bull
              .ai-select-line
              input.ail-input.ail-input-select(type="text")
              .ail-select-box.bull.shadow
                each bull in bulls
                  .ail-select-item(data-val=`${bull._id}`)= `#${bull.number} ${bull.name ? `| ${bull.name}` : ''}`
        
          


      

