extends base

block content
  include _rcmHerd
  section.main-section 
    -if(forOne)
      include _animalHeader

    .animal-results-window
      .ai-form-container#write-off-container(class=`${forOne ? 'ai-form-container-headerful' : ''}`)
        -if(forOne)
          .ai-block-sub-title СПИСАТЬ
          .ai-block-title Животное
        -else
          .ai-block-sub-title СПИСАТЬ
          .ai-block-title Животных

        -if(!forOne)
          -if(selectedAnimals.length > 0)
            each number in selectedAnimals
              .ai-selected-animals-pre-set(data-number=`${number}`)
          .ai-selected-animals-block.ai-input-hidden#multiple-animals-container
            .ai-input-label Выбранные животные
            //-.ai-selected-animals-item #120231
              .ai-selected-animals-remove 
                ion-icon(name="close")

          .ai-input-block.ai-input-block-select
            .ai-select-line
            .ai-input-label Животные
            input.ai-input.ai-input-select(type="text" placeholder="Номер или имя животного")
            .ai-select-block.ai-input-validation.shadow#multiple-animals
              each animal in animals
                .ai-select-item(data-id=`${animal._id}` data-number=`${animal.number}`)
                  p.ai-select-name= `#${animal.number}`
                  -if(animal.name)
                    p.ai-select-sub-name= animal.name

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#reason
          .ai-input-label Причина
          //-.ai-pick#slaughtered Забой
          .ai-pick#sickness Падеж
          .ai-pick#sold Продажа

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#sub-reason-sold
          .ai-input-label Способ продажи
          .ai-pick#slaughtered Забой
          .ai-pick#alive Живьем 

        -if(clients.length > 0)
          .ai-input-block.ai-input-block-select#client
            .ai-select-line
            .ai-input-label Клиент
            input.ai-input.ai-input-select(type="text" placeholder="Имя или наименование клиента")
            .ai-select-block.shadow#client
              each client in clients
                .ai-select-item(data-id=`${client._id}`)
                  p.ai-select-name= client.name
                  each product in client.products
                    .asi-hidden(data-product=`${product.productName}` data-price=`${product.pricePer}`)

        //-.ai-input-block.ai-input-block-small-select
          .ai-input-label Сумма
          .ai-input-text-wraper
            input.ai-input.ai-input-text.ai-input-small-select.ai-input-validation.price(type="number")
            .ai-inside-text.per-text ₽
          .ai-inside-text.price-text / 7 = 30000₽


        .ai-input-block.ai-input-block-text
          .ai-input-label Дата
          input.ai-input.ai-input-date#date(type="date")
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-text.ai-input-block-textarea
          .ai-input-label Заметка
          textarea.ai-textarea.ai-input-text#note

        -if(forOne)
          .ai-input-submit-btn(data-animal-id=`${animal._id}`) Сохранить
        -else
          .ai-input-submit-btn(data-animal-id=``) Сохранить
