extends base

block content
  include _rcmHerd
  section.main-section(data-animal-id=`${animal._id}` data-farm-id=`${animal.farm}`)
    .animal-card-section
      .animal-info-header
        .aih-image-block 
          img(src="/img/images/default-cow-image.png")
        .aih-details-container
          .aih-details-info
            .aih-details-info-number= `#${animal.number}`
            .aih-details-info-name= `${animal.name ? animal.name : ''}`

            a.aih-edit-btn(href=`/herd/edit-animal/${animal._id}`) 
              ion-icon(name="settings-outline")

            .aih-details-row
              -if(animal.birthDate)
                .aih-details-row-item
                  ion-icon(name="calendar-number-outline")
                  .aih-details-text= `${animal.birthDate.toLocaleString('ru-RU', {day: '2-digit'})}.${animal.birthDate.toLocaleString('ru-RU', {month: '2-digit'})}.${animal.birthDate.toLocaleString('ru-RU', {year: 'numeric'})}`
              -if(animal.gender)
                .aih-details-row-item
                  ion-icon(name="male-female-outline")
                  .aih-details-text= `${animal.gender === 'female' ? 'Женский' : 'Мужской'}`
              -if(animal.buyCost)
                .aih-details-row-item
                  ion-icon(name="pricetag-outline")
                  .aih-details-text= `${animal.buyCost}₽`
              -if(animal.breedRussian)
                .aih-details-row-item
                  ion-icon(name="paw-outline")
                  .aih-details-text= `${animal.breedRussian}`
              -if(animal.colors)
                .aih-details-row-item
                  ion-icon(name="color-filter-outline")
                  .aih-details-text 
                    each color in animal.colors
                      -if(color === 'black')
                        | • Черный 
                      -if(color === 'white')
                        | • Белый 
                      -if(color === 'red')
                        | • Красный 

          .aih-actions-btn(data-state="show") 
            p ДОБАВИТЬ
            span +

        .aih-actions-block
          .aih-actions-column.herd-actions-column
            .aih-actions-column-title ЖИВОТНЫЕ
            -if(animal.gender === 'female')
              a.aih-actions-item(href=`/herd/add-lactation/${animal._id}`)
                .aih-actions-item-mark
                img(src="/img/images/milking-cow-icon.png")
                .aih-actions-item-title Лактация
              -if(animal.lactations.length > 0)
                a.aih-actions-item(href=`/herd/add-milking-result/${animal._id}`) 
                  .aih-actions-item-mark
                  img(src="/img/images/milk-icon.png")
                  .aih-actions-item-title Результат доения
              a.aih-actions-item(href=`/herd/add-insemination/${animal._id}`)
                .aih-actions-item-mark
                img(src="/img/images/needle-icon.png")
                .aih-actions-item-title Осеменение
            a.aih-actions-item(href=`/herd/add-weight-result/${animal._id}`) 
              .aih-actions-item-mark
              img(src="/img/images/weight-icon.png")
              .aih-actions-item-title Взвешивание

          -if(user.accessBlocks.includes('vet'))
            .aih-actions-column.vet-actions-column
              .aih-actions-column-title ВЕТЕРИНАРИЯ
              a.aih-actions-item(href=`/vet/add-action/${animal._id}`) 
                .aih-actions-item-mark
                img(src="/img/images/med-cross-icon.png")
                .aih-actions-item-title Вет. действие
              a.aih-actions-item(href=`/vet/add-problem/${animal._id}`) 
                .aih-actions-item-mark
                img(src="/img/images/thermometer-icon.png")
                .aih-actions-item-title Вет. проблема
              a.aih-actions-item(href=`/vet/start-scheme/${animal._id}`) 
                .aih-actions-item-mark
                img(src="/img/images/vet-scheme-icon.png")
                .aih-actions-item-title Начать схему

          .aih-actions-column.other-actions-column
            .aih-actions-column-title ДРУГОЕ
            a.aih-actions-item(href=`/herd/write-off-animal/${animal._id}`) 
              .aih-actions-item-mark
              img(src="/img/images/butcher-icon.png")
              .aih-actions-item-title Списать животное
      -if(animal.milkingResults.length > 0)
        .animal-card-graph-block
          .animal-card-graph-page#card-milking-graph
            .mp-block-outside-header
              .mp-block-outside-header-title Результаты доения
            .mp-hg-btn-block.mp-hg-btn-block-1#milking-btns
              .mp-hg-btn.mp-hg-btn-first(data-graph="months") Результаты
              .mp-hg-btn(data-graph="compare") Сравнение лактаций
              .mp-hg-btn(data-graph="days") По дням
            .mp-herd-legend-btn#legend-btn  
              ion-icon(name="settings")

            .ac-graph-tooltip
              .ac-graph-tooltip-title РЕЗУЛЬТАТ:
              .ac-graph-tooltip-res 28.1
              .ac-graph-tooltip-title ДАТА:
              .ac-graph-tooltip-res МАЙ 2022

            .mp-herd-legend
              .mp-herd-legend-column#main-column
                .mp-herd-legend-column-title ГЛАВНОЕ
                .mp-herd-legend-item
                  .mp-herd-li-mark
                  .mp-herd-li-text Результат
                .mp-herd-legend-item.mp-herd-legend-item-off
                  .mp-herd-li-mark
                  .mp-herd-li-text Средние по лакт.
              .mp-herd-legend-column#additional-column
                .mp-herd-legend-column-title ДОПОЛНИТЕЛЬНОЕ
              .mp-herd-legend-column#edit-column
                .mp-herd-legend-column-title ИЗМЕНИТЬ
                //-.mp-herd-legend-item.mp-herd-legend-item-non-click
                  .mp-herd-li-check
                    ion-icon(name="checkmark")
                  .mp-herd-li-text Разбить по лактациям

          .ac-results-block

      .ac-bouble-block
        .ac-bouble-block-column
          -if(animal.inseminations.length > 0)
            .ac-insem-graph-block
              .mp-block-outside-header
                .mp-block-outside-header-title Осеменение
              -if(!lastLact && Date.now() > animal.birthDate.getTime() + 15 * 30 * 24 * 60 * 60 * 1000 )
                .ac-insem-qi.acb-double-pos
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title ГОТОВА К ОСЕМЕНЕНИЮ
              -if(!lastLact && Date.now() < animal.birthDate.getTime() + 15 * 30 * 24 * 60 * 60 * 1000 )
                .ac-insem-qi.acb-double-neg
                  .acb-icon
                    ion-icon(name="sad-outline")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title ЕЩЕ НЕ ГОТОВА К ОСЕМЕНЕНИЮ
              -if(lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 < 60 && lastLact.startDate.getTime() > lastInsem.date.getTime())
                .ac-insem-qi.acb-double-pos
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`
                  .acb-double-sub На осеменение
              -if(lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 > 60 && lastLact.startDate.getTime() > lastInsem.date.getTime() || lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 > 60 && lastLact.startDate.getTime() < lastInsem.date.getTime() && !lastInsem.success)
                .ac-insem-qi.acb-double-neg
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24) - 60} дн.`
                  .acb-double-sub ПЕРЕСТОЙ
              -if(lastLact && lastLact.startDate.getTime() < lastInsem.date.getTime() && lastInsem.success)
                .ac-insem-qi.acb-double-pos
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {year: 'numeric'})} ∼ ${Math.round(((lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000) - Date.now()) / 1000 / 60 / 60 / 24)} дн.`
                  .acb-double-sub Ожидаемый отел

              -if(lastLact && lastInsem.success && lastInsem.date.getTime() > lastLact.startDate.getTime())
                .ac-insem-qi.acb-double-pos
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-title= `УСПЕШНО - ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-sub Последнее осеменение
              -if(lastLact && lastInsem.success === false && lastInsem.date.getTime() > lastLact.startDate.getTime())
                .ac-insem-qi.acb-double-neg
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-title= `НЕ УСПЕШНО - ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-sub Последнее осеменение
              -if(lastLact && lastInsem.success === undefined && lastInsem.date.getTime() > lastLact.startDate.getTime()) 
                .ac-insem-qi.acb-double-pos
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-sub= `Осеменение ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-btn-block#insemination-results-block(data-date=`${lastInsem.date}` data-animal-id=`${animal._id}` data-index=`${animal.inseminations.indexOf(lastInsem)}`)
                    .acb-double-btn#insem-false
                      ion-icon(name="close-circle")
                      p Не успешно  
                    .acb-double-btn#insem-true
                      ion-icon(name="checkmark-circle")
                      p Успешно  
              .ac-insem-graph-inside-columns
                .ac-insem-list
                  each insem in animal.inseminations
                    .ac-insem-item(data-res=`${insem.success}`)
                      -if(insem.success === undefined)
                        .ac-insem-item-icon
                          ion-icon(name="time-outline")
                      -if(insem.success === true)
                        .ac-insem-item-icon.ac-insem-item-icon-pos
                          ion-icon(name="checkmark-sharp")
                      -if(insem.success === false)
                        .ac-insem-item-icon.ac-insem-item-icon-neg
                          ion-icon(name="close-sharp")
                      .ac-insem-item-date(data-date=`${insem.date}`)= insem.date
                .ac-insem-graph
                  .ac-insem-graph-pos
                    p 63%
                  .ac-insem-graph-splitbar
                  .ac-insem-graph-neg
                    p 37%


        .ac-bouble-block-column
          -if(scheme)
            .ac-vet-scheme-block
              .mp-block-outside-header
                .mp-block-outside-header-title Текущая схема | #{scheme.scheme.name}
              .ac-vs-progress-line-block
                .ac-vs-progress-line(data-total=`${scheme.otherPoints.length }`)
                  .ac-vs-progress-line-inner
                .ac-vs-progress-point.ac-vs-progress-point-over(data-index="0")
                  ion-icon(name="checkmark-sharp")
                each point in scheme.otherPoints
                  -if(new Date(point.date) > new Date())
                    .ac-vs-progress-point(data-index=`${scheme.otherPoints.indexOf(point) + 1}`)
                      p= `${scheme.otherPoints.indexOf(point) + 2}`
                  -else
                    .ac-vs-progress-point.ac-vs-progress-point-over(data-index=`${scheme.otherPoints.indexOf(point) + 1}`)
                      ion-icon(name="checkmark-sharp")
              .ac-big-points-block
                .ac-big-point.ac-big-point-over
                  ion-icon(name="checkmark-circle-sharp")
                  .ac-big-point-name= `1. ${scheme.name}`
                  .ac-big-point-date(data-date=`${scheme.date}`)= `${scheme.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
                each point in scheme.otherPoints
                  .ac-big-point(class=`${new Date(point.date) > new Date() ? '' : 'ac-big-point-over'}`)
                    ion-icon(name=`${new Date(point.date) > new Date() ? 'notifications-circle-sharp' : 'checkmark-circle-sharp'}`)
                    .ac-big-point-name= `${scheme.otherPoints.indexOf(point) + 2}. ${point.name}`
                    .ac-big-point-date(data-date=`${point.date}`)= `${point.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`

              //.ac-vs-end-scheme-btn Закончить схему


          -if(problems.length > 0)
            .ac-vet-problems-block
              .mp-block-outside-header
                .mp-block-outside-header-title Проблемы и болезни
              .ac-vet-problems-container
                each problem in problems 
                  .ac-vet-problems-item(data-date=`${problem.date}` data-cured=`${problem.cured}`)
                    .ac-vp-header 
                      -if(!problem.cured)
                        .ac-vp-header-icon.ac-vp-header-icon-not-cured
                          ion-icon(name="medical")
                      -else
                        .ac-vp-header-icon
                          ion-icon(name="checkmark-sharp")
                      .ac-vp-problem= problem.name
                      -if(!problem.cured)
                        a.ac-vp-cure-btn(href=`/vet/add-treatment/${problem._id}`) 
                          p ЛЕЧЕНИЕ
                          ion-icon(name="add-sharp")
                      .ac-vp-header-icon.ac-vp-header-more(data-state="closed")
                        ion-icon(name="chevron-down")
                    .ac-vp-body
                      .ac-vp-body-text= problem.note 
                      -if(problem.treatments.length > 0)
                      .ac-vp-body-point-block
                        each treatment in problem.treatments 
                          .ac-vp-body-point(data-date=`${treatment.date}`)
                            -if(treatment.cured)
                              .ac-vp-body-icon.ac-vp-body-icon-cured
                                ion-icon(name="checkmark-circle")
                            -else
                              .ac-vp-body-icon
                                ion-icon(name="close-circle")
                            .ac-vp-body-point-name= treatment.name
                            .ac-vp-body-point-date(data-date=`${treatment.date}`)= `${treatment.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
                      .ac-vp-body-text.ac-vp-body-date(data-date=`${problem.date}`)= `${problem.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`

    // -if(animal.status !== 'alive')
      .ami-write-off-disclaimer
        ion-icon(name="warning")
        p ЖИВОТНОЕ СПИСАНО
        ion-icon(name="warning")
      .ami-write-off-container
        .ami-write-off-block
          .ami-write-off-close 
            ion-icon(name="close")
          .ami-write-off-title Животное было списано!
          .ami-write-off-text-block
            .ami-write-off-label Причина:
            -if(animal.writeOffReason === 'slaughtered')
              .ami-write-off-text Забой
            -if(animal.writeOffReason === 'sold')
              .ami-write-off-text Продажа
            -if(animal.writeOffReason === 'sickness')
              .ami-write-off-text Болезнь
          .ami-write-off-text-block
            .ami-write-off-label Дата списания:
            .ami-write-off-text= `${animal.writeOffDate.toLocaleString('ru-RU', {day: '2-digit'})}.${animal.writeOffDate.toLocaleString('ru-RU', {month: '2-digit'})}.${animal.writeOffDate.toLocaleString('ru-RU', {year: 'numeric'})}`
          .ami-bring-back-btn(data-animal-id=`${animal._id}`) Вернуть животное

    .animal-card-body

      // -if(lastLact)
        -if(!lastLact.finishDate)
          -if(Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24) > 305)
            a.acb-important-info-block.acb-important-info-block-neg(href=`/herd/edit-lactation/${animal._id}/${animal.lactations.indexOf(lastLact)}`)
              img(src="/img/images/milking-cow-icon.png")
              .acb-important-body-title= `Окончить текущую лактацию?`
              .acb-important-body-sub-title= `Длительность лактация: ${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`
          -else 
            a.acb-important-info-block.acb-important-info-block-pos(href=`/herd/edit-lactation/${animal._id}/${animal.lactations.indexOf(lastLact)}`)
              img(src="/img/images/milking-cow-icon.png")
              .acb-important-body-title= `Окончить текущую лактацию?`
              .acb-important-body-sub-title= `Длительность лактация: ${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`


      .acb-column-block
        .acb-column.acb-column-left

          //- ADD LATER
          //-if(animal.weightResults.length > 0)
            .acb-graph-block-small
              .acb-graph-header
                p История веса
              .acb-half-summary
                .acb-half-summary-item.acb-summary-item-1#last-year-growth-weight
                  .acb-half-item-info 12%
                  .acb-half-item-title За последний год
                .acb-half-summary-item.acb-summary-item-2#diff-avg-weight
                  .acb-half-item-info -5%
                  .acb-half-item-title Разница от среднего
              .acb-graph-container
                .acb-graph
                  each result in animal.weightResults
                    .acb-graph-invisible.acb-graph-animal(data-date=`${result.date}` data-result=`${result.result}` data-birth-date=`${animal.birthDate}`)
                  each anim in allFarmAnimals 
                    -if(anim.weightResults.length > 0)
                      each result in anim.weightResults
                        .acb-graph-invisible.acb-graph-average(data-date=`${result.date}` data-result=`${result.result}` data-birth-date=`${anim.birthDate}`)
                  canvas#acb-weight-history-chart

          //- MAYBE TO REMOVE
          //-.animal-all-items-block
            .acb-graph-header
              p История данных
            select.aai-type-selector
              option(value="all" selected) Все
              option(value="lactations") Лактации
              option(value="inseminations") Осеменения
              option(value="milking-results") Результаты доения
              option(value="weight-results") Взвешивания
            .aai-container
              each result in animal.milkingResults
                a.aai-item(data-date=`${result.date}` data-type='milking-results' href=`/herd/edit-milking-result/${animal._id}/${animal.milkingResults.indexOf(result)}`)
                  .aai-item-image
                    img(src="/img/images/milk-icon.png")
                  .aai-item-body
                    .aai-item-text= `${new Date(result.date.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} | ` 
                      span= `${result.result} л.` 
                    -if(result.addingDate)
                      .aai-item-sub-text= `Добавлено ${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`

              each result in animal.lactations
                a.aai-item(data-date=`${result.startDate}` data-type='lactations' href=`/herd/edit-lactation/${animal._id}/${animal.lactations.indexOf(result)}`)
                  .aai-item-image
                    img(src="/img/images/milking-cow-icon.png")
                  .aai-item-body
                    -if(result.finishDate)
                      .aai-item-text 
                        span= `Лактация: #${result.number} | ` 
                        | #{`${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} - ${new Date(result.finishDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.finishDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.finishDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`}
                    -else
                      .aai-item-text 
                        span= `Лактация: #${result.number} | ` 
                        | #{`${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} - ...`}
                    -if(result.addingDate)
                      .aai-item-sub-text= `Добавлено ${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`

              each result in animal.inseminations
                a.aai-item(data-date=`${result.date}` data-type='inseminations' href=`/herd/edit-insemination/${animal._id}/${animal.inseminations.indexOf(result)}`)
                  .aai-item-image
                    img(src="/img/images/needle-icon.png")
                  .aai-item-body
                    .aai-item-text= `${new Date(result.date.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} | ` 
                      -if(result.success === undefined)
                        span= `Не подтверждено` 
                      -if(result.success !== undefined && result.success)
                        span= `Успешно` 
                      -if(result.success !== undefined && !result.success)
                        span= `Не успешно` 
                    -if(result.addingDate)
                      .aai-item-sub-text= `Добавлено ${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`

              each result in animal.weightResults
                a.aai-item(data-date=`${result.date}` data-type='weight-results' href=`/herd/edit-weight-result/${animal._id}/${animal.weightResults.indexOf(result)}`)
                  .aai-item-image
                    img(src="/img/images/weight-icon.png")
                  .aai-item-body
                    .aai-item-text= `${new Date(result.date.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} | ` 
                      span= `${result.result} кг.` 
                    -if(result.addingDate)
                      .aai-item-sub-text= `Добавлено ${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`

            .aai-tip * нажмите на результат для изменения

        //.acb-column.acb-column-right
          -if(animal.inseminations.length > 0)
            .acb-double-block
              -if(!lastLact && Date.now() > animal.birthDate.getTime() + 15 * 30 * 24 * 60 * 60 * 1000 )
                .acb-double-box.acb-double-left.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="happy-outline")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title ГОТОВА К ОСЕМЕНЕНИЮ
              -if(!lastLact && Date.now() < animal.birthDate.getTime() + 15 * 30 * 24 * 60 * 60 * 1000 )
                .acb-double-box.acb-double-left.acb-double-neg.shadow
                  .acb-icon
                    ion-icon(name="sad-outline")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title ЕЩЕ НЕ ГОТОВА К ОСЕМЕНЕНИЮ
              -if(lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 < 60 && lastLact.startDate.getTime() > lastInsem.date.getTime())
                .acb-double-box.acb-double-left.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="alert-circle")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`
                  .acb-double-sub НА ОСЕМЕНЕНИЕ
              -if(lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 > 60 && lastLact.startDate.getTime() > lastInsem.date.getTime() || lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 > 60 && lastLact.startDate.getTime() < lastInsem.date.getTime() && !lastInsem.success)
                .acb-double-box.acb-double-left.acb-double-neg.shadow
                  .acb-icon
                    ion-icon(name="alert-circle")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24) - 60} дн.`
                  .acb-double-sub ПЕРЕСТОЙ
              -if(lastLact && lastLact.startDate.getTime() < lastInsem.date.getTime() && lastInsem.success)
                .acb-double-box.acb-double-left.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="alert-circle")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {year: 'numeric'})} ∼ ${Math.round(((lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000) - Date.now()) / 1000 / 60 / 60 / 24)} дн.`
                  .acb-double-sub ОЖИДАЕМЫЙ ОТЕЛ

              -if(lastLact && lastInsem.success && lastInsem.date.getTime() > lastLact.startDate.getTime())
                .acb-double-box.acb-double-right.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="checkmark-circle")
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-title= `УСПЕШНО - ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-sub= `ПОСЛЕДНЕЕ ОСЕМЕНЕНИЕ`
              -if(lastLact && lastInsem.success === false && lastInsem.date.getTime() > lastLact.startDate.getTime())
                .acb-double-box.acb-double-right.acb-double-neg.shadow
                  .acb-icon
                    ion-icon(name="close-circle")
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-title= `НЕ УСПЕШНО - ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-sub= `ПОСЛЕДНЕЕ ОСЕМЕНЕНИЕ`
              -if(lastLact && lastInsem.success === undefined && lastInsem.date.getTime() > lastLact.startDate.getTime()) 
                .acb-double-box.acb-double-right.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="checkmark-circle")
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-title Результат?
                  .acb-double-sub= `ОСЕМЕНЕНИЕ ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-btn-block#insemination-results-block(data-date=`${lastInsem.date}` data-animal-id=`${animal._id}` data-index=`${animal.inseminations.indexOf(lastInsem)}`)
                    .acb-double-btn#insem-false
                      ion-icon(name="close-outline")
                      p Не успешно  
                    .acb-double-btn#insem-true
                      ion-icon(name="checkmark")
                      p Успешно  
      -if(animal.inseminations.length === 0 && animal.weightResults.length === 0 && animal.milkingResults.length === 0)
        .acb-no-info-text Нет данных об этом животном

