extends base

block content
  include _rcmHerd
  section.main-section 
    .add-animal-container#edit-dead-birth-container
      .ai-form-container.edit-animal-form-dead
        .ai-block-sub-title Редактировать
        .ai-block-title Мертворождение

        .ai-input-block.ai-input-block-text
          .ai-input-label Дата
          input.ai-input.ai-input-date#date(type="date" value=`${animal.deadBirthDate.toLocaleString('ru-RU', {year: 'numeric'})}-${animal.deadBirthDate.toLocaleString('ru-RU', {month: '2-digit'})}-${animal.deadBirthDate.toLocaleString('ru-RU', {day: '2-digit'})}`)
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            //-.ai-input-eb-title Титуль
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-select
          .ai-select-line
          .ai-input-label Мать
          input.ai-input.ai-input-select#mother(type="text" placeholder="Номер или имя коровы")
          .ai-select-block.shadow#mother-select-dead
            each mother in potMother
              .ai-select-item(data-id=`${mother._id}` class=`${animal.mother && animal.mother.number === mother.number ? 'ai-select-item-selected' : ''}`)
                p.ai-select-name= `#${mother.number}`
                -if(mother.name)
                  p.ai-select-sub-name= mother.name

        .ai-input-block.ai-radio-block
          .ai-radio#mother-death(class=`${animal.deadBirthMotherDeath === true ? 'ai-radio-active' : ''}`)
            .ai-radio-inner
              ion-icon(name="checkmark")
          .ai-radio-text Привело к смерти матери

        .ai-input-block.ai-radio-block#mother-death-write-off-block
          .ai-radio#mother-death-write-off(data-original=`${animal.deadBirthMotherDeathAuto}` data-mother=`${animal.mother._id}` class=`${animal.deadBirthMotherDeathAuto === true ? 'ai-radio-active' : ''}`)
            .ai-radio-inner
              ion-icon(name="checkmark")
          .ai-radio-text Автоматически списать мать

        .ai-input-block.ai-input-block-select.id-select
          .ai-select-line
          .ai-input-label Отец
          input.ai-input.ai-input-select#father(type="text" placeholder="Номер или имя быка" )
          .ai-select-block.shadow#father-select-dead
            each father in potFather
              .ai-select-item(data-id=`${father._id}` class=`${animal.father && animal.father.number === father.number ? 'ai-select-item-selected' : ''}`)
                p.ai-select-name= `#${father.number}`
                -if(father.name)
                  p.ai-select-sub-name= father.name

        .ai-input-block.ai-radio-block
          .ai-radio#multiple-fetuses(class=`${animal.deadBirthMultipleFetuses === true ? 'ai-radio-active' : ''}`)
            .ai-radio-inner
              ion-icon(name="checkmark")
          .ai-radio-text Беременность с несколькими плодами

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#size
          .ai-input-label Размер плода
          .ai-pick#small(class=`${animal.deadBirthSize === 'small' ? 'ai-to-pick' : ''}`) Маленький
          .ai-pick#mid(class=`${animal.deadBirthSize === 'mid' ? 'ai-to-pick' : ''}`) Средний
          .ai-pick#large(class=`${animal.deadBirthSize === 'large' ? 'ai-to-pick' : ''}`) Большой

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#gender-dead
          .ai-input-label Пол
          .ai-pick#male(class=`${animal.gender === 'male' ? 'ai-to-pick' : ''}`) Мужской
          .ai-pick#female(class=`${animal.gender === 'female' ? 'ai-to-pick' : ''}`) Женский

          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            //-.ai-input-eb-title Титуль
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-text.ai-input-block-textarea
          .ai-input-label Заметка
          textarea.ai-textarea.ai-input-text#note-dead= `${animal.deadBirthNote ? animal.deadBirthNote : ''}`

        .ai-input-submit-btn(data-id=`${animal._id}`) Сохранить