extends base

block content
  include _rcmHerd
  section.main-section(data-animal-id=`${animal._id}`)
    .animal-card-section
      .animal-info-header
        .aih-image-block 
          img(src="/img/images/default-cow-image.png")
        .aih-details-container
          .aih-details-info
            .aih-details-info-number= `#${animal.number}`
            .aih-details-info-name= `${animal.name ? animal.name : ''}`

            a.aih-edit-btn(href=`/herd/edit-animal/${animal._id}`) 
              ion-icon(name="settings-outline")

            .aih-details-row
              -if(animal.birthDate)
                .aih-details-row-item
                  ion-icon(name="calendar-number-outline")
                  .aih-details-text= `${animal.birthDate.toLocaleString('ru-RU', {day: '2-digit'})}.${animal.birthDate.toLocaleString('ru-RU', {month: '2-digit'})}.${animal.birthDate.toLocaleString('ru-RU', {year: 'numeric'})}`
              -if(animal.gender)
                .aih-details-row-item
                  ion-icon(name="male-female-outline")
                  .aih-details-text= `${animal.gender === 'female' ? 'Женский' : 'Мужской'}`
              -if(animal.buyCost)
                .aih-details-row-item
                  ion-icon(name="pricetag-outline")
                  .aih-details-text= `${animal.buyCost}₽`
              -if(animal.breedRussian)
                .aih-details-row-item
                  ion-icon(name="paw-outline")
                  .aih-details-text= `${animal.breedRussian}`
              -if(animal.colors)
                .aih-details-row-item
                  ion-icon(name="color-filter-outline")
                  .aih-details-text 
                    each color in animal.colors
                      -if(color === 'black')
                        | • Черный 
                      -if(color === 'white')
                        | • Белый 
                      -if(color === 'red')
                        | • Красный 

          .aih-actions-btn 
            p ДОБАВИТЬ
            span +

        //.aih-actions-block
          .aih-actions-column.herd-actions-column
            .aih-actions-column-title ЖИВОТНЫЕ
            -if(animal.gender === 'female')
              a.aih-actions-item(href=`/herd/add-lactation/${animal._id}`)
                .aih-actions-item-mark
                img(src="/img/images/milking-cow-icon.png")
                .aih-actions-item-title Лактация
              -if(animal.lactations.length > 0)
                a.aih-actions-item(href=`/herd/add-milking-result/${animal._id}`) 
                  .aih-actions-item-mark
                  img(src="/img/images/milk-icon.png")
                  .aih-actions-item-title Результат доения
              a.aih-actions-item(href=`/herd/add-insemination/${animal._id}`)
                .aih-actions-item-mark
                img(src="/img/images/needle-icon.png")
                .aih-actions-item-title Осеменение
            a.aih-actions-item(href=`/herd/add-weight-result/${animal._id}`) 
              .aih-actions-item-mark
              img(src="/img/images/weight-icon.png")
              .aih-actions-item-title Взвешивание

          -if(user.accessBlocks.includes('vet'))
            .aih-actions-column.vet-actions-column
              .aih-actions-column-title ВЕТЕРИНАРИЯ
              a.aih-actions-item(href=`/vet/add-action/${animal._id}`) 
                .aih-actions-item-mark
                img(src="/img/images/med-cross-icon.png")
                .aih-actions-item-title Вет. действие
              a.aih-actions-item(href=`/vet/add-problem/${animal._id}`) 
                .aih-actions-item-mark
                img(src="/img/images/thermometer-icon.png")
                .aih-actions-item-title Вет. проблема
              a.aih-actions-item(href=`/vet/start-scheme/${animal._id}`) 
                .aih-actions-item-mark
                img(src="/img/images/vet-scheme-icon.png")
                .aih-actions-item-title Начать схему

          .aih-actions-column.other-actions-column
            .aih-actions-column-title ДРУГОЕ
            a.aih-actions-item(href=`/herd/write-off-animal/${animal._id}`) 
              .aih-actions-item-mark
              img(src="/img/images/butcher-icon.png")
              .aih-actions-item-title Списать животное
      -if(animal.milkingResults.length > 0)
        .animal-card-graph-page#card-milking-graph
          .mp-hg-btn-block.mp-hg-btn-block-1#milking-btns
            .mp-hg-btn(data-graph="months") Результаты
            .mp-hg-btn(data-graph="compare") Сравнение Лактаций
            .mp-hg-btn(data-graph="days") По дням
          .mp-herd-legend-btn#legend-btn  
            ion-icon(name="settings")


    -if(animal.status !== 'alive')
      .ami-write-off-disclaimer
        ion-icon(name="warning")
        p ЖИВОТНОЕ СПИСАНО
        ion-icon(name="warning")
      .ami-write-off-container
        .ami-write-off-block
          .ami-write-off-close 
            ion-icon(name="close")
          .ami-write-off-title Животное было списано!
          .ami-write-off-text-block
            .ami-write-off-label Причина:
            -if(animal.writeOffReason === 'slaughtered')
              .ami-write-off-text Забой
            -if(animal.writeOffReason === 'sold')
              .ami-write-off-text Продажа
            -if(animal.writeOffReason === 'sickness')
              .ami-write-off-text Болезнь
          .ami-write-off-text-block
            .ami-write-off-label Дата списания:
            .ami-write-off-text= `${animal.writeOffDate.toLocaleString('ru-RU', {day: '2-digit'})}.${animal.writeOffDate.toLocaleString('ru-RU', {month: '2-digit'})}.${animal.writeOffDate.toLocaleString('ru-RU', {year: 'numeric'})}`
          .ami-bring-back-btn(data-animal-id=`${animal._id}`) Вернуть животное

    .animal-card-body

      //-if(lastLact)
        -if(!lastLact.finishDate)
          -if(Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24) > 305)
            a.acb-important-info-block.acb-important-info-block-neg(href=`/herd/edit-lactation/${animal._id}/${animal.lactations.indexOf(lastLact)}`)
              img(src="/img/images/milking-cow-icon.png")
              .acb-important-body-title= `Окончить текущую лактацию?`
              .acb-important-body-sub-title= `Длительность лактация: ${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`
          -else 
            a.acb-important-info-block.acb-important-info-block-pos(href=`/herd/edit-lactation/${animal._id}/${animal.lactations.indexOf(lastLact)}`)
              img(src="/img/images/milking-cow-icon.png")
              .acb-important-body-title= `Окончить текущую лактацию?`
              .acb-important-body-sub-title= `Длительность лактация: ${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`



      -if(animal.milkingResults.length > 0)

        .acb-graph-block
          //-.acb-graph-header
            p Результаты доения
            //.acb-graph-header-btn.acb-edit-info-btn
              ion-icon(name="menu-outline")
            //.edit-blur-block
              a.edit-blur-item(href=`/herd/edit/lactations/${animal._id}`) Изменить данные лактации
              a.edit-blur-item(href=`/herd/edit/milking-results/${animal._id}`) Изменить результат доения
            //a.acb-graph-header-btn.acb-graph-header-btn-highlight(href=`/herd/add-milking-result/${animal._id}`)
              ion-icon(name="add-outline")

          .acb-graph-container
            .acb-graph-line
              .acb-graph-box.shadow
                .acb-mini-header
                  p Сравнение лактаций
                  select#lactation-change
                    -if(animal.lactations.length > 0)
                      each lact in animal.lactations
                        -if(lact.number === animal.lactations[animal.lactations.length - 1].number)
                          option(value=`${lact.number}` selected data-number=`${lact.number}` data-start=`${lact.startDate}` data-finish=`${lact.endDate !== null ? lact.finishDate : Date.now()}`)= `Лактация #${lact.number}`
                        -else
                          option(value=`${lact.number}` data-number=`${lact.number}` data-start=`${lact.startDate}` data-finish=`${lact.endDate !== null ? lact.finishDate : Date.now()}`)= `Лактация #${lact.number}`
                //-.acb-graph-btn-block
                  -if(animal.lactations.length > 0)
                    each lactation in animal.lactations
                      .acb-graph-btn.acb-graph-btn-clickable(data-number=`${lactation.number}` data-start-date=`${lactation.startDate}` data-finish-date=`${lactation.finishDate !== null ? lactation.finishDate : new Date()}`)
                        .acb-graph-btn-text= `Лактация: # ${lactation.number}`
                        -if(lactation.finishDate)
                          .acb-graph-btn-sub= `${lactation.startDate.toLocaleString('ru-RU', {day: '2-digit'})}.${lactation.startDate.toLocaleString('ru-RU', {month: '2-digit'})}.${lactation.startDate.toLocaleString('ru-RU', {year: 'numeric'})} - ${lactation.finishDate.toLocaleString('ru-RU', {day: '2-digit'})}.${lactation.finishDate.toLocaleString('ru-RU', {month: '2-digit'})}.${lactation.finishDate.toLocaleString('ru-RU', {year: 'numeric'})}`
                        -else
                          .acb-graph-btn-sub= `${lactation.startDate.toLocaleString('ru-RU', {day: '2-digit'})}.${lactation.startDate.toLocaleString('ru-RU', {month: '2-digit'})}.${lactation.startDate.toLocaleString('ru-RU', {year: 'numeric'})} - ...`
                .acb-graph
                  each result in animal.milkingResults
                    .acb-graph-invisible.acb-graph-animal(data-result=`${result.result}` data-date=`${result.date}` data-lact=`${result.lactationNumber}` data-cow-id=`${animal._id}` data-cow-photo=`${animal.mainPhoto}` data-cow-name=`${animal.name}` data-cow-number=`${animal.number}`)
                  each anim in allFarmAnimals 
                    -if(anim.milkingResults.length > 0)
                      each result in anim.milkingResults
                        .acb-graph-invisible.acb-graph-average(data-date=`${result.date}` data-result=`${result.result}` data-lact=`${result.lactationNumber}`)
                  .acb-graph-outter#acb-milking-results-chart

              .acb-graph-box.shadow
                .acb-mini-header
                  p Лактации по дням
                .acb-graph
                  //-.acb-graph-title Сравнение лактаций
                  each lactation in animal.lactations 
                    .acb-graph-invisible.acb-graph-lactations(data-start-date=`${lactation.startDate}` data-finish-date=`${lactation.finishDate}` data-number=`${lactation.number}`)
                  each result in animal.milkingResults
                    .acb-graph-invisible.acb-graph-results(data-date=`${result.date}` data-result=`${result.result}` data-lactation-number=`${result.lactationNumber}`)
                  canvas#acb-lactations-result-chart

            .acb-graph-line
              .acb-tile-graph-box.shadow
                .acb-mini-header
                  p Прогноз доения
                .acb-tile-graph
                  .acb-tile-graph-line
                    p Лактация #1
                    .acb-tile
                      .acb-tile-title #1
                      .acb-tile-result 16.4
                    .acb-tile
                    .acb-tile.acb-tile.acb-tile-projected
                      .acb-tile-title #1
                      .acb-tile-result 16.4

              .acb-summary.acb-summary-less#acb-milking-summary
                -if(lastLact)
                  -if(!lastLact.finishDate)
                    -if(Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24) > 305)
                      a.acb-important-info-block.acb-summary-item-1.acb-important-info-block-neg.shadow(href=`/herd/edit-lactation/${animal._id}/${animal.lactations.indexOf(lastLact)}`)
                        img(src="/img/images/milking-cow-icon.png")
                        .acb-important-body-title= `Окончить текущую лактацию?`
                        .acb-important-body-sub-title= `Длительность лактация: ${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`
                    -else 
                      a.acb-important-info-block.acb-summary-item-1.acb-important-info-block-pos.shadow(href=`/herd/edit-lactation/${animal._id}/${animal.lactations.indexOf(lastLact)}`)
                        img(src="/img/images/milking-cow-icon.png")
                        .acb-important-body-title= `Окончить текущую лактацию?`
                        .acb-important-body-sub-title= `Длительность лактация: ${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`
                //-.acb-summary-item.acb-summary-item-1#last-month-growth
                  .acb-item-icon
                    img(src="/img/images/chart-icon.png")
                  .acb-item-info -
                  .acb-item-title За последний месяц
                .acb-summary-item.acb-summary-item-2.shadow#result
                  .acb-item-icon
                    img(src="/img/images/chart-icon-2.png")
                  .acb-item-title РЕЗУЛЬТАТ
                  .acb-item-info -
                .acb-summary-item.acb-summary-item-3.shadow#growth
                  .acb-item-icon
                    img(src="/img/images/milk-icon.png")
                  .acb-item-title МЕСЯЧНЫЙ РОСТ
                  .acb-item-info -%

            //-.acb-graph-right
              .acb-history-title История
              .acb-history-header
                .acb-history-header-item Лакт.
                .acb-history-header-item Результат
                .acb-history-header-item Дата
              .acb-history-container
                each result in animal.milkingResults 
                  .acb-history-item(data-date=`${result.date}`)
                    .acb-history-item-info= result.lactationNumber
                    .acb-history-item-info= `${result.result} л.`
                    .acb-history-item-info= `${result.date.toLocaleString('ru-RU', {day: '2-digit'})}.${result.date.toLocaleString('ru-RU', {month: '2-digit'})}.${result.date.toLocaleString('ru-RU', {year: 'numeric'})}`


      .acb-column-block
        .acb-column.acb-column-left

          //- ADD LATER
          //-if(animal.weightResults.length > 0)
            .acb-graph-block-small
              .acb-graph-header
                p История веса
              .acb-half-summary
                .acb-half-summary-item.acb-summary-item-1#last-year-growth-weight
                  .acb-half-item-info 12%
                  .acb-half-item-title За последний год
                .acb-half-summary-item.acb-summary-item-2#diff-avg-weight
                  .acb-half-item-info -5%
                  .acb-half-item-title Разница от среднего
              .acb-graph-container
                .acb-graph
                  each result in animal.weightResults
                    .acb-graph-invisible.acb-graph-animal(data-date=`${result.date}` data-result=`${result.result}` data-birth-date=`${animal.birthDate}`)
                  each anim in allFarmAnimals 
                    -if(anim.weightResults.length > 0)
                      each result in anim.weightResults
                        .acb-graph-invisible.acb-graph-average(data-date=`${result.date}` data-result=`${result.result}` data-birth-date=`${anim.birthDate}`)
                  canvas#acb-weight-history-chart

          //- MAYBE TO REMOVE
          //-.animal-all-items-block
            .acb-graph-header
              p История данных
            select.aai-type-selector
              option(value="all" selected) Все
              option(value="lactations") Лактации
              option(value="inseminations") Осеменения
              option(value="milking-results") Результаты доения
              option(value="weight-results") Взвешивания
            .aai-container
              each result in animal.milkingResults
                a.aai-item(data-date=`${result.date}` data-type='milking-results' href=`/herd/edit-milking-result/${animal._id}/${animal.milkingResults.indexOf(result)}`)
                  .aai-item-image
                    img(src="/img/images/milk-icon.png")
                  .aai-item-body
                    .aai-item-text= `${new Date(result.date.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} | ` 
                      span= `${result.result} л.` 
                    -if(result.addingDate)
                      .aai-item-sub-text= `Добавлено ${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`

              each result in animal.lactations
                a.aai-item(data-date=`${result.startDate}` data-type='lactations' href=`/herd/edit-lactation/${animal._id}/${animal.lactations.indexOf(result)}`)
                  .aai-item-image
                    img(src="/img/images/milking-cow-icon.png")
                  .aai-item-body
                    -if(result.finishDate)
                      .aai-item-text 
                        span= `Лактация: #${result.number} | ` 
                        | #{`${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} - ${new Date(result.finishDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.finishDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.finishDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`}
                    -else
                      .aai-item-text 
                        span= `Лактация: #${result.number} | ` 
                        | #{`${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.startDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} - ...`}
                    -if(result.addingDate)
                      .aai-item-sub-text= `Добавлено ${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`

              each result in animal.inseminations
                a.aai-item(data-date=`${result.date}` data-type='inseminations' href=`/herd/edit-insemination/${animal._id}/${animal.inseminations.indexOf(result)}`)
                  .aai-item-image
                    img(src="/img/images/needle-icon.png")
                  .aai-item-body
                    .aai-item-text= `${new Date(result.date.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} | ` 
                      -if(result.success === undefined)
                        span= `Не подтверждено` 
                      -if(result.success !== undefined && result.success)
                        span= `Успешно` 
                      -if(result.success !== undefined && !result.success)
                        span= `Не успешно` 
                    -if(result.addingDate)
                      .aai-item-sub-text= `Добавлено ${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`

              each result in animal.weightResults
                a.aai-item(data-date=`${result.date}` data-type='weight-results' href=`/herd/edit-weight-result/${animal._id}/${animal.weightResults.indexOf(result)}`)
                  .aai-item-image
                    img(src="/img/images/weight-icon.png")
                  .aai-item-body
                    .aai-item-text= `${new Date(result.date.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.date.getTime()).toLocaleString('ru-RU', {year: 'numeric'})} | ` 
                      span= `${result.result} кг.` 
                    -if(result.addingDate)
                      .aai-item-sub-text= `Добавлено ${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(result.addingDate.getTime()).toLocaleString('ru-RU', {year: 'numeric'})}`

            .aai-tip * нажмите на результат для изменения

          -if(problems.length > 0)
            .mp-schemes-block.acb-schemes-block.shadow
              .mp-schemes-block-header Проблемы и болезни
              .mp-schemes-container
                each problem in problems
                  .mp-scheme-item.mp-problem-i(data-date=`${problem.date}` class=`${problem.cured ? 'mp-problem-cured' : 'mp-problem-not-cured'}`)
                    .mp-scheme-item-header
                      img(src='/img/images/default-cow-image.png')
                      p= `#${animal.number}`
                      -if(!problem.cured)
                        a.mp-treatment-btn(href=`/vet/add-treatment/${problem._id}`) ЛЕЧЕНИЕ +
                      ion-icon.mp-scheme-icon(name="chevron-down")
                      p.mp-scheme-name= problem.name
                    .mp-scheme-points-block
                      .mp-scheme-points-line
                      .mp-scheme-point(data-date=`${problem.date}`)
                        .mp-scheme-point-number
                          ion-icon(name="thermometer")
                        p Проблема добавлена
                        p.mp-scheme-point-date= `${problem.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
                      each treatment in problem.treatments 
                        .mp-scheme-point(data-date=`${treatment.date}`)
                          -if(treatment.cured)
                            .mp-scheme-point-number
                              ion-icon(name="checkmark")
                          -else
                            .mp-scheme-point-number
                              ion-icon(name="close")
                          p= treatment.name
                          p.mp-scheme-point-date= `${treatment.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
          -if(scheme)


            .mp-schemes-block.acb-schemes-block.shadow
              .mp-schemes-block-header Текущая схема
              .mp-schemes-container
                .mp-scheme-item.mp-scheme-i(data-date=`${scheme.date}`)
                  .mp-scheme-item-header
                    img(src='/img/images/default-cow-image.png')
                    p= `#${scheme.animal.number}`
                    //ion-icon.mp-scheme-icon(name="chevron-down")
                    p.mp-scheme-name= scheme.scheme.name  
                  .mp-scheme-points-block.acb-scheme-points-block
                    .mp-scheme-points-line
                    .mp-scheme-point(data-date=`${scheme.date}`)
                      .mp-scheme-point-number.mp-scheme-point-done
                        ion-icon(name="checkmark-sharp")
                        //p 1
                      p= scheme.name
                      p.mp-scheme-point-date= `${scheme.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
                    each point in scheme.otherPoints 
                      .mp-scheme-point(data-date=`${point.date}` data-finished=`${new Date(point.date) < new Date()}`)
                        .mp-scheme-point-number(class=`${new Date(point.date) < new Date() ? 'mp-scheme-point-done' : ''}`)
                          -if(new Date(point.date) > new Date())
                            -if(scheme.otherPoints.indexOf(point) !== scheme.otherPoints.length - 1)
                              p= `${scheme.otherPoints.indexOf(point) + 2}`
                            -else
                              ion-icon(name="flash")
                          -else
                            ion-icon(name="checkmark-sharp")
                        p= point.name
                        p.mp-scheme-point-date= `${point.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`

        .acb-column.acb-column-right
          -if(animal.inseminations.length > 0)
            .acb-double-block
              -if(!lastLact && Date.now() > animal.birthDate.getTime() + 15 * 30 * 24 * 60 * 60 * 1000 )
                .acb-double-box.acb-double-left.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="happy-outline")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title ГОТОВА К ОСЕМЕНЕНИЮ
              -if(!lastLact && Date.now() < animal.birthDate.getTime() + 15 * 30 * 24 * 60 * 60 * 1000 )
                .acb-double-box.acb-double-left.acb-double-neg.shadow
                  .acb-icon
                    ion-icon(name="sad-outline")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title ЕЩЕ НЕ ГОТОВА К ОСЕМЕНЕНИЮ
              -if(lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 < 60 && lastLact.startDate.getTime() > lastInsem.date.getTime())
                .acb-double-box.acb-double-left.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="alert-circle")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24)} дн.`
                  .acb-double-sub НА ОСЕМЕНЕНИЕ
              -if(lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 > 60 && lastLact.startDate.getTime() > lastInsem.date.getTime() || lastLact && (Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24 > 60 && lastLact.startDate.getTime() < lastInsem.date.getTime() && !lastInsem.success)
                .acb-double-box.acb-double-left.acb-double-neg.shadow
                  .acb-icon
                    ion-icon(name="alert-circle")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${Math.round((Date.now() - lastLact.startDate.getTime()) / 1000 / 60 / 60 / 24) - 60} дн.`
                  .acb-double-sub ПЕРЕСТОЙ
              -if(lastLact && lastLact.startDate.getTime() < lastInsem.date.getTime() && lastInsem.success)
                .acb-double-box.acb-double-left.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="alert-circle")
                  img.acb-double-img(src="/img/images/cow-icon.png")
                  .acb-double-title= `${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {day: '2-digit'})}.${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {month: '2-digit'})}.${new Date(lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000).toLocaleString('ru-RU', {year: 'numeric'})} ∼ ${Math.round(((lastInsem.date.getTime() + 283 * 24 * 60 * 60 * 1000) - Date.now()) / 1000 / 60 / 60 / 24)} дн.`
                  .acb-double-sub ОЖИДАЕМЫЙ ОТЕЛ

              -if(lastLact && lastInsem.success && lastInsem.date.getTime() > lastLact.startDate.getTime())
                .acb-double-box.acb-double-right.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="checkmark-circle")
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-title= `УСПЕШНО - ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-sub= `ПОСЛЕДНЕЕ ОСЕМЕНЕНИЕ`
              -if(lastLact && lastInsem.success === false && lastInsem.date.getTime() > lastLact.startDate.getTime())
                .acb-double-box.acb-double-right.acb-double-neg.shadow
                  .acb-icon
                    ion-icon(name="close-circle")
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-title= `НЕ УСПЕШНО - ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-sub= `ПОСЛЕДНЕЕ ОСЕМЕНЕНИЕ`
              -if(lastLact && lastInsem.success === undefined && lastInsem.date.getTime() > lastLact.startDate.getTime()) 
                .acb-double-box.acb-double-right.acb-double-pos.shadow
                  .acb-icon
                    ion-icon(name="checkmark-circle")
                  img.acb-double-img(src="/img/images/needle-icon.png")
                  .acb-double-title Результат?
                  .acb-double-sub= `ОСЕМЕНЕНИЕ ${lastInsem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${lastInsem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                  .acb-double-btn-block#insemination-results-block(data-date=`${lastInsem.date}` data-animal-id=`${animal._id}` data-index=`${animal.inseminations.indexOf(lastInsem)}`)
                    .acb-double-btn#insem-false
                      ion-icon(name="close-outline")
                      p Не успешно  
                    .acb-double-btn#insem-true
                      ion-icon(name="checkmark")
                      p Успешно  



            .acb-graph-block-small.shadow
              .acb-graph-header
                p Осеменение
              .mp-animal-graphs-switch.acb-graph-switch
                .mp-animal-graphs-switch-btn.mp-animal-graphs-switch-btn-active#acb-success-rate-btn Успешность %
                .mp-animal-graphs-switch-btn#acb-attemps-count-btn Количество попыток
                //-.acb-graph-header-btn.acb-edit-info-btn 
                  ion-icon(name="menu-outline")
                //-.edit-blur-block
                  a.edit-blur-item(href=`/herd/edit/inseminations/${animal._id}`) Изменить данные осеменения
                //-a.acb-graph-header-btn.acb-graph-header-btn-highlight(href=`/herd/add-insemination/${animal._id}`)
                  ion-icon(name="add-outline")

              //-.acb-graph-history-box
                .acb-graph-history-inside
                  each insem in animal.inseminations
                    -if(insem.success !== undefined)
                      -if(insem.success === true)
                        .acb-graph-history-item.acb-graph-history-item-succ
                          p= `#${animal.inseminations.indexOf(insem) + 1}: ${insem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${insem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${insem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                          ion-icon(name="checkmark-circle-outline")
                      -if(insem.success === false)
                        .acb-graph-history-item.acb-graph-history-item-fail
                          p= `#${animal.inseminations.indexOf(insem) + 1}: ${insem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${insem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${insem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                          ion-icon(name="close-circle-outline")
                    -else
                      .acb-graph-history-item
                        p= `#${animal.inseminations.indexOf(insem) + 1}: ${insem.date.toLocaleString('ru-RU', {day: '2-digit'})}.${insem.date.toLocaleString('ru-RU', {month: '2-digit'})}.${insem.date.toLocaleString('ru-RU', {year: 'numeric'})}`
                        ion-icon(name="radio-button-off")

              .acb-graph-container.acb-graph-container-columns#acb-success-rate
                .acb-graph
                  each insem in animal.inseminations
                    .acb-graph-invisible.acb-graph-animal(data-date=`${insem.date}` data-success=`${insem.success}`)
                  canvas#acb-insemination-success-rate-chart

              .acb-graph-container.acb-graph-container-columns#acb-attemps-count
                .acb-graph
                  each insem in animal.inseminations
                    .acb-graph-invisible.acb-graph-animal(data-date=`${insem.date}` data-success=`${insem.success}`)
                  canvas#acb-insemination-try-rate-chart



      -if(animal.inseminations.length === 0 && animal.weightResults.length === 0 && animal.milkingResults.length === 0)
        .acb-no-info-text Нет данных об этом животном

