extends base

block content
  include _rcmHerd
  section.main-section 
    .dist-main-section#mp-herd(data-farm-id=`${user.farm}`)
      .main-page-header
        .main-page-header-title ЖИВОТНЫЕ
        //-.main-page-header-period-box
          input(type="date" value=`${startDate.toLocaleString('ru-RU', {year: 'numeric'})}-${startDate.toLocaleString('ru-RU', {month: '2-digit'})}-${startDate.toLocaleString('ru-RU', {day: '2-digit'})}`).main-page-header-period#start-date
          .main-page-header-devider -
          input(type="date" value=`${endDate.toLocaleString('ru-RU', {year: 'numeric'})}-${endDate.toLocaleString('ru-RU', {month: '2-digit'})}-${endDate.toLocaleString('ru-RU', {day: '2-digit'})}`).main-page-header-period#end-date
          .mp-date-quick-box  
            .mp-date-quick(data-months="12") ГОД
            .mp-date-quick(data-months="3") КВАРТАЛ
            .mp-date-quick(data-months="1") МЕСЯЦ
      .mp-info-box
        each cow in cows
          each result in cow.milkingResults
            .mp-graph-data(data-result=`${result.result}` data-date=`${result.date}` data-lact=`${result.lactationNumber}` data-cow-id=`${cow._id}` data-cow-photo=`${cow.mainPhoto}` data-cow-name=`${cow.name}` data-cow-number=`${cow.number}`)

      .herd-mp-flex-block 

        .herd-mp-quick-info-block
          .herd-mp-quick-info-counter-block
            .herd-mp-quick-info-counter.herd-mp-quick-info-counter-first.herd-mp-quick-info-counter-active(data-index="0")
            .herd-mp-quick-info-counter(data-index="1")
            .herd-mp-quick-info-counter(data-index="2")
            .herd-mp-quick-info-counter(data-index="3")
            .herd-mp-quick-info-counter(data-index="4")
            .herd-mp-quick-info-counter(data-index="5")
            .herd-mp-quick-info-counter(data-index="6")
          .herd-mp-quick-info-item.herd-mp-quick-info-item-first(data-index="0" data-res=`${data.animals.length}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-animal.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title ЖИВОТНЫЕ
            .herd-mp-quick-info-item-res= data.animals.length
          .herd-mp-quick-info-item(data-index="1" data-res=`${data.cows.length}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-cow.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title КОРОВЫ
            .herd-mp-quick-info-item-res= data.cows.length
          .herd-mp-quick-info-item(data-index="2" data-res=`${data.bulls.length}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-bull.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title БЫКОВ
            .herd-mp-quick-info-item-res= data.bulls.length
          .herd-mp-quick-info-item(data-index="3" data-res=`${data.milkingCows}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-milking-cow.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title ДОЯЩИЕСЯ КОРОВЫ
            .herd-mp-quick-info-item-res= data.milkingCows
          .herd-mp-quick-info-item(data-index="4" data-res=`${data.inseminatedCows}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-inseminated-cow.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title ОСЕМЕНЕННЫЕ КОРОВЫ
            .herd-mp-quick-info-item-res= data.inseminatedCows
          .herd-mp-quick-info-item(data-index="5" data-res=`${data.bullsReady}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-ready-bull.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title БЫКИ НА ЗАБОЙ
            .herd-mp-quick-info-item-res= data.bullsReady
          .herd-mp-quick-info-item(data-index="6" data-res=`${data.calves}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-calf-alone.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title ТЕЛЯТА
            .herd-mp-quick-info-item-res= data.calves

        .herd-mp-list-block-combined
          .mp-block-outside-header
            .mp-block-outside-header-title Список коров на осеменение
            .mp-block-outside-header-btn-block#table-btns
              .mp-block-outside-header-btn.mp-block-outside-header-btn-active#insem Осеменение
              .mp-block-outside-header-btn#calv Отел
          .herd-mp-list-block.herd-mp-list-block-insem
            .herd-mp-list-block-header
              .herd-mp-li-header-item Номер
              .herd-mp-li-header-item Кличка
              .herd-mp-li-header-item Лактация
              .herd-mp-li-header-item Осеменение
              .herd-mp-li-header-item
            .herd-mp-list-container
              each cow in tableData.soonToInsem
                a.herd-mp-list-line(data-first="false" href=`/herd/animal-card/${cow._id}`)
                  .herd-mp-list-line-item ##{cow.number}
                  .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                  .herd-mp-list-line-item.date-format(data-date=`${cow.lactations[cow.lactations.length - 1].startDate}`) 
                  .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text
                  .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text 
              each cow in tableData.firstInsem
                a.herd-mp-list-line(data-first="true" href=`/herd/animal-card/${cow._id}`)
                  .herd-mp-list-line-item ##{cow.number}
                  .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                  .herd-mp-list-line-item.date-format(data-date=`${cow.birthDate}`) -
                  .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text 
                  .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text 

          .herd-mp-list-block.herd-mp-list-block-calv
            .herd-mp-list-block-header
              .herd-mp-li-header-item Номер
              .herd-mp-li-header-item Кличка
              .herd-mp-li-header-item Осеменение
              .herd-mp-li-header-item Отел
              .herd-mp-li-header-item
            .herd-mp-list-container
              each cow in tableData.soonToCalv
                a.herd-mp-list-line(href=`/herd/animal-card/${cow._id}`)
                  .herd-mp-list-line-item ##{cow.number}
                  .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                  .herd-mp-list-line-item.date-format(data-date=`${cow.inseminations[cow.inseminations.length - 1].date}`) 
                  .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text
                  .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text 

      #mp-herd-graph(data-farm-id=`${user.farm}`)  

      .mp-herd-graph-block
        .mp-herd-graph-container
          //-.mp-herd-graph-load 

          .mp-hg-btn-block.mp-hg-btn-block-1#graph-btns
            .mp-hg-btn.mp-hg-btn-active(data-graph="average") Средний
            .mp-hg-btn(data-graph="total") Всего
          .mp-hg-btn-block.mp-hg-btn-block-2#months-btns
            .mp-hg-btn(data-months="6") 6м
            .mp-hg-btn(data-months="12") 12м
            .mp-hg-btn(data-months="24") 24м
            .mp-hg-btn(data-months="60") 5г
            .mp-hg-btn(data-months="all")
              ion-icon(name="infinite")
          .mp-herd-legend-btn#legend-btn  
            ion-icon(name="settings")

          .mp-graph-tooltip
            .mp-graph-tooltip-res 27.1
            .mp-graph-tooltip-title Средний результат
            .mp-graph-tooltip-gap
            .mp-graph-tooltip-sub-res 27.1
            .mp-graph-tooltip-title Всего молока
            .mp-graph-tooltip-sub-res 27.1
            .mp-graph-tooltip-title Кол-во результатов

            .mp-graph-tooltip-date МАРТ, 2023

          .mp-herd-legend
            .mp-herd-legend-column#main-column
              .mp-herd-legend-column-title ГЛАВНОЕ
              .mp-herd-legend-item
                .mp-herd-li-mark
                .mp-herd-li-text Результат
              .mp-herd-legend-item.mp-herd-legend-item-off
                .mp-herd-li-mark
                .mp-herd-li-text Средние по лакт.
            .mp-herd-legend-column#additional-column
              .mp-herd-legend-column-title ДОПОЛНИТЕЛЬНОЕ
            //.mp-herd-legend-column#edit-column
              .mp-herd-legend-column-title ИЗМЕНИТЬ
              .mp-herd-legend-item.mp-herd-legend-item-non-click
                .mp-herd-li-check
                  ion-icon(name="checkmark")
                .mp-herd-li-text Разбить по лактациям
              .mp-herd-legend-item.mp-herd-legend-item-non-click
                .mp-herd-li-check
                  ion-icon(name="checkmark")
                .mp-herd-li-text Разбить по годам

        .mp-herd-graph-info-block
          //-img(src="/img/icons/herd-results-icon.png")
          //-.mp-herd-graph-info-item.mp-herd-graph-info-item-top
            .mp-herd-graph-info-item-group
              .mp-herd-graph-info-text #50262321
              .mp-herd-graph-info-sub-text Березка
            .mp-herd-graph-info-item-group
              .mp-herd-graph-info-sub-text 13.06
              .mp-herd-graph-info-text 17.2

      .mp-projection-block


      //-.mp-herd-top-results-block
        .mp-herd-tr-podium
          .mp-herd-tr-podium-step-block.mp-herd-tr-podium-step-1
            .mp-herd-tr-podium-step-res 27.4
            .mp-herd-tr-podium-step-number #50260604
            .mp-herd-tr-podium-step-name Березка
            img(src="/img/icons/medal-1.png")
          .mp-herd-tr-podium-step-block.mp-herd-tr-podium-step-2
            .mp-herd-tr-podium-step-res 22.3
            .mp-herd-tr-podium-step-number #50260604
            .mp-herd-tr-podium-step-name Березка
            img(src="/img/icons/medal-2.png")
          .mp-herd-tr-podium-step-block.mp-herd-tr-podium-step-3
            .mp-herd-tr-podium-step-res 19.7
            .mp-herd-tr-podium-step-number #50260604
            .mp-herd-tr-podium-step-name Березка
            img(src="/img/icons/medal-3.png")

        .mp-herd-tr-list
          .mp-herd-tr-list-item
            .mp-herd-tr-list-item-place.mp-herd-tr-list-item-place-1 1.
            .mp-herd-tr-list-item-number #50260604
            .mp-herd-tr-list-item-block-right
              .mp-herd-tr-list-item-per-top 10%
              .mp-herd-tr-list-item-res 27.4