extends base

block content
  .menu-ref(data-block="herd-block" data-page="herd-all-animals" data-sub="")

  section.main-section 
    -if(forOne)
      include _animalHeader

    .animal-results-container.animal-results-big#write-off-container
      -if(forOne)
        .ar-block-title Списать животное
      -else
        .ar-block-title Списать животных

      -if(!forOne)
        .ar-selected-animals-block
          lable.aa-label.aa-label-shrinked
            p Выбранные животные
          .ar-selected-animals#multiple-animals-container
            //-.ar-selected-animals-item #120231
              .ar-selected-animals-remove 
                ion-icon(name="close")
        .aa-input-block.info-birth-items
          lable.aa-label(for="multiple-animals") 
            p Животные
          input.aa-search-input.aa-animal-search#multiple-animals(data-id="")
          .animal-search-block#multiple-animals-search-block
            each anim in animals
              .animal-search-item(data-id=`${anim._id}` data-number=`${anim.number}`)
                -if(anim.mainPhoto)
                  img(src=`/img/images/${anim.mainPhoto}`)
                -if(anim.name)
                  .animal-search-name= anim.name
                .animal-search-number= `#${anim.number}`
      .aa-input-block 
        label.aa-label(for="reason")
          p Причина
        .aa-pick-box.aa-pick-box-one#reason
          .aa-pick#slaughtered Забой
          .aa-pick#sickness Болезнь
          .aa-pick#sold Продажа
      .aa-input-block.info-buy-items#sell-price-block
        lable.aa-label(for="sell-price")
          -if(forOne)
            p Сумма продажи
          -else
            p Общая сумма
          p |
          p ₽
        input.aa-text-input#sell-price(type="number")
      .aa-input-block
        lable.aa-label(for="note") 
          p Заметка
        input.aa-text-input#note(type="text")
      .aa-input-block 
        label.aa-label(for="date")
          p Дата
        input.aa-text-input.aa-date-input#date(type="date")

      -if(forOne)
        a.ar-add-button(data-animal-id=`${animal._id}`) Сохранить
      -else
        a.ar-add-button(data-animal-id=``) Сохранить
