extends base

block content
  .menu-ref(data-block="herd-block" data-page="herd-all-animals" data-sub="")

  section.main-section 
    include _animalHeader

    -if(!forEdit)
      .animal-results-container.animal-results-big#add-insemination-container
        img.ar-image-back(src="/img/images/needle-icon.png")
        .ar-block-title Добавить осеменение
        .aa-input-block 
          label.aa-label(for="date")
            p Дата
          input.aa-text-input.aa-date-input#date(type="date" data-animal-birth=`${animal.birthDate}`)
        .aa-input-block 
          label.aa-label(for="type")
            p Вид
          .aa-pick-box.aa-pick-box-one#type
            .aa-pick#natural Естественное
            .aa-pick#artifical Искусственное
        -if(bulls.length > 0)
          .aa-input-block.info-birth-items
            lable.aa-label(for="bull") 
              p Бык
            input.aa-search-input.aa-animal-search#bull(data-id="")
            .animal-search-block
              each bull in bulls
                .animal-search-item(data-id=`${bull._id}`)
                  -if(bull.mainPhoto)
                    img(src=`/img/images/${bull.mainPhoto}`)
                  -if(bull.name)
                    .animal-search-name= bull.name
                  .animal-search-number= `#${bull.number}`
        .aa-input-block 
          label.aa-label(for="successfulnes")
            p Результат
          .aa-pick-box.aa-pick-box-one#insemination
            .aa-pick#success Успешно
            .aa-pick#fail Не успешно
        .ar-btn-box  
          a.ar-add-button(data-animal-id=`${animal._id}`) Сохранить

    -if(forEdit)
      .animal-results-container.animal-results-big#edit-insemination-container
        img.ar-image-back(src="/img/images/needle-icon.png")
        .ar-block-title Редактировать осеменение
        .aa-input-block 
          label.aa-label(for="date")
            p Дата
          input.aa-text-input.aa-date-input#date(type="date" data-animal-birth=`${animal.birthDate}` data-value=`${insemination.date}`)
        .aa-input-block 
          label.aa-label(for="type")
            p Вид
          .aa-pick-box.aa-pick-box-one#type
            -if(insemination.type)
              -if(insemination.type === 'natural')
                .aa-pick.aa-pick-picked#natural Естественное
                .aa-pick#artifical Искусственное
              -if(insemination.type === 'artifical')
                .aa-pick#natural Естественное
                .aa-pick.aa-pick-picked#artifical Искусственное
            -else 
              .aa-pick#natural Естественное
              .aa-pick#artifical Искусственное
        -if(bulls.length > 0)
          -if(insemination.bull)
            .aa-input-block.info-birth-items
              lable.aa-label(for="bull") 
                p Отец
              input.aa-search-input.aa-animal-search#bull(data-id=`${insemination.bull}` value=`${insemination.bull.name !== undefined ? `${insemination.bull.name} #${insemination.bull.number}`: `#${insemination.bull.number}`}`)
              .animal-search-block
                each bull in bulls
                  .animal-search-item(data-id=`${bull._id}`)
                    -if(bull.mainPhoto)
                      img(src=`/img/images/${bull.mainPhoto}`)
                    -if(bull.name)
                      .animal-search-name= bull.name
                    .animal-search-number= `#${bull.number}`
          -else
            .aa-input-block.info-birth-items
              lable.aa-label(for="father") 
                p Отец
              input.aa-search-input.aa-animal-search#father(data-id="")
              .animal-search-block
                each bull in bulls
                  .animal-search-item(data-id=`${bull._id}`)
                    -if(bull.mainPhoto)
                      img(src=`/img/images/${bull.mainPhoto}`)
                    -if(bull.name)
                      .animal-search-name= bull.name
                    .animal-search-number= `#${bull.number}`
        .aa-input-block 
          label.aa-label(for="successfulnes")
            p Результат
          .aa-pick-box.aa-pick-box-one#insemination
            -if(insemination.success !== undefined && insemination.success)
              .aa-pick.aa-pick-picked#success Успешно
              .aa-pick#fail Не успешно
            -if(insemination.success !== undefined && !insemination.success)
              .aa-pick#success Успешно
              .aa-pick.aa-pick-picked#fail Не успешно
            -if(insemination.success === undefined)
              .aa-pick#success Успешно
              .aa-pick#fail Не успешно
        .ar-btn-box  
          a.ar-add-button(data-animal-id=`${animal._id}` data-index=`${index}`) Сохранить




