extends base

block content
  include _rcmHerd
  section.main-section 
    include _animalHeader
    .animal-results-window

      -if(!forEdit)
        .ai-form-container.ai-form-container-headerful#add-lactation-container
          -if(animal.lactations.length > 0)
            .ar-history-block
              .ar-h-title ИСТОРИЯ
              .ar-h-container
                each result in animal.lactations.reverse()
                  a.ar-h-item(href=`/herd/edit-lactation/${animal._id}/${animal.lactations.length - animal.lactations.indexOf(result) - 1}`)
                    p= `#${result.number}`
                    p.date-format(data-date=`${result.startDate}`) 
          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Лактацию

          -if(unfinishedLactation)
            .ai-detail-info-block(data-number=`${unfinishedLactation.number}` rc-title="Окончить лактацию" rc-link=`/herd/edit-lactation/${animal._id}/${unfinishedLactation.index}`)
              .ai-input-label Неоконченная лактация
              .ai-di-indicator 
                .ai-di-indicator-inner.ai-di-indicator-inner-1
                .ai-di-indicator-inner.ai-di-indicator-inner-2
                .ai-di-indicator-inner.ai-di-indicator-inner-3
              .ai-di-text= `Лактация #${unfinishedLactation.number}`
              .ai-di-date(data-date=`${unfinishedLactation.startDate}`)

          .ai-input-block.ai-input-block-text
            .ai-input-label Начало
            input.ai-input.ai-input-date.ai-input-validation#start-date(type="date" data-animal-birth=`${animal.birthDate}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text
            .ai-input-label Окончание
            input.ai-input.ai-input.ai-input-date.ai-input-validation#finish-date(type="date")

          .invis-lact-cont
            each lact in animal.lactations 
              .invis-lact-data(data-number=`${lact.number}`, data-start=`${lact.startDate}` data-finish=`${lact.finishDate}`)
          .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#lactation-number
            .ai-input-label Номер лактации
            .ai-pick 1
            .ai-pick 2
            .ai-pick 3
            .ai-pick 4
            .ai-pick 5
            .ai-pick 6
            .ai-pick 7
            .ai-pick 8
            .ai-pick 9

          .ai-input-submit-btn(data-animal-id=`${animal._id}`) Сохранить

      -if(forEdit)
        .ai-form-container.ai-form-container-headerful#edit-lactation-container
          -if(animal.lactations.length > 0)
            .ar-history-block
              .ar-h-title ИСТОРИЯ
              .ar-h-container
                each result in animal.lactations.reverse()
                  a.ar-h-item(href=`/herd/edit-lactation/${animal._id}/${animal.lactations.length - animal.lactations.indexOf(result) - 1}`)
                    p= `#${result.number}`
                    p.date-format(data-date=`${result.startDate}`) 
          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Лактацию
          
          .ai-input-block.ai-input-block-text
            .ai-input-label Начало
            input.ai-input.ai-input-date.ai-input-validation#start-date(type="date" data-animal-birth=`${animal.birthDate}` value=`${lactation.startDate.toLocaleString('ru-RU', {year: 'numeric'})}-${lactation.startDate.toLocaleString('ru-RU', {month: '2-digit'})}-${lactation.startDate.toLocaleString('ru-RU', {day: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно
          
          -if(lactation.finishDate)
            .ai-input-block.ai-input-block-text
              .ai-input-label Окончание
              input.ai-input.ai-input.ai-input-date.ai-input-validation#finish-date(type="date" value=`${lactation.finishDate.toLocaleString('ru-RU', {year: 'numeric'})}-${lactation.finishDate.toLocaleString('ru-RU', {month: '2-digit'})}-${lactation.finishDate.toLocaleString('ru-RU', {day: '2-digit'})}`)
          -else
            .ai-input-block.ai-input-block-text
              .ai-input-label Окончание
              input.ai-input.ai-input.ai-input-date.ai-input-validation#finish-date(type="date" )

          .invis-lact-cont
            each lact in animal.lactations 
              .invis-lact-data(data-number=`${lact.number}`, data-start=`${lact.startDate}` data-finish=`${lact.finishDate}`)
          .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#lactation-number
            .ai-input-label Номер лактации
            .ai-pick(class=`${lactation.number === 1 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 1 ? 'true' : 'false'}`) 1
            .ai-pick(class=`${lactation.number === 2 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 2 ? 'true' : 'false'}`) 2
            .ai-pick(class=`${lactation.number === 3 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 3 ? 'true' : 'false'}`) 3
            .ai-pick(class=`${lactation.number === 4 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 4 ? 'true' : 'false'}`) 4
            .ai-pick(class=`${lactation.number === 5 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 5 ? 'true' : 'false'}`) 5
            .ai-pick(class=`${lactation.number === 6 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 6 ? 'true' : 'false'}`) 6
            .ai-pick(class=`${lactation.number === 7 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 7 ? 'true' : 'false'}`) 7
            .ai-pick(class=`${lactation.number === 8 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 8 ? 'true' : 'false'}`) 8
            .ai-pick(class=`${lactation.number === 9 ? 'ai-to-pick' : ''}` data-current=`${lactation.number === 9 ? 'true' : 'false'}`) 9

          

          .ai-input-submit-btn(data-animal-id=`${animal._id}` data-index=`${index}`) Сохранить




