extends base

block content
  include _rcmHerd
  section.main-section 

    include _animalHeader
    .animal-results-window

      -if(!forEdit)
        .ai-form-container.ai-form-container-headerful#weight-results-container
          -if(animal.weightResults.length > 0)
            .ar-history-block
              .ar-h-title ИСТОРИЯ
              .ar-h-container
                each result in animal.weightResults.reverse()
                  a.ar-h-item(href=`/herd/edit-weight-result/${animal._id}/${animal.weightResults.length - animal.weightResults.indexOf(result) - 1}`)
                    p= `${result.result} кг.`
                    p.date-format(data-date=`${result.date}`) 
          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Изменение веса

          .ai-double-input-block
            .ai-input-block-half.ai-input-block-text
              .ai-input-label Вес
              input.ai-input.ai-input-half.ai-input-half-text#result(type="number")
              .ai-inside-text кг.
            .ai-input-block-half.ai-input-block-text
              .ai-input-label Дата
              input.ai-input.ai-input-half.ai-input-half-date#result-date(type="date")
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно
          
          .ai-input-submit-btn(data-animal-id=`${animal._id}`) Сохранить

      -if(forEdit)
        .ai-form-container.ai-form-container-headerful#edit-weight-results-container
          -if(animal.weightResults.length > 0)
            .ar-history-block
              .ar-h-title ИСТОРИЯ
              .ar-h-container
                each result in animal.weightResults.reverse()
                  a.ar-h-item(href=`/herd/edit-weight-result/${animal._id}/${animal.weightResults.length - animal.weightResults.indexOf(result) - 1}`)
                    p= `${result.result} кг.`
                    p.date-format(data-date=`${result.date}`) 
          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Изменение веса
          
          .ai-double-input-block
            .ai-input-block-half.ai-input-block-text
              .ai-input-label Вес
              input.ai-input.ai-input-half.ai-input-half-text#result(type="number"  value=`${result.result}`)
              .ai-inside-text кг.
            .ai-input-block-half.ai-input-block-text
              .ai-input-label Дата
              input.ai-input.ai-input-half.ai-input-half-date#result-date(type="date" value=`${result.date.toLocaleString('ru-RU', {year: 'numeric'})}-${result.date.toLocaleString('ru-RU', {month: '2-digit'})}-${result.date.toLocaleString('ru-RU', {day: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-submit-btn(data-animal-id=`${animal._id}` data-index=`${index}`) Сохранить

      



