extends base

block content
  include _rcmHerd
  section.main-section 

    include _animalHeader
    .animal-results-window
      -if(!forEdit)
        .ai-form-container.ai-form-container-headerful#milking-results-container
          -if(animal.milkingResults.length > 0)
            .ar-history-block
              .ar-h-title ИСТОРИЯ
              .ar-h-container
                each result in animal.milkingResults.reverse()
                  a.ar-h-item(href=`/herd/edit-milking-result/${animal._id}/${animal.milkingResults.length - animal.milkingResults.indexOf(result) - 1}`)
                    p= `${result.result} л.`
                    p.date-format(data-date=`${result.date}`) 
          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Контрольное доение
          
          .ai-double-input-block
            .ai-input-block-half.ai-input-block-text
              .ai-input-label Результат
              input.ai-input.ai-input-half.ai-input-half-text#result(type="number")
              .ai-inside-text л.
            .ai-input-block-half.ai-input-block-text
              .ai-input-label Дата
              input.ai-input.ai-input-half.ai-input-half-date.ai-input-validation#result-date(type="date")
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#lactation-number
            .ai-input-label Лактация
            each lact in animal.lactations
              .ai-pick.ai-pick-restricted(data-number=`${lact.number}` data-start-date=`${lact.startDate}` data-finish-date=`${!lact.finishDate ? new Date() : lact.finishDate}` data-finish-date-exist=`${!lact.finishDate ? false : true}`)= `#${lact.number}`

                   
          .ai-input-submit-btn(data-animal-id=`${animal._id}`) Сохранить

      -if(forEdit)
        .ai-form-container.ai-form-container-headerful#edit-milking-results-container
          -if(animal.milkingResults.length > 0)
            .ar-history-block
              .ar-h-title ИСТОРИЯ
              .ar-h-container
                each result in animal.milkingResults.reverse()
                  a.ar-h-item(href=`/herd/edit-milking-result/${animal._id}/${animal.milkingResults.length - animal.milkingResults.indexOf(result) - 1}`)
                    p= `${result.result} л.`
                    p.date-format(data-date=`${result.date}`) 
          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Контрольное доение

          .ai-double-input-block
            .ai-input-block-half.ai-input-block-text
              .ai-input-label Результат
              input.ai-input.ai-input-half.ai-input-half-text#result(type="number"  value=`${result.result}`)
              .ai-inside-text л.
            .ai-input-block-half.ai-input-block-text
              .ai-input-label Дата
              input.ai-input.ai-input-half.ai-input-half-date.ai-input-validation#result-date(type="date" value=`${result.date.toLocaleString('ru-RU', {year: 'numeric'})}-${result.date.toLocaleString('ru-RU', {month: '2-digit'})}-${result.date.toLocaleString('ru-RU', {day: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно
          .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#lactation-number
            .ai-input-label Лактация
            each lact in animal.lactations
              .ai-pick.ai-pick-restricted(data-number=`${lact.number}` data-start-date=`${lact.startDate}` data-finish-date=`${!lact.finishDate ? new Date() : lact.finishDate}` data-finish-date-exist=`${!lact.finishDate ? false : true}`)= `#${lact.number}`

          .ai-input-submit-btn(data-animal-id=`${animal._id}` data-index=`${index}`) Сохранить


 
