extends base

block content
  include _rcmHerd
  section.main-section 
    .dist-main-section#mp-herd(data-farm-id=`${user.farm}`)
      .main-page-header
        .main-page-header-title ЖИВОТНЫЕ
        .mph-actions-line
          a.mph-action-btn(href="/herd/all-animals/?filter=all" qt="Все животные")
            img(src='/img/images/default-cow-image.png')
          a.mph-action-btn(href="/herd/list-milking-results" qt="Добавить результаты доения")
            img(src='/img/images/milk-icon.png')
          a.mph-action-btn(href="/herd/list-inseminations" qt="Добавить осеменения")
            img(src='/img/images/needle-icon.png')
          a.mph-action-btn(href="/herd/write-off-animal/multiple" qt="Списать животных")
            img(src='/img/images/butcher-icon.png')
          a.mph-action-btn(href="/herd/add-animals" qt="Добавить животное")
            img(src='/img/svgs/plus.svg')
        //-.main-page-header-period-box
          input(type="date" value=`${startDate.toLocaleString('ru-RU', {year: 'numeric'})}-${startDate.toLocaleString('ru-RU', {month: '2-digit'})}-${startDate.toLocaleString('ru-RU', {day: '2-digit'})}`).main-page-header-period#start-date
          .main-page-header-devider -
          input(type="date" value=`${endDate.toLocaleString('ru-RU', {year: 'numeric'})}-${endDate.toLocaleString('ru-RU', {month: '2-digit'})}-${endDate.toLocaleString('ru-RU', {day: '2-digit'})}`).main-page-header-period#end-date
          .mp-date-quick-box  
            .mp-date-quick(data-months="12") ГОД
            .mp-date-quick(data-months="3") КВАРТАЛ
            .mp-date-quick(data-months="1") МЕСЯЦ
      .mp-info-box
        each cow in cows
          each result in cow.milkingResults
            .mp-graph-data(data-result=`${result.result}` data-date=`${result.date}` data-lact=`${result.lactationNumber}` data-cow-id=`${cow._id}` data-cow-photo=`${cow.mainPhoto}` data-cow-name=`${cow.name}` data-cow-number=`${cow.number}`)

      .herd-mp-flex-block 
        .herd-mp-quick-info-block
          .loading-block 
            .loading-icon
          .herd-mp-quick-info-counter-block
            .herd-mp-quick-info-counter.herd-mp-quick-info-counter-first.herd-mp-quick-info-counter-active(data-index="0")
            .herd-mp-quick-info-counter(data-index="1")
            .herd-mp-quick-info-counter(data-index="2")
            .herd-mp-quick-info-counter(data-index="3")
            .herd-mp-quick-info-counter(data-index="4")
            .herd-mp-quick-info-counter(data-index="5")
            .herd-mp-quick-info-counter(data-index="6")
          .herd-mp-quick-info-item.herd-mp-quick-info-item-first(data-index="0" data-res=`${data.animals.length}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-animal.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title ЖИВОТНЫЕ
            .herd-mp-quick-info-item-res= data.animals.length
          .herd-mp-quick-info-item(data-index="1" data-res=`${data.cows.length}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-cow.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title КОРОВЫ
            .herd-mp-quick-info-item-res= data.cows.length
          .herd-mp-quick-info-item(data-index="2" data-res=`${data.bulls.length}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-bull.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title БЫКИ
            .herd-mp-quick-info-item-res= data.bulls.length
          .herd-mp-quick-info-item(data-index="3" data-res=`${data.milkingCows}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-milking-cow.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title ДОЯЩИЕСЯ КОРОВЫ
            .herd-mp-quick-info-item-res= data.milkingCows
          .herd-mp-quick-info-item(data-index="4" data-res=`${data.inseminatedCows}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-inseminated-cow.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title ОСЕМЕНЕННЫЕ КОРОВЫ
            .herd-mp-quick-info-item-res= data.inseminatedCows
          .herd-mp-quick-info-item(data-index="5" data-res=`${data.bullsReady}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-ready-bull.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title БЫКИ НА ЗАБОЙ
            .herd-mp-quick-info-item-res= data.bullsReady
          .herd-mp-quick-info-item(data-index="6" data-res=`${data.calves}`)
            img.herd-mp-quick-info-item-img(src="/img/icons/herd-calf-alone.png")
            .herd-mp-quick-info-item-img-shadow
            .herd-mp-quick-info-item-title ТЕЛЯТА
            .herd-mp-quick-info-item-res= data.calves

        .herd-mp-list-block-combined

          .mp-block-outside-header
            .mp-block-outside-header-title#table-title Список коров на осеменение
            .mp-block-outside-header-btn-block#table-btns
              .mp-block-outside-header-btn.mp-block-outside-header-btn-active#insem Осеменение
              .mp-block-outside-header-btn#calv Отел
          .herd-mp-list-block.herd-mp-list-block-insem
            -if(tableData.soonToInsem.length === 0 && tableData.firstInsem.length === 0)
              .no-info-block
                .no-info-block-background
                h3 Недостаточно данных
                p Информация появится когда будет добавленно больше данных
            -else
              .herd-mp-list-block-header
                .herd-mp-li-header-item Номер
                .herd-mp-li-header-item Кличка
                .herd-mp-li-header-item Лактация
                .herd-mp-li-header-item Осеменение
                .herd-mp-li-header-item
              .herd-mp-list-container
                each cow in tableData.soonToInsem
                  a.herd-mp-list-line(data-first="false" href=`/herd/animal-card/${cow._id}`)
                    .herd-mp-list-line-item ##{cow.number}
                    .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                    .herd-mp-list-line-item.date-format(data-date=`${cow.lactations[cow.lactations.length - 1].startDate}`) 
                    .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text
                    .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text 
                each cow in tableData.firstInsem
                  a.herd-mp-list-line(data-first="true" href=`/herd/animal-card/${cow._id}`)
                    .herd-mp-list-line-item ##{cow.number}
                    .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                    .herd-mp-list-line-item.date-format(data-date=`${cow.birthDate}`) -
                    .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text 
                    .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text 

          .herd-mp-list-block.herd-mp-list-block-calv
            -if(tableData.soonToCalv.length === 0)
              .no-info-block
                .no-info-block-background
                h3 Недостаточно данных
                p Информация появится когда будет добавленно больше данных
            -else
              .herd-mp-list-block-header
                .herd-mp-li-header-item Номер
                .herd-mp-li-header-item Кличка
                .herd-mp-li-header-item Осеменение
                .herd-mp-li-header-item Отел
                .herd-mp-li-header-item
              .herd-mp-list-container
                each cow in tableData.soonToCalv
                  a.herd-mp-list-line(href=`/herd/animal-card/${cow._id}`)
                    .herd-mp-list-line-item ##{cow.number}
                    .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                    .herd-mp-list-line-item.date-format(data-date=`${cow.inseminations[cow.inseminations.length - 1].date}`) 
                    .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text
                    .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text 

      .herd-breakdown-block#herd-breakdown
        .loading-block  
          .loading-icon
        .mp-block-outside-header
            .mp-block-outside-header-title Классификация животных
            .mp-block-outside-header-btn-block
              .mp-block-outside-header-btn.mp-block-outside-header-btn-active#category Группа
              .mp-block-outside-header-btn#gender Пол
              .mp-block-outside-header-btn#age Возраст
              //-.mp-block-outside-header-btn#colors Окрас
              .mp-block-outside-header-btn#breed Порода
        //-.hbb-btns-row 
          .hbb-btn Группы
          .hbb-btn Возраст
          .hbb-btn Корпуса
        .hbb-line
          .hbb-line-text Корпус #1
          .hbb-line-text.hbb-line-text-second 30%
          .hbb-animals-block 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 
            a.hbb-animal-item(href="")
              img(src="/img/images/default-cow-image.png") 


      -if(topAnimalsFormated.length >= 2)
        .mp-results-flex-block
          .mp-block-outside-header
            .mp-block-outside-header-title Лучшие результаты доения
          .mp-top-results-block
            each res in topAnimalsFormated
              a.mp-top-result(class=`mp-top-result-${topAnimalsFormated.indexOf(res) + 1}` href=`/herd/animal-card/${res.cow._id}`)
                .mp-tr-line
                  img(src="/img/images/default-cow-image.png")
                  .mp-tr-body
                    .mp-tr-number ##{res.cow.number}
                    -if(res.cow.name)
                      .mp-tr-name= res.cow.name
                  .mp-tr-place= topAnimalsFormated.indexOf(res) + 1
                  .mp-tr-result= res.result

          .mp-recent-results-block
            .mp-recent-item(data-counter="0")
              //-.mp-recent-marker-block
                .mp-recent-marker
              .mp-recent-number(data-number=`${lastMonthsResult.average}`) 0
              .mp-recent-title СРЕДНИЙ РЕЗУЛЬТАТ
            .mp-recent-item(data-counter="1")
              //-.mp-recent-marker-block
                .mp-recent-marker
                .mp-recent-marker
              .mp-recent-number(data-number=`${lastMonthsResult.dayTotal}`) 0
              .mp-recent-title ВСЕГО ЗА ДЕНЬ
            .mp-recent-item(data-counter="2")
              //-.mp-recent-marker-block
                .mp-recent-marker
                .mp-recent-marker
                .mp-recent-marker
              .mp-recent-number(data-number=`${lastMonthsResult.monthTotal}`) 0
              .mp-recent-title ВСЕГО ЗА МЕСЯЦ

      #mp-herd-graph(data-farm-id=`${user.farm}`)  

      .mp-herd-graph-block
        .loading-block  
          .loading-icon
        .mp-block-outside-header
          .mp-block-outside-header-title Результаты доения
        .mp-herd-graph-container#mp-results-graph
          //-.mp-herd-graph-load 

          .mp-hg-btn-block.mp-hg-btn-block-1#graph-btns
            .mp-hg-btn.mp-hg-btn-active(data-graph="average") Средний
            .mp-hg-btn(data-graph="total") Всего
          .mp-hg-btn-block.mp-hg-btn-block-2#months-btns
            .mp-hg-btn(data-months="6") 6м
            .mp-hg-btn(data-months="12") 12м
            .mp-hg-btn(data-months="24") 24м
            .mp-hg-btn(data-months="60") 5г
            .mp-hg-btn(data-months="all")
              ion-icon(name="infinite")
          .mp-herd-legend-btn.legend-item  
            ion-icon(name="settings")

          .mp-graph-tooltip
            .mp-graph-tooltip-res 27.1
            .mp-graph-tooltip-title Средний результат
            .mp-graph-tooltip-gap
            .mp-graph-tooltip-sub-res 27.1
            .mp-graph-tooltip-title Всего молока
            .mp-graph-tooltip-sub-res 27.1
            .mp-graph-tooltip-title Кол-во результатов

            .mp-graph-tooltip-date МАРТ, 2023

          .mp-herd-legend
            .mp-herd-legend-column#main-column
              .mp-herd-legend-column-title ГЛАВНОЕ
              .mp-herd-legend-item
                .mp-herd-li-mark
                .mp-herd-li-text Результат
              .mp-herd-legend-item.mp-herd-legend-item-off
                .mp-herd-li-mark
                .mp-herd-li-text Средние по лакт.
            .mp-herd-legend-column#additional-column
              .mp-herd-legend-column-title ДОПОЛНИТЕЛЬНОЕ
            //.mp-herd-legend-column#edit-column
              .mp-herd-legend-column-title ИЗМЕНИТЬ
              .mp-herd-legend-item.mp-herd-legend-item-non-click
                .mp-herd-li-check
                  ion-icon(name="checkmark")
                .mp-herd-li-text Разбить по лактациям
              .mp-herd-legend-item.mp-herd-legend-item-non-click
                .mp-herd-li-check
                  ion-icon(name="checkmark")
                .mp-herd-li-text Разбить по годам

        .mp-herd-graph-info-block
          //-img(src="/img/icons/herd-results-icon.png")
          //-.mp-herd-graph-info-item.mp-herd-graph-info-item-top
            .mp-herd-graph-info-item-group
              .mp-herd-graph-info-text #50262321
              .mp-herd-graph-info-sub-text Березка
            .mp-herd-graph-info-item-group
              .mp-herd-graph-info-sub-text 13.06
              .mp-herd-graph-info-text 17.2

      //-.mp-projection-block#organic-growth-projection
      .mp-projection-block
        .loading-block
          .loading-icon
        .mp-block-outside-header
          .mp-block-outside-header-title Проекция изменения поголовья на следующие 5 лет
          .mp-block-outside-header-btn-block#projection-btns
            .mp-block-outside-header-btn.mp-block-outside-header-btn-active#detail Подробнее
        .mp-detail-text-block
          .mp-detail-text-title ОСНОВАНО НА:
          .mp-detail-text-sub-title Данная проекция изменения поголовья стада основана на средне статистических данных полученных в открытом доступе.
          .mp-detail-text-text 
            | Каждый год из-за болезней списывается
            span 1.67% 
            | животных.
          .mp-detail-text-text 
            | Каждая корова телится с переодичностью в 
            span 13
            | месяцев.
          .mp-detail-text-text 
            | При рождении или в первые несколько месяцев 
            span 12%
            | телят умирает.
          .mp-detail-text-text 
            | Быки после  
            span 2
            | лет, а коровы после
            span 6
            | списываются на забой.
        .mp-projection-info-block
          .mp-projection-info-item.mp-projection-info-item-animals(data-unit="animals")
            .mp-projection-info-item-res 107 
            .mp-projection-info-item-title 
              | ВСЕГО ЖИВОТНЫХ
              span.span-success +12
            img.mp-projection-image(src="/img/icons/herd-animal.png")
          .mp-projection-info-item.mp-projection-info-item-cows(data-unit="cows")
            .mp-projection-info-item-res 34
            .mp-projection-info-item-title 
              | КОРОВЫ
              span.span-fail -10
            img.mp-projection-image(src="/img/icons/herd-cow.png")
          .mp-projection-info-item.mp-projection-info-item-bulls(data-unit="bulls")
            .mp-projection-info-item-res 56
            .mp-projection-info-item-title 
              | БЫКИ
              span.span-success +12
            img.mp-projection-image(src="/img/icons/herd-bull.png")
          .mp-projection-info-item.mp-projection-info-item-milkingCows(data-unit="milkingCows")
            .mp-projection-info-item-res 12 
            .mp-projection-info-item-title 
              | ДОЯЩИЕСЯ КОРОВЫ
              span.span-success +17
            img.mp-projection-image(src="/img/icons/herd-milking-cow.png")
          .mp-projection-info-item.mp-projection-info-item-writeOff(data-unit="writeOff")
            .mp-projection-info-item-res 30 
            .mp-projection-info-item-title 
              | СПИСАНО ЖИВОТНЫХ
              span.span-fail -8
            img.mp-projection-image(src="/img/icons/herd-ready-bull.png")
        .mp-projection-graph#mp-herd-projection-chart
          .mp-projection-graph-working-area
            .mp-projection-graph-item
              .mp-projection-graph-item-title 1 г.
              .mp-projection-graph-item-bar
                .mp-projection-graph-item-bar-inside
            .mp-projection-graph-item
              .mp-projection-graph-item-title 2 г.
              .mp-projection-graph-item-bar
            .mp-projection-graph-item
              .mp-projection-graph-item-title 3 г.
              .mp-projection-graph-item-bar
            .mp-projection-graph-item
              .mp-projection-graph-item-title 4 г.
              .mp-projection-graph-item-bar
            .mp-projection-graph-item
              .mp-projection-graph-item-title 5 г.
              .mp-projection-graph-item-bar


      .milk-quality-graph-container
        .loading-block
          .loading-icon
        .mp-block-outside-header
          .mp-block-outside-header-title Качество молока
        .milk-quality-graph#milk-quality-graph
        .milk-quality-info-block
          .milk-quality-info-item#water
            .milk-quality-info-title Вода
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#fat
            .milk-quality-info-title Жиры
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#dryResidue
            .milk-quality-info-title Сухой остаток
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#casein
            .milk-quality-info-title Казеин
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#sugar
            .milk-quality-info-title Сахар
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#phosphatides
            .milk-quality-info-title Фосфатиды
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#sterols
            .milk-quality-info-title Стерины
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#albumen
            .milk-quality-info-title Альбумин
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#otherProteins
            .milk-quality-info-title Другие белки
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#nonProteinCompounds
            .milk-quality-info-title Небелковые соединения
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#saltsOfInorganicAcids
            .milk-quality-info-title Соли неорган. кислот
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#ash
            .milk-quality-info-title Зола
            .milk-quality-info-res 4.8%
          .milk-quality-info-item#pigments
            .milk-quality-info-title Пигменты
            .milk-quality-info-res 4.8%


      //-.weight-graph-container#weight-graph
        
      