extends base

block content
  include _rcmHerd
  section.main-section 
    .add-animal-container#add-animal-container
      .ai-decide-block
        .ai-decide-block-item#birth
          .ai-decide-block-item-text 
            | ЖИВОТНОЕ РОДИЛОСЬ НА 
            span ФЕРМЕ
          img.ai-decide-block-item-img(src="/img/icons/herd-calf.png")
        .ai-decide-block-item#purchase
          .ai-decide-block-item-text 
            | ЖИВОТНОЕ БЫЛО 
            span КУПЛЕНО
          img.ai-decide-block-item-img(src="/img/icons/herd-bought-animal.png")

      .ai-form-container.add-animal-form
        .ai-block-sub-title ДОБАВИТЬ
        .ai-block-title Животное

        .ai-input-block.ai-input-block-text
          .ai-input-label Номер
          .ai-inside-text #
          input.ai-input.ai-input-text.ai-input-validation#number(type="text" placeholder="5026")
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            //-.ai-input-eb-title Титуль
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-text
          .ai-input-label Имя
          input.ai-input.ai-input-text#name(type="text" placeholder="Березка")


        .ai-input-block.ai-input-block-text.purchase-input
          .ai-input-label Стоимость
          input.ai-input.ai-input-text#buy-cost(type="number" )
          .ai-inside-text ₽

        .ai-input-block.ai-input-block-text
          .ai-input-label Дата рождения
          input.ai-input.ai-input-date.ai-input-validation#birth-date(type="date")
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            //-.ai-input-eb-title Титуль
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-select.birth-input
          .ai-select-line
          .ai-input-label Мать
          input.ai-input.ai-input-select#mother(type="text" placeholder="Номер или имя коровы")
          .ai-select-block.shadow
            each animal in potMother
              .ai-select-item(data-id=`${animal._id}`)
                p.ai-select-name= `#${animal.number}`
                -if(animal.name)
                  p.ai-select-sub-name= animal.name

        .ai-input-block.ai-input-block-select.birth-input.id-select
          .ai-select-line
          .ai-input-label Отец
          input.ai-input.ai-input-select#father(type="text" placeholder="Номер или имя быка")
          .ai-select-block.shadow
            each animal in potFather
              .ai-select-item(data-id=`${animal._id}`)
                p.ai-select-name= `#${animal.number}`
                -if(animal.name)
                  p.ai-select-sub-name= animal.name

        .ai-input-block.ai-input-block-select.breed-input.breed-select
          .ai-select-line
          .ai-input-label Порода
          input.ai-input.ai-input-select#breed(type="text" placeholder="Наименование породы")
          .ai-select-block.shadow
            .ai-select-item(data-rus="Айршир" data-eng="Ayrshire")
              p.ai-select-name Айршир
            .ai-select-item(data-rus="Голштин" data-eng="Holstein")
              p.ai-select-name Голштин
            .ai-select-item(data-rus="Сементал" data-eng="Semental")
              p.ai-select-name Сементал
            .ai-select-item(data-rus="Швицкая" data-eng="Swiss")
              p.ai-select-name Швицкая
            .ai-select-item(data-rus="Джерси" data-eng="Jersey")
              p.ai-select-name Джерси
            .ai-select-item(data-rus="Монбельярд" data-eng="Montbéliarde")
              p.ai-select-name Монбельярд
            .ai-select-item(data-rus="Чёрно-пёстрая" data-eng="Russian Black Pied")
              p.ai-select-name Чёрно-пёстрая
            .ai-select-item(data-rus="Красно-пёстрая" data-eng="Russian Red Pied")
              p.ai-select-name Красно-пёстрая
            .ai-select-item(data-rus="Красная Степная" data-eng="Red Steppe")
              p.ai-select-name Красная Степная

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#gender
          .ai-input-label Пол
          .ai-pick#male Мужской
          .ai-pick#female Женский
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            //-.ai-input-eb-title Титуль
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-pick.ai-input-block-pick-many#colors
          .ai-input-label Цвет
          .ai-pick#black Черный
          .ai-pick#red Красный
          .ai-pick#white Белый

        .ai-double-input-block
          .ai-input-block-half.ai-input-block-text
            .ai-input-label Корпус
            input.ai-input.ai-input-half.ai-input-half-text#building(type="text")
          .ai-input-block-half.ai-input-block-text
            .ai-input-label Место
            input.ai-input.ai-input-half.ai-input-half-text#spot(type="text")

        .ai-input-submit-btn Сохранить

      .ai-success-block 
        ion-icon(name="checkmark-circle")


