extends base

block content
  .menu-ref(data-block="herd-block" data-page="herd-all-animals" data-sub="")

  section.main-section 

    include _animalHeader
    .animal-results-window

      .animal-results-history
        .ar-block-title.ar-block-title-chart История результатов
        -if(animal.milkingResults.length > 3)
          .animal-results-data-box  
            each result in animal.milkingResults 
              .animal-result-data(data-date=`${result.date}` data-result=`${result.result}` data-lact-number=`${result.lactationNumber}` data-index=`${animal.milkingResults.indexOf(result)}`)
          .animal-results-average-box  
            each anim in animals 
              each result in anim.milkingResults 
                .animal-average-data(data-date=`${result.date}` data-result=`${result.result}` data-lact-number=`${result.lactationNumber}`)
          svg.graph-canvas#the-graph(width="150" height="100" data-animal-id=`${animal._id}`) 
          .history-graph-tooltip#history-graph-tooltip
            .hgt-header-line
              img(src="/img/images/default-cow-image.png")
              .hgt-header-line-info
                .hgt-number= `#${animal.number}`
                -if(animal.name)
                  .hgt-name= animal.name
            .hgt-result-line#date-line
              p Дата:
              p#tooltip-date 26.01.2001
            .hgt-result-line#result-line
              p Результат:
              p#tooltip-result 25 л.
            .hgt-result-line#lactation-line
              p Лактация:
              p#tooltip-lactation #3
            a.hgt-edit-btn(href="#") Редактировать 
        -else
          .ar-empty-history-block
            img(src="/img/images/no-data-image.png")
            p Слишком мало данных
          
        .ar-tip-container 
          .ar-tip-icon 
            ion-icon(name="bulb")
          .ar-tip-text Мы любим животных и стараемся поддерживать тех из них, кому не посчастливилось иметь ласковых хозяев и тёплый кров. Один из проверенных способов это сделать — помочь приюту для животных Домашний. У этих ребят живёт более 1500 четвероногих, и благодаря их труду ежегодно сотни питомцев находят свой новый дом.

      -if(!forEdit)
        .animal-results-container.animal-results-big#milking-results-container
          img.ar-image-back(src="/img/images/milk-icon.png")
          .ar-block-title Контрольное доение
          .ar-one-line-result
            .aa-input-block.aa-input-block-half
              lable.aa-label(for="result")
                p Результат
                p |
                p Литры
              input.aa-text-input#result(type="number")
            .aa-input-block.aa-input-block-half
              label.aa-label(for="result-date")
                p Дата
              input.aa-text-input.aa-date-input#result-date(type="date")
          .aa-input-block 
            label.aa-label(for="lactation-number")
              p Лактация
            .aa-pick-box.aa-pick-box-one#lactation-number
              each lact in animal.lactations
                .aa-pick(data-number=`${lact.number}` data-start-date=`${lact.startDate}` data-finish-date=`${lact.finishDate === null ? new Date() : lact.finishDate}`)
                  p= `#${lact.number}`
                  .aa-pick-small= `${lact.startDate.toLocaleString('ru-RU', {year: 'numeric'})}`
          .ar-btn-box          
            a.ar-add-button(data-animal-id=`${animal._id}`) Сохранить

      -if(forEdit)
        .animal-results-container.animal-results-big#edit-milking-results-container
          img.ar-image-back(src="/img/images/milk-icon.png")
          .ar-block-title Редактировать контрольное доение
          .ar-one-line-result
            .aa-input-block.aa-input-block-half
              lable.aa-label(for="result")
                p Результат
                p |
                p Литры
              input.aa-text-input#result(type="number" value=`${result.result}`)
            .aa-input-block.aa-input-block-half
              label.aa-label(for="result-date")
                p Дата
              input.aa-text-input.aa-date-input#result-date(type="date" data-value=`${result.date}`)
          .aa-input-block 
            label.aa-label(for="lactation-number")
              p Лактация
            .aa-pick-box.aa-pick-box-one#lactation-number
              each lact in animal.lactations
                .aa-pick(data-number=`${lact.number}` data-start-date=`${lact.startDate}` data-finish-date=`${lact.finishDate === null ? new Date() : lact.finishDate}`)
                  p= `#${lact.number}`
                  .aa-pick-small= `${lact.startDate.toLocaleString('ru-RU', {year: 'numeric'})}`
          .ar-btn-box          
            a.ar-add-button(data-animal-id=`${animal._id}` data-index=`${index}`) Сохранить


 
