extends base

block content
  .menu-ref(data-block="herd-block" data-page="herd-add-animal" data-sub="")

  section.main-section 
    .add-animal-container#add-animal-container(data-point="1" data-info-block="birth")
      .aa-header
        .aa-progress-box
          a.aa-progress-btn#point-1
            ion-icon(name="paw")
          a.aa-progress-btn#point-2
            ion-icon(name="reader")
        //-.mini-loader
        .aa-back-btn 
          ion-icon(name="arrow-back-circle-outline")
        .aa-create-btn Продолжить
      .aa-main-block
        .aa-decide-block
          .aa-block-title 
            | Животное было 
            span.aa-buy куплено
            |  или 
            span.aa-birth родилось
            |  на ферме?
          .aa-decide-btn-box
            .aa-decide-btn#aa-buy-btn
              ion-icon(name="cash")
            .aa-decide-btn#aa-birth-btn
              ion-icon(name="paw")

        .aa-info-block
          .aa-block-title Введите информацию о животном.
          .aa-block-sub-title * поля обязательные для заполнения.
          form.aa-form.aa-form-buy
            .aa-input-block
              lable.aa-label(for="number") 
                p Номер*
                //-.aa-label-warning -&nbsp; Данный номер уже занят
              input.aa-text-input#number(type="text")
            .aa-input-block
              lable.aa-label(for="name")
                p Имя
              input.aa-text-input#name(type="text")
            .aa-input-block.info-buy-items
              lable.aa-label(for="buy-cost")
                p Цена покупки
                p |
                p ₽
              input.aa-text-input#buy-cost(type="number")
            //-.aa-input-block 
              label.aa-label(for="main-photos")
                p Главное фото
                p |
                ion-icon(name="images-outline")
              input.aa-photo-input#main-photos(type="file" accept="image/*")
              .aa-photo-preview-box
                //-img.aa-photo-preview(src="/img/images/cow-image.jpg")
            //-.aa-input-block 
              label.aa-label(for="add-photos")
                p Доп. фото
                p |
                ion-icon(name="images-outline")
              input.aa-photo-input#add-photos(type="file" accept="image/*" multiple)
              .aa-photo-preview-box
                //-img.aa-photo-preview(src="/img/images/cow-image.jpg")

            -if(potMother.length > 0)
              .aa-input-block.info-birth-items
                lable.aa-label(for="mother") 
                  p Мать
                input.aa-search-input.aa-animal-search#mother(data-id="" data-placeholder="Имя или #Номер")
                .animal-search-block#mother-search-block
                  each anim in potMother
                    .animal-search-item(data-id=`${anim._id}`)
                      -if(anim.mainPhoto)
                        img(src=`/img/images/${anim.mainPhoto}`)
                      -if(anim.name)
                        .animal-search-name= anim.name
                      .animal-search-number= `#${anim.number}`

            -if(potFather.length > 0)
              .aa-input-block.info-birth-items
                lable.aa-label(for="father") 
                  p Отец
                input.aa-search-input.aa-animal-search#father(data-id="" data-placeholder="Имя или #Номер")
                .animal-search-block
                  each anim in potFather
                    .animal-search-item(data-id=`${anim._id}`)
                      -if(anim.mainPhoto)
                        img(src=`/img/images/${anim.mainPhoto}`)
                      -if(anim.name)
                        .animal-search-name= anim.name
                      .animal-search-number= `#${anim.number}`

            .aa-input-block 
              label.aa-label(for="birth-date")
                p Дата рождения*
              input.aa-text-input.aa-date-input#birth-date(type="date")

            .aa-input-block
              lable.aa-label(for="breed") 
                p Порода
              input.aa-search-input.aa-breed-search#breed(data-placeholder="Название пароды")
              .animal-search-block
                .animal-search-item(data-rus="Айршир" data-eng="Ayrshire")
                  p.animal-search-name Айршир
                .animal-search-item(data-rus="Голштин" data-eng="Holstein")
                  p.animal-search-name Голштин
                .animal-search-item(data-rus="Сементал" data-eng="Semental")
                  p.animal-search-name Сементал
                .animal-search-item(data-rus="Швицкая" data-eng="Swiss")
                  p.animal-search-name Швицкая
                .animal-search-item(data-rus="Джерси" data-eng="Jersey")
                  p.animal-search-name Джерси
                .animal-search-item(data-rus="Монбельярд" data-eng="Montbéliarde")
                  p.animal-search-name Монбельярд
                .animal-search-item(data-rus="Чёрно-пёстрая" data-eng="Russian Black Pied")
                  p.animal-search-name Чёрно-пёстрая
                .animal-search-item(data-rus="Красно-пёстрая" data-eng="Russian Red Pied")
                  p.animal-search-name Красно-пёстрая
                .animal-search-item(data-rus="Красная Степная" data-eng="Red Steppe")
                  p.animal-search-name Красная Степная

            .aa-input-block 
              label.aa-label(for="gender")
                p Пол*
              .aa-pick-box.aa-pick-box-one#gender
                .aa-pick#female Женский
                .aa-pick#male Мужской
            .aa-input-block 
              label.aa-label(for="colors")
                p Цвета
              .aa-pick-box.aa-pick-box-few#colors
                .aa-pick#black Черный
                .aa-pick#red Красный
                .aa-pick#white Белый



        .aa-success-block 
          ion-icon(name="checkmark-circle")
          //p Животное успешно добавленно!



