extends base

block content
  include _rcmMain
  section.main-section 
    .main-page-container(data-farm-id=`${user.farm}`)
      .main-welcome-block
        .mw-title FARMME
        a.mw-account-block.mw-link-block(href="/edit-user")
          .mw-marquee-container
            .mw-marquee-text.mw-marquee-text-white Настройки аккаунта. Настройки фермы.  
            .mw-marquee-text.mw-marquee-text-white Настройки аккаунта. Настройки фермы.  
          .mw-block-line
            .mw-account-name= `${user.firstName} ${user.lastName}`
            img.mw-account-image(src="/img/images/user-default.png")
          .mw-block-line
            .mw-block-name.mw-white Мой Аккаунт
            ion-icon.mw-block-icon.mw-white(name="arrow-forward")
          .mw-animation-block
            //-img.mw-animation-icon.mw-animation-icon-1(src="/img/images/cow-icon.png")
            //-img.mw-animation-icon.mw-animation-icon-2(src="/img/images/med-cross-icon.png")
            //-img.mw-animation-icon.mw-animation-icon-3(src="/img/images/inventory-icon.png")
            ion-icon.mw-animation-icon.mw-animation-icon-1#herd-main-icon(name="paw")
            ion-icon.mw-animation-icon.mw-animation-icon-2#vet-main-icon(name="thermometer")
            ion-icon.mw-animation-icon.mw-animation-icon-3#dist-main-icon(name="cart")
            ion-icon.mw-animation-icon.mw-animation-icon-4#feed-main-icon(name="ice-cream")

        a.mw-link-herd-block.mw-link-block.mw-small-link-block#herd-main-block(href="/herd/")
          .mw-marquee-container
            .mw-marquee-text.mw-marquee-small Учет стада. Молочная и весовая статистика. Осемения и отелы.  
            .mw-marquee-text.mw-marquee-small Учет стада. Молочная и весовая статистика. Осемения и отелы.  
          .mw-block-line
            .mw-block-name ЖИВОТНЫЕ
            ion-icon.mw-block-icon(name="paw")
        a.mw-link-vet-block.mw-link-block.mw-small-link-block#vet-main-block(href="/vet/")
          .mw-marquee-container
            .mw-marquee-text.mw-marquee-small Ведение проблем животных и их лечения. Схемы. Учет ветеринарных действий.  
            .mw-marquee-text.mw-marquee-small Ведение проблем животных и их лечения. Схемы. Учет ветеринарных действий.  
          .mw-block-line
            .mw-block-name ВЕТЕРИНАРИЯ
            ion-icon.mw-block-icon(name="thermometer")
        a.mw-link-feed-block.mw-link-block.mw-small-link-block#feed-main-block(href="/feed/")
          .mw-marquee-container
            .mw-marquee-text.mw-marquee-small Добавление, расход и учет кормов. 
            .mw-marquee-text.mw-marquee-small Добавление, расход и учет кормов. 
          .mw-block-line
            .mw-block-name КОРМЛЕНИЕ
            ion-icon.mw-block-icon(name="ice-cream")
        a.mw-link-dist-block.mw-link-block.mw-small-link-block#dist-main-block(href="/distribution/")
          .mw-marquee-container
            .mw-marquee-text.mw-marquee-small Учет сырого продукта. Продажи. Списание. Переработка сырья. Заказы. Клиенты. 
            .mw-marquee-text.mw-marquee-small Учет сырого продукта. Продажи. Списание. Переработка сырья. Заказы. Клиенты. 
          .mw-block-line
            .mw-block-name ПРОДУКИЯ
            ion-icon.mw-block-icon(name="cart")
        a.mw-link-quick-block.mw-link-block(href="#")
          .mw-block-line
            .mw-block-name Быстрая информация
            ion-icon.mw-block-icon(name="chevron-down")

      .main-herd-section
        .main-page-header.main-page-header-sub-section
          .main-page-header-title ЖИВОТНЫЕ
          .mph-actions-line
            a.mph-action-btn(href="/herd/all-animals/?filter=all" qt="Все животные")
              img(src='/img/images/default-cow-image.png')
            a.mph-action-btn(href="/herd/list-milking-results" qt="Добавить результаты доения")
              img(src='/img/images/milk-icon.png')
            a.mph-action-btn(href="/herd/list-inseminations" qt="Добавить осеменения")
              img(src='/img/images/needle-icon.png')
            a.mph-action-btn(href="/herd/write-off-animal/multiple" qt="Списать животных")
              img(src='/img/images/butcher-icon.png')
            a.mph-action-btn(href="/herd/add-animals" qt="Добавить животное")
              img(src='/img/svgs/plus.svg')

        .mhs-main-info-block
          .mhs-main-info-title КОЛИЧЕСТВО МОЛОКА В МЕСЯЦ (Л.)
          .mhs-mi-text-block.mhs-mi-text-block-left.mhs-mi-text-block-months
            .mhs-mi-text ЯНВ
            .mhs-mi-text ФЕВ
            .mhs-mi-text МАРТ
            .mhs-mi-text АПР
            .mhs-mi-text МАЙ
            .mhs-mi-text ИЮНЬ
            .mhs-mi-text ИЮЛЬ
            .mhs-mi-text АВГ
            .mhs-mi-text СЕН
            .mhs-mi-text ОКТ
            .mhs-mi-text НОЯ
            .mhs-mi-text ДЕК
          .mhs-mi-graph 
            .mhs-mi-graph-item(data-month="11")
            .mhs-mi-graph-item(data-month="10")
            .mhs-mi-graph-item(data-month="9")
            .mhs-mi-graph-item(data-month="8")
            .mhs-mi-graph-item(data-month="7")
            .mhs-mi-graph-item(data-month="6")
            .mhs-mi-graph-item(data-month="5")
            .mhs-mi-graph-item(data-month="4")
            .mhs-mi-graph-item(data-month="3")
            .mhs-mi-graph-item(data-month="2")
            .mhs-mi-graph-item(data-month="1")
            .mhs-mi-graph-item(data-month="0")
          .mhs-mi-text-block.mhs-mi-text-block-right.mhs-mi-text-block-results
            .mhs-mi-text 27.3 к

        .mhs-bottom-info 
          .mhs-bi-switch-block
            .mhs-bi-item-switch.mhs-bi-item-switch-first.mhs-bi-item-switch-active
              .mhs-bi-icon 
                img(src="/img/icons/herd-animal.png")
                div
              .mhs-bi-text
                p Животные
                p= data.animals.length
            .mhs-bi-item-switch
              .mhs-bi-icon 
                img(src="/img/icons/herd-cow.png")
                div
              .mhs-bi-text
                p Коровы
                p= data.cows.length
            .mhs-bi-item-switch
              .mhs-bi-icon 
                img(src="/img/icons/herd-bull.png")
                div
              .mhs-bi-text
                p Быки
                p= data.bulls.length
            .mhs-bi-item-switch
              .mhs-bi-icon 
                img(src="/img/icons/herd-milking-cow.png")
                div
              .mhs-bi-text
                p Доящиеся коровы
                p= data.milkingCows
            .mhs-bi-item-switch
              .mhs-bi-icon 
                img(src="/img/icons/herd-inseminated-cow.png")
                div
              .mhs-bi-text
                p Осемененные коровы
                p= data.inseminatedCows
            .mhs-bi-item-switch
              .mhs-bi-icon 
                img(src="/img/icons/herd-ready-bull.png")
                div
              .mhs-bi-text
                p Быки на забой
                p= data.bullsReady
            .mhs-bi-item-switch.mhs-bi-item-switch-last
              .mhs-bi-icon 
                img(src="/img/icons/herd-calf-alone.png")
                div
              .mhs-bi-text
                p Телята
                p= data.calves

          .mhs-bi-item
            .mhs-bi-icon 
              img(src="/img/svgs/wave-sine.svg")
              div
            .mhs-bi-text
              p Средний результат
              p#average 21.3 л.
          .mhs-bi-item
            .mhs-bi-icon 
              img(src="/img/svgs/chart-donut.svg")
              div
            .mhs-bi-text
              p Молока в день
              p#day 436 л.

      .main-vet-section#main-vet-section
        .main-page-header.main-page-header-sub-section
          .main-page-header-title ВЕТЕРИНАРИЯ
          .mph-actions-line
            a.mph-action-btn(href="/vet/add-action/multiple" qt="Добавить действие")
              img(src='/img/images/vet-action-icon.png')
            a.mph-action-btn(href="/vet/add-problem/multiple" qt="Добавить проблему")
              img(src='/img/images/vet-problem-icon.png')
            a.mph-action-btn(href="//vet/add-scheme" qt="Добавить схему")
              img(src='/img/images/vet-scheme-icon.png')

        .mvs-info-graph
          .loading-block 
            .loading-icon
          .mvs-ig-text.mvs-ig-text-1(data-el="toInsem") Пора осеменять 
          .mvs-ig-text.mvs-ig-text-2(data-el="over") Перестой
          .mvs-ig-text.mvs-ig-text-3(data-el="inseminated") Осемененные
          .mvs-ig-text.mvs-ig-text-4(data-el="wait") Ожидание результата

          .mvs-ig-details-block
            .mvs-ig-details-block-title Осеменение
            .mvs-ig-details-block-count Количество: &nbsp; 16

        .mhs-bottom-info
          .mhs-bi-item
            .mhs-bi-icon 
              img(src="/img/svgs/first-aid.svg")
              div
            .mhs-bi-text
              p Не вылеченные проблемы
              p#sick= problems.length
          //-.mhs-bi-item
            .mhs-bi-icon 
              img(src="/img/svgs/stethoscope.svg")
              div
            .mhs-bi-text
              p Животных на лечении
              p#treatment 436 л.
