extends base

block content
  .menu-ref(data-block="herd-block" data-page="herd-all-animals" data-sub="")

  section.main-section 
    .main-welcome-block
      .mw-title-block
        .mw-title FARMME
      a.mw-account-block.mw-link-block(href="#")
        .mw-marquee-container
          .mw-marquee-text.mw-marquee-text-white Настройки аккаунта. Настройки фермы. 
          .mw-marquee-text.mw-marquee-text-white Настройки аккаунта. Настройки фермы. 
        .mw-block-line
          .mw-account-name Даниил Коробко
          img.mw-account-image(src="/img/images/cows-login-2.jpg")
        .mw-block-line
          .mw-block-name.mw-white Мой Аккаунт
          ion-icon.mw-block-icon.mw-white(name="arrow-forward")
        .mw-animation-block
          //-img.mw-animation-icon.mw-animation-icon-1(src="/img/images/cow-icon.png")
          //-img.mw-animation-icon.mw-animation-icon-2(src="/img/images/med-cross-icon.png")
          //-img.mw-animation-icon.mw-animation-icon-3(src="/img/images/inventory-icon.png")
          ion-icon.mw-animation-icon.mw-animation-icon-1#herd-main-icon(name="paw")
          ion-icon.mw-animation-icon.mw-animation-icon-2#vet-main-icon(name="thermometer")
          ion-icon.mw-animation-icon.mw-animation-icon-3#warehouse-main-icon(name="cube")

      a.mw-link-herd-block.mw-link-block.mw-small-link-block#herd-main-block(href="/herd/")
        .mw-marquee-container
          .mw-marquee-text.mw-marquee-small Учет стада. Молочная и весовая статистика. Осемения и отелы. 
          .mw-marquee-text.mw-marquee-small Учет стада. Молочная и весовая статистика. Осемения и отелы. 
        .mw-block-line
          .mw-block-name Стадо
          ion-icon.mw-block-icon(name="paw")
      a.mw-link-vet-block.mw-link-block.mw-small-link-block#vet-main-block(href="/vet/")
        .mw-marquee-container
          .mw-marquee-text.mw-marquee-small Ведение проблем животных и их лечения. Схемы. Учет ветеринарных действий. 
          .mw-marquee-text.mw-marquee-small Ведение проблем животных и их лечения. Схемы. Учет ветеринарных действий. 
        .mw-block-line
          .mw-block-name Ветеринария
          ion-icon.mw-block-icon(name="thermometer")
      a.mw-link-warehouse-block.mw-link-block.mw-small-link-block#warehouse-main-block(href="/warehouse/")
        .mw-marquee-container
          .mw-marquee-text.mw-marquee-small Отслеживание инвентаря.
          .mw-marquee-text.mw-marquee-small Отслеживание инвентаря.
        .mw-block-line
          .mw-block-name Склад
          ion-icon.mw-block-icon(name="cube")
      a.mw-link-quick-block.mw-link-block(href="#")
        .mw-block-line
          .mw-block-name.mw-white Быстрая информация
          ion-icon.mw-block-icon.mw-white(name="chevron-down")
    
    .main-page-herd-block
      .mph-info-box  
        svg(width="300px" height="300px")

    .main-page-vet-block
      .mpv-big-info
        img(src="/img/images/thermometr-main-icon.png")
        .mpv-big-info-text-box
          .mpv-big-info-title 3
          .mpv-big-info-text Животных
          .mpv-big-info-text Требуют внимания
          
      
    
    
    
    //-.main-page-container#mp-herd-container 
      .mp-info-block
        each cow in cows
          each result in cow.milkingResults
            .mp-graph-data(data-result=`${result.result}` data-date=`${result.date}` data-lact=`${result.lactationNumber}` data-cow-id=`${cow._id}` data-cow-photo=`${cow.mainPhoto}` data-cow-name=`${cow.name}` data-cow-number=`${cow.number}`)
        .mp-animal-graph-container   
          //-.mp-tooltip-box
            .mp-tooltip-title Ноябрь 2022
            .mp-tooltip-info-line
              .mp-tooltip-info Результатов:
              .mp-tooltip-info 27
            .mp-tooltip-devider
            .mp-tooltip-result-line
              .mp-tooltip-marker
              .mp-tooltip-result-info Сред. результат
              .mp-tooltip-result 17 л.
          svg.mp-animal-block-graph.graph-info-hidden#mp-graph(data-graph-name="milk-average" data-period-months="12")
            //-path.line-graph-average-line(d=`M 100 300 Q 127 212 200 200 Q 287 191 300 250 L 400 100 L 500 75 L 600 400 L 700 300 L 800 250` stroke="black" fill="transparent")
          .mp-animal-graphs-switch
            .mp-animal-graphs-switch-btn.mp-animal-graphs-switch-btn-active#milk-average Молоко среднее
            .mp-animal-graphs-switch-btn#milk-total Молоко всего
            .mp-animal-graphs-switch-btn#milk-lact Лактации
          .mp-animal-graphs-period
            .mp-animal-graphs-period-btn.mp-animal-graphs-period-btn-active(data-period=`12`) 1г
            .mp-animal-graphs-period-btn(data-period=`24`) 2г
            .mp-animal-graphs-period-btn(data-period=`36`) 3г
            .mp-animal-graphs-period-btn(data-period=`60`) 5г
            .mp-animal-graphs-period-btn(data-period=`120`) 10г
            .mp-animal-graphs-period-btn(data-period=`all-time`) Все время
          .mp-animal-graphs-legend
            //-.mp-animal-graphs-legend-item
              .mp-animal-graphs-legend-item-line
              .mp-animal-graphs-legend-item-text Результат ( 26 коров )
        .mp-two-list-blocks
          .mpt-list-block
            .mpt-list-block-header
              .mpt-list-block-title Ближайший отел
              .mpt-list-block-sub-title Для полного списка нажмите на 'Показать больше'. <br> Для более подробной информации нажмите на нужное животное.
              a.mpt-list-block-more-btn(href="#") Показать больше
              img(src='/img/images/no-data-image.png')
            .mpt-list-block-devider
            .mpt-list-animals#mp-soon-to-calv-list
              each cow in cows
                -if(cow.inseminations.length > 0 && cow.inseminations[cow.inseminations.length - 1].success && cow.lactations.length === 0 || cow.inseminations.length > 0 && cow.inseminations[cow.inseminations.length - 1].success && cow.inseminations[cow.inseminations.length - 1].date > cow.lactations[cow.lactations.length - 1].startDate)
                  a.mpt-list-item(href=`/herd/animal-card/${cow._id}`)
                    //-img.mpt-list-item-image(src="/img/images/default-cow-image.png")
                    .mpt-list-item-number= `#${cow.number}`
                    .mpt-list-item-date(data-date=`${new Date(cow.inseminations[cow.inseminations.length - 1].date.getTime() + 283 * 24 * 60 * 60 * 1000)}`) 26 Ноября 2022
                    .mpt-list-item-day
                      .mpt-list-item-day-text 11 дней


          .mpt-list-block
            .mpt-list-block-header
              .mpt-list-block-title Ближайшие осеменение
              .mpt-list-block-sub-title Для полного списка нажмите на 'Показать больше'. <br> Для более подробной информации нажмите на нужное животное.
              a.mpt-list-block-more-btn(href="#") Показать больше
              img(src='/img/images/no-data-image.png')
            .mpt-list-block-devider
            .mpt-list-animals#mp-soon-to-insem-list
              each cow in cows
                -if(cow.lactations.length === 0 && cow.inseminations.length === 0 || cow.lactations.length === 0 && cow.inseminations.length > 0 && !cow.inseminations[cow.inseminations.length - 1].success)
                  a.mpt-list-item(href=`/herd/animal-card/${cow._id}`)
                    //-img.mpt-list-item-image(src="/img/images/default-cow-image.png")
                    .mpt-list-item-number= `#${cow.number}`
                    .mpt-list-item-else Пора осеменять

                -if(cow.lactations.length > 0)
                  -if(cow.inseminations.length === 0 || cow.lactations[cow.lactations.length - 1].startDate > cow.inseminations[cow.inseminations.length - 1].date || cow.lactations[cow.lactations.length - 1].startDate < cow.inseminations[cow.inseminations.length - 1].date && !cow.inseminations[cow.inseminations.length - 1].success)
                    a.mpt-list-item(href=`/herd/animal-card/${cow._id}`)
                      //-img.mpt-list-item-image(src="/img/images/default-cow-image.png")
                      .mpt-list-item-number= `#${cow.number}`
                      .mpt-list-item-date(data-date=`${new Date(cow.lactations[cow.lactations.length - 1].startDate.getTime() + 2 * 30 * 24 * 60 * 60 * 1000)}`) 26 Ноября 2022
                      .mpt-list-item-day
                        -if((cow.lactations[cow.lactations.length - 1].startDate.getTime() + 2 * 30 * 24 * 60 * 60 * 1000) - Date.now() > 0 )
                          .mpt-list-item-day-text.mpt-list-item-day-pos 11 дней
                        -else 
                          .mpt-list-item-day-text.mpt-list-item-day-neg 11 дней



      .mp-fixed-block
        .mp-main-info-container
          .mp-main-info-block
            .mp-main-info-image.mp-main-info-image-color-1
              img(src="/img/images/milk-icon.png")
            .mp-mi-content-block
              .mp-mi-title Молока в день
              .mp-mi-data#mp-milk-per-day(data-total='0') 585 л.
          .mp-main-info-block
            .mp-main-info-image.mp-main-info-image-color-2
              img(src="/img/images/milk-icon.png")
            .mp-mi-content-block
              .mp-mi-title Молока в месяц
              .mp-mi-data#mp-milk-per-month 17250 л.
          .mp-main-info-block
            .mp-main-info-image.mp-main-info-image-color-3
              img(src="/img/images/milk-icon.png")
            .mp-mi-content-block
              .mp-mi-title Молока в среднем
              .mp-mi-data#mp-milk-average 22 л.
        .mp-top-cows-block
          .mp-top-cows-header
            .mp-tc-title Лучшие результат
            a.mp-tc-link(href="#") Смотреть еще
          .mp-top-cows-container
            //-a.mp-top-cow(href='#')
              img(src="/img/images/default-cow-image.png")
              .mp-top-cow-overlay
                .mp-tc-name Березка
                .mp-tc-number #5036
        a.mp-to-block-page-btn(href="/herd")
          .mp-bpb-main-text 
            | Перейти на 
            span страницу 
            | модуля
          .mp-bpb-sub-text Больше информации и статистики
          ion-icon.mp-bpb-icon(name="paw")






