extends base

block content
  include _rcmVet
  section.main-section

    -if(!forEdit)
      -if(forOne)
        include _animalHeader

      .animal-results-window
        .ai-form-container.ai-form-vet#vet-action-container(class=`${forOne ? 'ai-form-container-headerful' : ''}`)

          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Ветеринарное действие


          -if(!forOne)
            .ai-selected-animals-block.ai-input-hidden#multiple-animals-container
              .ai-input-label Выбранные животные
              //-.ai-selected-animals-item #120231
                .ai-selected-animals-remove 
                  ion-icon(name="close")

            .ai-input-block.ai-input-block-select
              .ai-select-line
              .ai-input-label Животные
              input.ai-input.ai-input-select(type="text" placeholder="Номер или имя животного")
              .ai-select-block.ai-input-validation.shadow#multiple-animals
                each animal in animals
                  .ai-select-item(data-id=`${animal._id}`)
                    p.ai-select-name= `#${animal.number}`
                    -if(animal.name)
                      p.ai-select-sub-name= animal.name





          .ai-input-block.ai-input-block-text
            .ai-input-label Название
            input.ai-input.ai-input-text#name(type="text")
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно


          .ai-input-block.ai-input-block-small-select.ai-input-hidden#dose-input
            .ai-input-label Дозировка
            input.ai-input.ai-input-text.ai-input-small-select#dose(type="number")
            .ai-small-select#unit
              p мг.
              .ai-select-line
              .ai-small-select-block.shadow
                .ai-small-select-item(data-val="ml") мл.
                .ai-small-select-item.ai-small-select-item-selected(data-val="mg") мг.
                .ai-small-select-item(data-val="g") гм.


          .ai-add-input-container
            .ai-add-input#add-dose-input
              p
                | Дозировка
                span +

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Описание
            textarea.ai-textarea.ai-input-text#note

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date#date(type="datetime-local" class=`${forOne ? 'ai-input-validation' : ''}` data-animal-birth=`${forOne ? animal.birthDate : 'none'}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          a.ai-input-submit-btn(data-animal-id=`${forOne ? animal._id : ''}`) Сохранить


    -if(forEdit)      
      include _animalHeader

      .animal-results-window
        .ai-form-container.ai-form-vet#edit-vet-action-container(class='ai-form-container-headerful')

          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Ветеринарное действие

          .ai-input-block.ai-input-block-text
            .ai-input-label Название
            input.ai-input.ai-input-text#name(type="text" value=`${action.name}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно


          .ai-input-block.ai-input-block-small-select#dose-input(class=`${!action.dose ? 'ai-input-hidden' : ''}`)
            .ai-input-label Дозировка
            input.ai-input.ai-input-text.ai-input-small-select#dose(type="number" value=`${action.dose.amount}`)
            .ai-small-select#unit
              p мг.
              .ai-select-line
              .ai-small-select-block.shadow
                .ai-small-select-item(data-val="ml" class=`${treatment.dose.unit === 'ml' ? 'ai-small-select-item-selected' : ''}`) мл.
                .ai-small-select-item(data-val="mg" class=`${treatment.dose.unit === 'mg' ? 'ai-small-select-item-selected' : ''}`) мг.
                .ai-small-select-item(data-val="g" class=`${treatment.dose.unit === 'g' ? 'ai-small-select-item-selected' : ''}`) гм.


          .ai-add-input-container(class=`${action.dose ? 'ai-input-hidden' : ''}`)
            .ai-add-input#add-dose-input
              p
                | Дозировка
                span +

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Описание
            textarea.ai-textarea.ai-input-text#note= action.note

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date.ai-input-validation#date(type="datetime-local" data-animal-birth=`${animal.birthDate}` value=`${action.date.toLocaleString('ru-RU', {year: 'numeric'})}-${action.date.toLocaleString('ru-RU', {month: '2-digit'})}-${action.date.toLocaleString('ru-RU', {day: '2-digit'})}T${action.date.toLocaleString('ru-RU', {hour: '2-digit'})}:${action.date.toLocaleString('ru-RU', {minute: '2-digit'}).length < 2 ? `0${action.date.toLocaleString('ru-RU', {minute: '2-digit'})}` : action.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          a.ai-input-submit-btn(data-action-id=`${action._id}`) Сохранить




