extends base

block content
  include _rcmVet
  section.main-section 
    .all-animals-container#vet-history-container
      .all-animals-search 
        ion-icon(name="search-outline")
        input#history-page-search(type="text" placeholder="Поиск по названию")
      .history-page-categories-block
        .hp-category.hp-category-action.hp-category-active#action 
          ion-icon(name="medical")
          p Действия
        .hp-category.hp-category-problem.hp-category-active#problem
          ion-icon(name="thermometer")
          p Проблемы
        .hp-category.hp-category-treatment.hp-category-active#treatment  
          ion-icon(name="bandage")
          p Лечения
      
      .history-page-searched

      .history-page-container
        //-.history-page-month Январь, 2022

        each doc in actions
          .history-page-item-outter.history-page-action(data-date=`${doc.date}` data-doc-type=`action` data-doc-id=`${doc._id}`)
            a.history-page-item(data-date=`${doc.date}` href=`/vet/edit-action/${doc._id}`)
              .history-page-icon
                ion-icon(name="medical")
              .history-page-title= doc.name
              .history-page-date= `${doc.date.toLocaleString('ru-RU', {day: '2-digit'})}.${doc.date.toLocaleString('ru-RU', {month: '2-digit'})}.${doc.date.toLocaleString('ru-RU', {year: 'numeric'})}`
              .history-page-delete  
                ion-icon(name="close")
            .hp-delete-block
                p Вы уверенны?
                .hp-delete-block-btn.hp-delete-block-btn-keep Оставить
                .hp-delete-block-btn.hp-delete-block-btn-delete Удалить

        each doc in problems
          .history-page-item-outter.history-page-problem(data-date=`${doc.date}` data-doc-type=`problem` data-doc-id=`${doc._id}`)
            a.history-page-item(data-date=`${doc.date}` href=`/vet/edit-problem/${doc._id}`)
              .history-page-icon
                ion-icon(name="thermometer")
              .history-page-title= doc.name
              .history-page-date= `${doc.date.toLocaleString('ru-RU', {day: '2-digit'})}.${doc.date.toLocaleString('ru-RU', {month: '2-digit'})}.${doc.date.toLocaleString('ru-RU', {year: 'numeric'})}`
              .history-page-delete  
                ion-icon(name="close")
            .hp-delete-block
                p Вы уверенны?
                .hp-delete-block-btn.hp-delete-block-btn-keep Оставить
                .hp-delete-block-btn.hp-delete-block-btn-delete Удалить

        each doc in treatments
          .history-page-item-outter.history-page-treatment(data-date=`${doc.date}` data-doc-type=`treatment` data-doc-id=`${doc._id}`)
            a.history-page-item(data-date=`${doc.date}` href=`/vet/edit-treatment/${doc._id}`)
              .history-page-icon
                ion-icon(name="bandage")
              .history-page-title= doc.name
              .history-page-date= `${doc.date.toLocaleString('ru-RU', {day: '2-digit'})}.${doc.date.toLocaleString('ru-RU', {month: '2-digit'})}.${doc.date.toLocaleString('ru-RU', {year: 'numeric'})}`
              .history-page-delete  
                ion-icon(name="close")
            .hp-delete-block
                p Вы уверенны?
                .hp-delete-block-btn.hp-delete-block-btn-keep Оставить
                .hp-delete-block-btn.hp-delete-block-btn-delete Удалить
          


      

