extends base

block content
  include _rcmVet
  section.main-section 
    .dist-main-section#mp-vet-container
      .main-page-header
        .main-page-header-title ВЕТЕРИНАРИЯ
        .mph-actions-line
          a.mph-action-btn(href="/vet/add-action/multiple" qt="Добавить действие")
            img(src='/img/images/vet-action-icon.png')
          a.mph-action-btn(href="/vet/add-problem/multiple" qt="Добавить проблему")
            img(src='/img/images/vet-problem-icon.png')
          a.mph-action-btn(href="//vet/add-scheme" qt="Добавить схему")
            img(src='/img/images/vet-scheme-icon.png')

      -if(problemsFormated.length > 0)
        .main-flex-block
          .mp-block-outside-header
            .mp-block-outside-header-title Не вылеченные проблемы
          .vet-most-problems-block
            .vmp-animals-row.vmp-animals-row-first
              each prob in problemsFormated
                a.vmp-animals-row-item(href=`/herd/animal-card/${prob.animal._id}`)
                  img(src="/img/images/default-cow-image.png")
                  p ##{prob.animal.number}


            .vmp-title= sickAnimalsCount
            -if(rusEndChange)
              .vmp-sub-title ЖИВОТНОЕ
              .vmp-text ИМЕЕТ НЕ ВЫЛЕЧЕННУЮ ПРОБЛЕМУ ИЛИ БОЛЕЗНЬ
            -else
              .vmp-sub-title ЖИВОТНЫХ
              .vmp-text ИМЕЮТ НЕ ВЫЛЕЧЕННУЮ ПРОБЛЕМУ ИЛИ БОЛЕЗНЬ


          .vet-list-block
            .vet-list-block-header
              .vlbh-item.vlc-item-number Номер
              .vlbh-item.vlc-item-prob Проблема
              .vlbh-item.vlc-item-date Дата
              .vlbh-item.vlc-item-treat
            .vet-list-container.problems-container

              each problem in uncuredProblems
                .vlc-item(data-id=`${problem._id}`)
                  .vlc-item-info.vlc-item-number ##{problem.animal.number}
                  .vlc-item-info.vlc-item-prob.vlc-item-prob-color.run-text 
                    p= problem.name
                  .vlc-item-info.vlc-item-date.format-date(data-date=`${problem.date}`)
                  a.vlc-item-info.vlc-item-treat(href=`/vet/add-treatment/${problem._id}`) 
                    i.ph-fill.ph-first-aid

      -if(tableData.soonToInsem.length !== 0 || tableData.firstInsem.length !== 0 || tableData.soonToCalv.length !== 0)
        .herd-mp-flex-block
          .herd-mp-list-block-combined

            .mp-block-outside-header
              .mp-block-outside-header-title#table-title Список коров на осеменение
              .mp-block-outside-header-btn-block#table-btns
                .mp-block-outside-header-btn.mp-block-outside-header-btn-active#insem Осеменение
                .mp-block-outside-header-btn#calv Отел
            .herd-mp-list-block.herd-mp-list-block-insem
              -if(tableData.soonToInsem.length === 0 && tableData.firstInsem.length === 0)
                .no-info-block
                  .no-info-block-background
                  h3 Недостаточно данных
                  p Информация появится когда будет добавленно больше данных
              -else
                .herd-mp-list-block-header
                  .herd-mp-li-header-item Номер
                  .herd-mp-li-header-item Кличка
                  .herd-mp-li-header-item Лактация
                  .herd-mp-li-header-item Осеменение
                  .herd-mp-li-header-item
                .herd-mp-list-container
                  each cow in tableData.soonToInsem
                    a.herd-mp-list-line(data-first="false" href=`/herd/animal-card/${cow._id}`)
                      .herd-mp-list-line-item ##{cow.number}
                      .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                      .herd-mp-list-line-item.date-format(data-date=`${cow.lactations[cow.lactations.length - 1].startDate}`) 
                      .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text
                      .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text 
                  each cow in tableData.firstInsem
                    a.herd-mp-list-line(data-first="true" href=`/herd/animal-card/${cow._id}`)
                      .herd-mp-list-line-item ##{cow.number}
                      .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                      .herd-mp-list-line-item.date-format(data-date=`${cow.birthDate}`) -
                      .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text 
                      .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text 

            .herd-mp-list-block.herd-mp-list-block-calv
              -if(tableData.soonToCalv.length === 0)
                .no-info-block
                  .no-info-block-background
                  h3 Недостаточно данных
                  p Информация появится когда будет добавленно больше данных
              -else
                .herd-mp-list-block-header
                  .herd-mp-li-header-item Номер
                  .herd-mp-li-header-item Кличка
                  .herd-mp-li-header-item Осеменение
                  .herd-mp-li-header-item Отел
                  .herd-mp-li-header-item
                .herd-mp-list-container
                  each cow in tableData.soonToCalv
                    a.herd-mp-list-line(href=`/herd/animal-card/${cow._id}`)
                      .herd-mp-list-line-item ##{cow.number}
                      .herd-mp-list-line-item= `${cow.name ? cow.name : '-'}`
                      .herd-mp-list-line-item.date-format(data-date=`${cow.inseminations[cow.inseminations.length - 1].date}`) 
                      .herd-mp-list-line-item.date.herd-mp-list-line-indicator-text
                      .herd-mp-list-line-item.day.herd-mp-list-line-indicator-text

          .vet-insem-stat-block
            .vis-uninsem-block
              .vis-uninsem-number= `${tableData.soonToInsem.length + tableData.firstInsem.length}`
              .vis-uninsem-title КОРОВ НА ОСЕМЕНЕНИЕ
            .vis-count-block
              .vis-count-title УСПЕШНОСТЬ ПОПЫТОК
              each insemData in insemFormated
                .vis-count-block-inner(class=`${insemFormated.indexOf(insemData) === 0 ? 'vis-count-block-inner-active' : ''}` data-index=`${insemFormated.indexOf(insemData)}` data-last=`${insemFormated.indexOf(insemData) === insemFormated.length - 1 ? true : false}`)
                  .vis-count-block-number= insemData.attemps
                  .vis-count-block-percent= `${insemData.percent}%`
      -if(schemes.length !== 0)
        .main-flex-block
          .mp-block-outside-header
            .mp-block-outside-header-title Схемы

          .vet-list-block
            .vet-list-block-header
              .vlbh-item.vlc-item-number Номер
              .vlbh-item.vlc-item-prob Схема
              .vlbh-item.vlc-item-date Дата
            .vet-list-container.scheme-list
              each scheme in schemes
                .vlc-item(data-id=`${scheme._id}`)
                  .vlc-item-info.vlc-item-number ##{scheme.animal.number}
                  .vlc-item-info.vlc-item-prob.run-text(class=`${new Date(scheme.otherPoints[scheme.otherPoints.length - 1].date) > new Date() ? 'vlc-item-prob-scheme' : ''}`) 
                    p= scheme.scheme.name
                  .vlc-item-info.vlc-item-date.format-date(data-date=`${scheme.date}`)

          .vet-scheme-dropdown-block

            .vsd-header
              .vsd-header-body
                .vsd-header-body-title#scheme-title Тестовая схема #2 (5 шагов)
                .vsd-header-body-bottom
                  a.vsd-animal#scheme-animal(href="") #50261488
                  .vsd-header-date#scheme-date Ноябрь 27, 2023
              a.vsd-header-edit#scheme-edit(href="")
                i.ph.ph-pencil
            .vsd-items-container
              .vsd-item
                .vsd-item-body
                  .vsd-item-body-name Первый укол ацепитицын
                  .vsd-item-body-date Ноябрь 27, 2023 
                .vsd-item-number.vsd-item-number-current 1


  //-.detailed-info-window
    .detailed-info-block

      .dib-header
        img.dib-header-image(src="/img/images/default-cow-image.png")
        .dib-header-body  
          .dib-header-upper
            .dib-header-text-big #50261488
            .dib-header-text-big Березка
            a.dib-edit-btn(href="") Карта
          .dib-header-lower
        .dib-close 
          i.ph.ph-x

      .dib-body.dib-body-with-btn 
        .dib-body-title Ноет постоянно
        .dib-body-text Заебала просто пиздец, ноет и ноет каждый день
        .dib-body-container-devider
        .dib-body-container-text Лечения: 

        .dib-body-container-line
          .dib-line-indi.dib-line-indi-neg
          .dib-line-text Опять подзатыльник в общем то
          a.dib-line-edit(href="") Редактировать
        
      a.dib-big-btn.dib-big-btn-vet(href="") Добавить лечение
      .dib-footer
        .dib-footer-date Ноябрь 26, 2023
        a.dib-footer-edit(href="") Редактировать