extends base

block content
  include _rcmVet
  section.main-section 

    .main-page-container#mp-vet-container
      .mp-title ВЕТЕРИНАРИЯ
      .mp-info-box
        .mp-calendar-block.shadow
          .mp-calendar-day-block
            .mp-calendar-day-number 03
            .mp-calendar-day-month ФЕВРАЛЬ, 2023
            .mp-calendar-day-reminder-block
              .mp-calendar-day-reminder • Сделать укол
              .mp-calendar-day-reminder • Сделать укол Сделать укол Сделать укол Сделать укол
              .mp-calendar-day-reminder-more Еще 3 напоминания
            .mp-calendar-add-reminder
              p Напоминание
              ion-icon(name="add")
          .mp-calendar-table
            .mp-calendar-title-line 
              p Февраль 2023
              a.mp-calendar-btn#prev-month(data-state="first-click")
                ion-icon(name="chevron-back")
              a.mp-calendar-btn#next-month
                ion-icon(name="chevron-forward")
            .mp-calendar-main-block
              .mp-calendar-weekday-line
                .mp-calendar-weekday ПН
                .mp-calendar-weekday ВТ
                .mp-calendar-weekday СР
                .mp-calendar-weekday ЧТ
                .mp-calendar-weekday ПТ
                .mp-calendar-weekday СБ
                .mp-calendar-weekday ВС
              .mp-calendar-dates-block
                .mp-calendar-dates-column#mp-calendar-column-1
                  .mp-calendar-date.mp-calendar-other 1
                  .mp-calendar-date.mp-calendar-today 8
                  .mp-calendar-date.mp-calendar-full 15
                  .mp-calendar-date 21
                  .mp-calendar-date 28
                .mp-calendar-dates-column#mp-calendar-column-2
                .mp-calendar-dates-column#mp-calendar-column-3
                .mp-calendar-dates-column#mp-calendar-column-4
                .mp-calendar-dates-column#mp-calendar-column-5
                .mp-calendar-dates-column#mp-calendar-column-6
                .mp-calendar-dates-column#mp-calendar-column-0

        -if(actions.length > 0 || problems.length > 0 || treatments.length > 0 || schemes.length > 0)
          .mp-history-block#mp-vet-history-block.shadow
            .mp-history-block-header Ветеринарная история
            select.mph-type-selector
              option(value="all" selected) Все
              option(value="actions") Действия
              option(value="problems") Проблемы
              option(value="treatments") Лечения
              option(value="schemes") Схемы
            .mp-history-container
              each action in actions
                a.mp-history-item(data-type=`actions` data-date=`${action.date}` href=`/vet/edit-action/${action._id}`)
                  .mp-history-item-image 
                    ion-icon(name="medical")
                  .mp-history-item-info-block
                    .mp-history-item-main-info
                      p= action.name
                      p= `${Math.round((Date.now() - action.date.getTime()) / 1000 / 60 / 60 / 24)} дн. назад` 

              each problem in problems
                a.mp-history-item(data-type=`problems` data-date=`${problem.date}` href=`/vet/edit-problem/${problem._id}`)
                  .mp-history-item-image 
                    ion-icon(name="thermometer")
                  .mp-history-item-info-block
                    .mp-history-item-main-info
                      p= problem.name
                      p= `${Math.round((Date.now() - problem.date.getTime()) / 1000 / 60 / 60 / 24)} дн. назад`

              each treatment in treatments
                a.mp-history-item(data-type=`treatments` data-date=`${treatment.date}` href=`/vet/edit-treatment/${treatment._id}`)
                  .mp-history-item-image 
                    ion-icon(name="bandage")
                  .mp-history-item-info-block
                    .mp-history-item-main-info
                      p= treatment.name
                      p= `${Math.round((Date.now() - treatment.date.getTime()) / 1000 / 60 / 60 / 24)} дн. назад`

              each scheme in schemes
                a.mp-history-item(data-type=`schemes` data-date=`${scheme.date}` href=`/vet/edit-started-scheme/${scheme._id}`)
                  .mp-history-item-image 
                    ion-icon(name="calendar")
                  .mp-history-item-info-block
                    .mp-history-item-main-info
                      p= `${scheme.scheme.name}`
                      p= `${Math.round((Date.now() - scheme.date.getTime()) / 1000 / 60 / 60 / 24)} дн. назад`

      .mp-two-list-blocks
        -if(schemes.length > 0)
          .mp-schemes-block.shadow
            .mp-schemes-block-header Текущие схемы
            .mp-schemes-container
              each scheme in schemes 
                .mp-scheme-item.mp-scheme-i(data-date=`${scheme.date}`)
                  .mp-scheme-item-header
                    img(src='/img/images/default-cow-image.png')
                    p= `#${scheme.animal.number}`
                    ion-icon.mp-scheme-icon(name="chevron-down")
                    p.mp-scheme-name= scheme.scheme.name  
                  .mp-scheme-points-block
                    .mp-scheme-points-line
                    .mp-scheme-point(data-date=`${scheme.date}`)
                      .mp-scheme-point-number.mp-scheme-point-done
                        ion-icon(name="checkmark-sharp")
                        //p 1
                      p= scheme.name
                      p.mp-scheme-point-date= `${scheme.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
                    each point in scheme.otherPoints 
                      .mp-scheme-point(data-date=`${point.date}` data-finished=`${new Date(point.date) < new Date()}`)
                        .mp-scheme-point-number(class=`${new Date(point.date) < new Date() ? 'mp-scheme-point-done' : ''}`)
                          -if(new Date(point.date) > new Date())
                            -if(scheme.otherPoints.indexOf(point) !== scheme.otherPoints.length - 1)
                              p= `${scheme.otherPoints.indexOf(point) + 2}`
                            -else
                              ion-icon(name="flash")
                          -else
                            ion-icon(name="checkmark-sharp")
                        p= point.name
                        p.mp-scheme-point-date= `${point.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`

        -if(uncuredProblems.length > 0)
          .mp-schemes-block.shadow
            .mp-schemes-block-header Невылеченные пробемы
            .mp-schemes-container
              each problem in uncuredProblems
                .mp-scheme-item.mp-problem-i(data-date=`${problem.date}`)
                  .mp-scheme-item-header
                    img(src='/img/images/default-cow-image.png')
                    p= `#${problem.animal.number}`
                    ion-icon.mp-scheme-icon(name="chevron-down")
                    p.mp-scheme-name= problem.name
                  .mp-scheme-points-block
                    .mp-scheme-points-line
                    .mp-scheme-point(data-date=`${problem.date}`)
                      .mp-scheme-point-number
                        ion-icon(name="thermometer")
                      p Проблема добавлена
                      p.mp-scheme-point-date= `${problem.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
                    each treatment in problem.treatments 
                      .mp-scheme-point(data-date=`${treatment.date}`)
                        .mp-scheme-point-number
                          ion-icon(name="close")
                        p= treatment.name
                        p.mp-scheme-point-date= `${treatment.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`


    -if(actions.length === 0 && problems.length === 0 && treatments.length === 0 && schemes.length === 0, uncuredProblems.length === 0)
      .to-show-empty-block
      .mp-empty-block 
        img(src='/img/images/no-data-image.png')
        .mp-empty-title Нет актуальных данных
