extends base

block content
  include _rcmVet
  section.main-section

    -if(!forEdit)
      -if(forOne)
        include _animalHeader

      .animal-results-window
        .ai-form-container.ai-form-vet#vet-problem-container(class=`${forOne ? 'ai-form-container-headerful' : ''}`)
          .ai-block-sub-title ДОБАВИТЬ
          .ai-block-title Ветеринарную проблему

          -if(!forOne)
            .ai-selected-animals-block.ai-input-hidden#multiple-animals-container
              .ai-input-label Выбранные животные
              //-.ai-selected-animals-item #120231
                .ai-selected-animals-remove 
                  ion-icon(name="close")
            .ai-input-block.ai-input-block-select
              .ai-select-line
              .ai-input-label Животные
              input.ai-input.ai-input-select(type="text" placeholder="Номер или имя животного")
              .ai-select-block.ai-input-validation.shadow#multiple-animals
                each animal in animals
                  .ai-select-item(data-id=`${animal._id}`)
                    p.ai-select-name= `#${animal.number}`
                    -if(animal.name)
                      p.ai-select-sub-name= animal.name

          .ai-input-block.ai-input-block-text
            .ai-input-label Проблема
            input.ai-input.ai-input-text#name(type="text")
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Описание
            textarea.ai-textarea.ai-input-text#note

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date#date(type="datetime-local" class=`${forOne ? 'ai-input-validation' : ''}` data-animal-birth=`${forOne ? animal.birthDate : 'none'}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          a.ai-input-submit-btn(data-animal-id=`${forOne ? animal._id : ''}`) Сохранить


    -if(forEdit)
      include _animalHeader

      .animal-results-window
        .ai-form-container.ai-form-vet.ai-form-container-headerful#edit-vet-problem-container
          .ai-block-sub-title РЕДАКТИРОВАТЬ
          .ai-block-title Ветеринарную проблему

          .ai-input-block.ai-input-block-text
            .ai-input-label Проблема
            input.ai-input.ai-input-text#name(type="text" value=`${problem.name}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Описание
            textarea.ai-textarea.ai-input-text#note= problem.note

          .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date.ai-input-validation#date(type="datetime-local"  data-animal-birth=`${animal.birthDate}` value=`${problem.date.toLocaleString('ru-RU', {year: 'numeric'})}-${problem.date.toLocaleString('ru-RU', {month: '2-digit'})}-${problem.date.toLocaleString('ru-RU', {day: '2-digit'})}T${problem.date.toLocaleString('ru-RU', {hour: '2-digit'})}:${problem.date.toLocaleString('ru-RU', {minute: '2-digit'}).length < 2 ? `0${problem.date.toLocaleString('ru-RU', {minute: '2-digit'})}` : problem.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

          a.ai-input-submit-btn(data-problem-id=`${problem._id}`) Сохранить



