extends base

block content
  include _rcmVet
  section.main-section

    include _animalHeader

    -if(!forEdit)
      .ai-form-container.ai-form-vet.ai-form-container-headerful#vet-treatment-container

        .ai-block-sub-title ДОБАВИТЬ
        .ai-block-title Лечение

        .ai-problem-block(rc-title="Редактировать проблему" rc-link=`/vet/edit-problem/${disease._id}` data-state='show')
          .ai-input-label Проблема
          .ai-select-line
          //-ion-icon.ai-problem-icon(name="close-circle")
          .ai-problem-header
            .ai-problem-text= disease.name
            .ai-problem-text.ai-problem-sub-text#problem-date(data-date=`${disease.date}`)= `${disease.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
          .ai-problem-detail= disease.note


        .ai-input-block.ai-input-block-text
          .ai-input-label Лечение
          input.ai-input.ai-input-text#name(type="text")
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-small-select.ai-input-hidden#dose-input
          .ai-input-label Дозировка
          input.ai-input.ai-input-text.ai-input-small-select#dose(type="number")
          .ai-small-select#unit
            p мг.
            .ai-select-line
            .ai-small-select-block.shadow
              .ai-small-select-item(data-val="ml") мл.
              .ai-small-select-item.ai-small-select-item-selected(data-val="mg") мг.
              .ai-small-select-item(data-val="g") гм.


        .ai-add-input-container
          .ai-add-input#add-dose-input
            p
              | Дозировка
              span +

        .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Описание
            textarea.ai-textarea.ai-input-text#note
        
        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#cured
          .ai-input-label Результат
          .ai-pick#cured Вылечено
          .ai-pick#not-cured Не помогло

        .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date.ai-input-validation#date(type="datetime-local" data-disease-date=`${disease.date}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

        .ai-input-submit-btn(data-animal-id=`${animal._id}` data-disease-id=`${disease._id}`) Сохранить

    -if(forEdit)    
      .ai-form-container.ai-form-vet.ai-form-container-headerful#edit-vet-treatment-container

        .ai-block-sub-title РЕДАКТИРОВАТЬ
        .ai-block-title Лечение

        .ai-problem-block(rc-title="Редактировать проблему" rc-link=`/vet/edit-problem/${disease._id}` data-state='show')
          .ai-input-label Проблема
          .ai-select-line
          //-ion-icon.ai-problem-icon(name="close-circle")
          .ai-problem-header
            .ai-problem-text= treatment.disease.name
            .ai-problem-text.ai-problem-sub-text#problem-date(data-date=`${treatment.disease.date}`)= `${treatment.disease.date.toLocaleString('ru-RU', {minutes: 'numeric'})}`
          .ai-problem-detail= treatment.disease.note


        .ai-input-block.ai-input-block-text
          .ai-input-label Лечение
          input.ai-input.ai-input-text#name(type="text" value=`${treatment.name}`)
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Обязательно

        .ai-input-block.ai-input-block-small-select#dose-input(class=`${!treatment.dose ? 'ai-input-hidden' : ''}`)
          .ai-input-label Дозировка
          input.ai-input.ai-input-text.ai-input-small-select#dose(type="number" value=`${treatment.dose.amount}`)
          .ai-small-select#unit
            p мг.
            .ai-select-line
            .ai-small-select-block.shadow
              .ai-small-select-item(data-val="ml" class=`${treatment.dose.unit === 'ml' ? 'ai-small-select-item-selected' : ''}`) мл.
              .ai-small-select-item(data-val="mg" class=`${treatment.dose.unit === 'mg' ? 'ai-small-select-item-selected' : ''}`) мг.
              .ai-small-select-item(data-val="g" class=`${treatment.dose.unit === 'g' ? 'ai-small-select-item-selected' : ''}`) гм.


        .ai-add-input-container(class=`${treatment.dose ? 'ai-input-hidden' : ''}`)
          .ai-add-input#add-dose-input
            p
              | Дозировка
              span +

        .ai-input-block.ai-input-block-text.ai-input-block-textarea
            .ai-input-label Описание
            textarea.ai-textarea.ai-input-text#note= treatment.note
        
        .ai-input-block.ai-input-block-pick.ai-input-block-pick-one#cured
          .ai-input-label Результат
          .ai-pick#cured(class=`${treatment.cured === true ? 'ai-to-pick' : ''}`) Вылечено
          .ai-pick#not-cured(class=`${treatment.cured === false ? 'ai-to-pick' : ''}`) Не помогло

        .ai-input-block.ai-input-block-text
            .ai-input-label Дата и время
            input.ai-input.ai-input-date.ai-input-validation#date(type="datetime-local" data-disease-date=`${treatment.disease.date}` value=`${treatment.date.toLocaleString('ru-RU', {year: 'numeric'})}-${treatment.date.toLocaleString('ru-RU', {month: '2-digit'})}-${treatment.date.toLocaleString('ru-RU', {day: '2-digit'})}T${treatment.date.toLocaleString('ru-RU', {hour: '2-digit'})}:${treatment.date.toLocaleString('ru-RU', {minute: '2-digit'}).length < 2 ? `0${treatment.date.toLocaleString('ru-RU', {minute: '2-digit'})}` : treatment.date.toLocaleString('ru-RU', {minute: '2-digit'})}`)
            .ai-input-marker.ai-input-marker-r
              ion-icon(name="alert")
            .ai-input-explain-block.ai-input-explain-block-required
              .ai-input-eb-tri
              .ai-input-eb-text Обязательно

        .ai-input-submit-btn(data-animal-id=`${animal._id}` data-treatment-id=`${treatment._id}`) Сохранить




